[2022-03-15 17:10] heftymouse opened #12 "Suggestion: Implement Language Server Protocol for extensions"
The Language Server Protocol defines a cross-editor protocol to obtain rich language features from an external source. Adding support for this to CodeEdit would make it far simpler to port language extensions from other IDEs (especially VSCode), making everyone's life easier :p

[2022-03-16 18:02] austincondiff opened #17 "✨ CLI Tools"
It may be good to be able to open a file or directory from the command line with a command like `codeedit .` or `codeedit index.js` etc.

[2022-03-17 05:13] austincondiff opened #19 "[BUG] - Automatic Previews Failing"
A few of us have been seeing the following message when trying to build automatic previews in Xcode.

[code]

I was under the assumption we didn't want a team ID because it caused errors when other people pull the code down. If I put a team ID in anyways, the automatic preview hangs and times out.

We need to fix this to improve productivity among project contributors.

[2022-03-17 05:24] austincondiff opened #20 "Improve file open performance"
It takes a few seconds to open a folder in the sidebar, to open files once clicked in the sidebar, or even when clicking another tab. We need to improve load times for near instant results as expected by the user.

[2022-03-17 05:28] austincondiff opened #21 "🐞 Handle long file load times"
It takes a few seconds to open files once clicked (See #20). Before fixing this, let's take this opportunity to handle large files that may take a while to load.

If the file takes a while to open, the UI should respond to the users action immediately, otherwise they will think the app is frozen/broken.

I'd recommend opening an empty tab with a label of filename from the file tree in the sidebar.

[2022-03-17 07:42] RayZhao1998 opened #22 "The project takes a lot of memory"
Hi, when I open the project, the process of `swift-frontend` will take a lot of memory. Do you have any ideas?
![image](https://user-images.githubusercontent.com/22616933/158760460-8f5dfe85-3ad1-4334-89af-b4ca63551544.png)

Xcode version: Version 13.1 (13A1030d)
Device info: MacBook Pro(16-inch, 2021) M1 Max 64g

[2022-03-17 08:26] lukepistrol commented on #22
Which Xcode Version are you on?

[2022-03-17 08:30] lukepistrol commented on #22
Ok never mind 😄 I should've read the whole issue.

Make sure to update to 13.3!

[2022-03-17 09:49] RayZhao1998 commented on #22
All right. I'll try later.

[2022-03-17 09:56] #22 closed

[2022-03-17 10:21] zaber0174 opened #24 "Hi"

[2022-03-17 11:52] lukepistrol commented on #20
This should be fixed once PR #25 is merged!

[2022-03-17 12:19] Ellaleela opened #26 "Read me"

[2022-03-17 12:20] Ellaleela opened #27 "Hello world"

[2022-03-17 12:44] #27 closed

[2022-03-17 12:45] #26 closed

[2022-03-17 17:33] austincondiff opened #30 "Project navigator: By default folders need to be listed above files alphabetically"
Currently in the project navigator in the sidebar, files and folders are listed together. Folders need to all go above files. Maybe we have a setting that controls this behavior, but folders above files should be the default behavior.

[2022-03-17 17:59] lukepistrol commented on #30
Since #32 was merged, this can be closed

[2022-03-17 18:00] austincondiff opened #34 "💬 Identify Preferences Design"
How do we want to manage preferences? Let's get a discussion going so we can arrive to the best solution for our users.

Do we want to sync via iCloud between devices?

Can project specific settings override global settings?

How do we want to display these settings?

Option A
<img width="1728" alt="15-macOS-code-edit-preferences" src="https://user-images.githubusercontent.com/806104/158866008-f4c

[2022-03-17 18:03] jasonplatts commented on #34
I personally prefer option B since it is how xCode implements the preferences.

[2022-03-17 18:06] jasonplatts commented on #34
I agree with @lukepistrol. Option C would make sense for project settings. I also think iCloud storage of global settings would be nice with project settings stored in a  .codeedit. This is how Nova and VS Code both store project specific settings.

[2022-03-17 18:09] jasonplatts commented on #34
We may also want to consider adding the ability to sync installed extension between computers through iCloud. Many extensions also have global and local settings. It would be nice to save those the same way.

[2022-03-17 18:14] austincondiff opened #35 "Welcome Screen"
Instead of displaying a standard open screen on launch, we might create a Welcome screen similar to Xcode's.

<img width="914" alt="image" src="https://user-images.githubusercontent.com/806104/158868651-4969929f-eac2-4192-b75f-a168434f2b90.png">

This screen would have a checkbox that says "Show this window when CodeEdit launches" that would also be found in Preferences.

[2022-03-17 18:19] #30 closed

[2022-03-17 18:29] jasonplatts commented on #34
Good point.

Would there be any preferences that would not be retained in the cloud? Any that might be system specific?

If so, perhaps those preferences could be made available like in option B. Global and project-specific settings that are retained in iCloud could then be made available like in option C.

I really like the simple global/workspace toggle you have in the option C design.

[2022-03-17 18:31] jasonplatts commented on #34
This might also help prevent confusion between what settings are available in JSON. Option B preferences are not JSON configurable, option C preferences are also configurable using JSON.

Just a few thoughts...Not sure how others feel about it.

[2022-03-17 18:32] lukepistrol commented on #34
I'm actually happy with any option as long as it's not editing weird JSON like in VSCode 😄

[2022-03-17 18:34] austincondiff commented on #34
Maybe I'm weird but I'd like that option 😅

[2022-03-17 18:37] jasonplatts commented on #34
I agree 😄 I would get used to any option.

[2022-03-17 18:37] lukepistrol commented on #34
I just don't want to rely on documentation for preferences. I also want to scroll through and see what options there are with easy on/off toggling and so on. To be fair most options in VSCode have a GUI but some specific options like coloring of the terminal don't.

[2022-03-17 18:40] austincondiff commented on #34
Yeah, let's make it a rule that if there is a setting, it HAS to be in the GUI

[2022-03-17 18:45] austincondiff opened #36 "👀 Editor View"
## Overview

We need to implement a fully featured editor view. This view sits inside the Workspace UI (#346). We need to determine if we should roll our own ~~or use an existing solution~~.

## Features

Our code editor view should include the following features

- [x] Syntax Highlighting
  - https://github.com/CodeEditApp/CodeEditLanguages/issues/10
- [x] CodeEditApp/CodeEdit#189
- [ ] CodeEditA

[2022-03-17 18:46] austincondiff opened #37 "Breadcrumb Bar"
<img width="522" alt="image" src="https://user-images.githubusercontent.com/806104/158874155-1541d269-3519-4393-8369-842cde1204f7.png">

This should be togglable between visible and hidden in the view menu and in preferences.

[2022-03-17 18:48] austincondiff opened #38 "[FEAT] - Status bar"
<img width="735" alt="image" src="https://user-images.githubusercontent.com/806104/158874595-82feb077-fb67-4f83-86ab-3e015788cbd8.png">

This should be togglable between visible and hidden in the view menu and in preferences.

[2022-03-17 18:51] austincondiff opened #39 "Ability to Save file"
We need to be able to save a file once edited.

[2022-03-17 18:52] austincondiff opened #40 "Handle Unsaved Changes"
If user attempts to close a file that has been edited but not saved, we need to warn them and give them the chance to save or disregard their changes.

[2022-03-17 18:53] lukepistrol commented on #36
I'll dump some resources to consider here:

* https://github.com/mchakravarty/CodeEditorView
* https://github.com/dwarvesf/CodeViewer
* https://github.com/ZeeZide/CodeEditor
* https://github.com/twostraws/Sourceful
* https://github.com/louisdh/savannakit

[2022-03-17 18:54] lukepistrol commented on #40
I think at the moment it always saves the file once you edit it instantly

[2022-03-17 18:55] austincondiff opened #41 "✨ Drag to reorder sidebar dock icons"
Icons in each sidebar’s dock needs to be able to be reordered via drag and drop.

![image](https://user-images.githubusercontent.com/806104/163743890-88a64bc0-cb76-4100-a42c-c999f88c3012.jpeg)

Please note that this will need to be applied to the navigator sidebar (left) and the inspector sidebar (right).

Also, keep in mind that we will eventually need the ability to drag these icons down to crea

[2022-03-17 18:59] austincondiff commented on #36
I've spoken to the developer of [CodeEditorView](https://github.com/mchakravarty/CodeEditorView) and added https://github.com/mchakravarty/CodeEditorView/issues/43 and https://github.com/mchakravarty/CodeEditorView/issues/44. I also left some comments on https://github.com/mchakravarty/CodeEditorView/issues/3.

[2022-03-17 19:05] lukepistrol commented on #37
I'll implement this. PR draft will follow once I got something.

[2022-03-17 19:07] austincondiff commented on #37
Eventually we need to put code symbols in the breadcrumbs but we will do that later when we build that out.

[2022-03-17 19:10] austincondiff opened #42 "Quick open search bar overlay"
- [x] Decide on a keyboard shortcut to use to evoke a quick open search bar.
  - Xcode: Cmd+Shift+O
  - ~~VS Code, Atom, Sublime Text: Cmd+Opt+P~~
- [x] Build search bar similar to Apple Spotlight or Xcode quick open
- [x] Build file list of search results
- [ ] Keyboard navigation to navigate list and select option, or escape

<img width="1728" alt="05-macOS-code-edit-file-search" src="https://us

[2022-03-17 19:17] gaetgu opened #43 "Discord Invite Expired"
Hi! I was trying to join the discord using the link(s) in the README, but it appears that they are expired. Can you please update them? Thanks!

[2022-03-17 19:19] #43 closed

[2022-03-17 19:27] pkasila commented on #40
Actually, no, it doesn't save files at the moment.

@austincondiff you can assign this issue to me, I'll handle it tomorrow, I guess

[2022-03-17 21:13] austincondiff opened #45 "[BUG] - Clicking disclosure button next to folder doesn't animate open"
When clicking the disclosure button next to a folder, it doesn't animate open but it animates closed. It needs to animate open as well.

[2022-03-17 22:31] lukepistrol commented on #42
I like `cmd + Shift + O` more

[2022-03-17 22:36] austincondiff commented on #42
Let's do it then since we are trying to steer closer to Xcode rather than VS Code. We can always develop an extension that provides VS Code key bindings.

[2022-03-17 23:12] jeff-h commented on #34
Not sure if you're really after random strangers' input at this stage but if so... I wonder if you could mimic Xcode's project-level settings. I guess this is pretty similar to option C.

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/841871/158908432-5ed5cedf-563b-4780-925e-ca41c5acf85c.png">

Behind the scenes this would essentially be a GUI for the values inside th

[2022-03-18 01:35] austincondiff opened #46 "✨ Automatically Generated Color Schemes based on window tint color"
One unique thing about Apple devices whether it be the iPhone iPad or Mac, they conform their UI to your wallpaper. Between vibrancy effects and window tinting. So that being in the case why not follow suit with syntax highlighting?

We could provide an option to automatically generate a theme based on the users window tint color. We could give the user the option of using different strategies – c

[2022-03-18 02:52] austincondiff opened #48 "Color or Monochromatic Icons Setting"
It would be nice to be able to toggle between monochromatic and color icons. We should include this as a setting to be applied to icons in the sidebar and breadcrumb bar. This would also mean each file type be associated with a color.

[2022-03-18 06:00] austincondiff opened #49 "🐞 Fix Toolbar and Tabs Style Differences"
The toolbar is nearly white in Xcode and Finder in light mode while in CodeEdit it is light gray.

<img width="427" alt="image" src="https://user-images.githubusercontent.com/806104/158944330-acda2254-867d-4687-951e-217f41f214e7.png">
<img width="401" alt="image" src="https://user-images.githubusercontent.com/806104/158944957-c65a5f43-f48a-40bd-9026-233b271b8d55.png">
<img width="361" alt="image"

[2022-03-18 10:35] wdg opened #52 "Set up code reviews."
Set up a group of volunteers to do code reviews, as also mentioned in the Discord.

https://discord.com/channels/951544472238444645/954084547694325861/954116870024343603

[2022-03-18 13:07] wdg opened #54 "⌘W Should close active tab instead of window."
⌘W Should close active tab instead of window.

[2022-03-18 13:27] lukepistrol commented on #37
Navigation in Breadcrumbs is still missing.

[2022-03-18 13:58] wdg commented on #54
I found a solution, submitting PR in a moment :]

[2022-03-18 14:11] #54 closed

[2022-03-18 14:58] wdg commented on #40
That is how Xcode behaviours.

e.g. VS Code requires you to save the file yourself

imho it should be a setting, and that you always can save using `⌘S`

[2022-03-18 15:11] austincondiff commented on #48
@lukepistrol per #59, is there a setting to change icons back to monochromatic?

[2022-03-18 15:22] austincondiff commented on #36
Let's reopen because this editor is just a start. I assume based on PR comments that it will not support #46

[2022-03-18 16:12] WardsParadox opened #62 "✨ Git Diff + Tree views"
A diff view and tree view built in for git (and other version control systems) would be a great addition. One less plugin needed :)

Opening diff view from CLI would also be nice to have.

[2022-03-18 16:25] gruberdev commented on #43
It seems to be expired for me as well.

[2022-03-18 16:46] lukepistrol commented on #48
@austincondiff see PR #66

[2022-03-18 17:20] #48 closed

[2022-03-18 17:25] austincondiff commented on #62
For reference...
<img width="1728" alt="01-macOS-code-edit-source-control" src="https://user-images.githubusercontent.com/806104/159052764-dde9eb7f-3cf7-4a02-8dc3-d7dc0df33436.png">

[2022-03-18 17:31] highjeans commented on #49
I am trying to figure out how to fix the toolbar portion right now, I will look at the tab bar after.

[2022-03-18 18:34] WardsParadox commented on #62
That looks pretty good. But lacks standard symbols (+, -) for diffs or highlighting specifics

[2022-03-18 18:36] austincondiff commented on #62
On line 16 it is highlighting specifics. "mockData". This is just a mockup. This is exactly how Xcode handles it. This behavior should be default.

[2022-03-18 18:46] Ondolin opened #70 "✨ Homebrew Fomula"
A homebrew formula for this project would be really useful. This should make updating to the newest version way more convenient.

Is it planned to create one in this early phase of the project?

[2022-03-18 19:18] lukepistrol commented on #70
I think at the moment not but later on in development most definitely!

[2022-03-18 20:05] Pavankumarpk0 opened #72 "P K"

[2022-03-18 20:32] #72 closed

[2022-03-18 21:24] wdg commented on #52
I added a SwiftLint phase to the project.

https://github.com/CodeEditApp/CodeEdit/pull/74

Maybe it's an good idea to also let the unit tests check for listing errors.

[2022-03-18 22:51] austincondiff commented on #35
Reopening, there are some big differences that need to be resolved before this is done.

Compare these two
<img width="914" alt="image" src="https://user-images.githubusercontent.com/806104/159093419-14c4804d-c00c-4988-983b-6c7b1b9f8fa4.png">
<img width="910" alt="image" src="https://user-images.githubusercontent.com/806104/159093235-ffda8d83-dd14-48e6-8932-64e2907dfa38.png">

- [ ] CodeEdit does

[2022-03-19 03:16] austincondiff commented on #34
I’d imagine there would be a .codeedit/config.json in your home directory for global settings and a .codeedit/config.json in your project directories for project specific settings.

[2022-03-19 03:45] RayZhao1998 commented on #35
I'll fix them today!

[2022-03-19 04:02] jasonplatts opened #76 "Add Extension API"
# Overview
We need to provide an extension API giving developers the ability to extend CodeEdit.

# Features
- [ ] Code completions with icon and details support
- [ ] Hover Providers
- [ ] Commands
- [ ] Language Server Protocol
- [ ] Treeview (sidebar)
- [ ] Keybindings
- [ ] Themes
- [ ] Webview Support for providing user interfaces

# Implementation
Each extension will likely need to include a

[2022-03-19 06:11] #39 closed

[2022-03-19 06:11] #40 closed

[2022-03-19 10:09] austincondiff commented on #35
@[RayZhao1998 I just submitted a PR with the checked items done.

[2022-03-19 10:13] austincondiff commented on #35
Looks like there is pressed state for the close button that I missed as well. The hover animation also is broken on mouse off for the close button (works on the checkbox).

[2022-03-19 11:29] nanashili opened #86 "🐞 Threading Issues"
When opening a large file the editor takes a massive hit in performance and ends up using a lot of resources on thread one. Also when you try to scroll it needs to load the file every time due to its size.

![Screenshot 2022-03-19 at 13 28 07](https://user-images.githubusercontent.com/63672227/159119275-62ec7509-44a6-455c-93fb-ce8376d64309.png)

# Tabs

![Screenshot 2022-04-14 at 22 10 03](https:/

[2022-03-19 13:04] lukepistrol opened #90 "Welcome Screen: Recents List - Operation not permitted"
When trying to open a recent file from the list on `Welcome Screen` it will not open. It prints an error message in the console:

[code]

<img width="884" alt="Screen Shot 2022-03-19 at 14 03 27" src="https://user-images.githubusercontent.com/9460130/159122178-8ed7da8b-a206-4ae0-a303-49d6c87f2ad8.png">

[2022-03-19 13:05] MarcoCarnevali commented on #36
I'm actively working on a custom solution built over Highlightr.js!

[2022-03-19 13:16] viktorstrate commented on #42
Potentially relevant WWDC about creating child windows and sending events between windows.

https://developer.apple.com/devcenter/download.action?path=/videos/wwdc_2010__hd/session_145__key_event_handling_in_cocoa_applications.mov

[2022-03-19 14:39] nanashili opened #93 "Preference issue in fullscreen"
When in fullscreen the preference screen goes full screen instead of keeping its original size.

![Screenshot 2022-03-19 at 16 37 31](https://user-images.githubusercontent.com/63672227/159125482-4019da96-5c09-4a01-a7b7-3cb42b61a827.png)

[2022-03-19 15:05] nanashili opened #94 "✨ 'Create project' screen"
Do we plan on building a create project screen similar to that of Xcode? And if we are is someone busy building it if not im willing to give a go at it!

![Screen_Shot_2022-03-19_at_15.59.06.png](https://user-images.githubusercontent.com/63672227/159126486-cdb7edff-858e-4fbd-a3c2-43b65d5746bc.png)

[2022-03-19 15:13] #93 closed

[2022-03-19 15:51] RayZhao1998 opened #96 "Local setting of SwiftLint"
Now the Github Action's lint is strict mode but not local. Should we open strict mode local too?

And do we need adding a SwiftLint pre-commit hook to check before commit?

[2022-03-19 15:55] lukepistrol commented on #96
As already said on Discord, my opinion:

Locally I'd prefer to not have strict mode enabled since it's more convenient to test/implement things without fixing small syntax inconsistencies. Once you are ready to commit you should then resolve all the warnings.

But I'm open to other's opinions.

[2022-03-19 15:59] lukepistrol opened #97 "Move Contribution Guide to `CONTRIBUTING.md`"
See PR #91

[2022-03-19 17:48] austincondiff opened #98 "✨ Setting for editor font size"
We need to be able to set the font size for the editor. There should be a setting in the preferences window and Cmd + and Cmd - should do this when the editor is in focus.

[2022-03-19 18:02] austincondiff opened #100 "✨ Use compact list items in sidebar Project navigator"
Notice the height of each item in Xcode is 22px while in CodeEdit it is 28. We need to use a more compact item size to match. This will be useful in large projects. This should also be a setting so that the user could choose list item density across the app (will affect more than just the project navigator). The default should be compact.

[2022-03-19 18:04] wdg commented on #70
Keep in mind to make it an cask

Reference:
https://docs.brew.sh/Acceptable-Formulae#stuff-that-builds-an-app

#### Stuff that builds an .app
Don’t make your formula build an .app (native macOS Application); we don’t want those things in Homebrew. Encourage upstream projects to build and support a .app that can be distributed by [homebrew/cask](https://github.com/Homebrew/homebrew-cask) (and used

[2022-03-19 18:11] austincondiff commented on #94
I was actually just discussing this view with @jasonplatts. To summarize, we were considering allowing extensions (and users for that matter) to create project templates in this view. Instead of iOS, macOS, watchOS, tvOS, DriverKit, etc. it would say Javascript, Python, Ruby, Go, Java, etc. It would react to whatever extensions you have installed. So if I don't care about others except Javascript

[2022-03-19 18:13] wdg commented on #94
Wirh the usage of custom templates like Xcode does?

[2022-03-19 18:15] austincondiff commented on #94
Yes, that is the idea. Allow users to create these templates, but extensions could offer these as well.

[2022-03-19 18:15] nanashili commented on #94
We could have like a suggested page based on what the user programs in the most?

[2022-03-19 19:34] nanashili opened #103 "✨ Get Started Screen"
Why don't we add a get started screen when the user opens the editor directly instead of from the welcome screen or when the user has disabled the welcome screen. Because currently if you open Xcode without the welcome screen you don't really notice the editor is open unless you look at menu section at the top and open a project from there.

The idea I have is to go along the the routes of VS Code

[2022-03-19 19:50] lukepistrol commented on #100
Is the font size right, so just a padding issue of the `Text`?

[2022-03-19 20:00] lukepistrol commented on #103
We always can make the user choose. The default will probably be the more native approach.

[2022-03-19 20:03] austincondiff commented on #103
To be honest I always glaze over this screen in VS Code. I like the welcome screen better because it feels more focused. Then you can always change the behavior. It also feels more Apple-esque

[2022-03-19 20:04] nanashili commented on #103
Then we should just open an empty editor just so that it doesn't look like the app froze or something.

[2022-03-19 20:18] austincondiff commented on #35
@RayZhao1998 Double-clicking a recent item does nothing. Please fix this.

[2022-03-19 20:21] austincondiff opened #104 "Ability to open "data" file format"
I am unable to open files without an extension like `.zshrc`. We need to be able to open these files.

<img width="298" alt="image" src="https://user-images.githubusercontent.com/806104/159137208-7fc8b1c1-459b-4885-b41b-9a8b6ac99c34.png">

[2022-03-19 20:23] lukepistrol commented on #35
See issue #90

[2022-03-19 20:24] austincondiff commented on #35
I also added a vibrancy effect yesterday and that is not behind the recent files list anymore.

[2022-03-19 21:39] jasonplatts opened #107 "Help Documentation"
# Overview
Help documentation will be needed for the CodeEdit application and Extension API. @austincondiff and I discussed using the DocC documentation compiler, which converts Markdown-based text into documentation for Swift projects. This is the same documentation framework used by Xcode.

## Documentation Sections
- [ ] Getting Started
- [ ] Command Line
- [ ] Languages
- [ ] Extensions
- [ ]

[2022-03-19 21:43] lukepistrol commented on #107
DocC is great. Even deployable on GitHub Pages or any other web server! 👍🏻

[2022-03-19 21:44] jasonplatts commented on #107
I have assigned myself to this issue to monitor and contribute as the project progresses, but anyone please feel free to contribute.

[2022-03-19 21:45] jasonplatts commented on #107
Sounds good Luke! Awesome to discover that it integrates with Github!

[2022-03-19 21:49] lukepistrol commented on #107
Just did it with a personal project of mine: https://lukepistrol.github.io/KrakenAPI/documentation/krakenapi/

I think it looks great

[2022-03-19 21:50] lukepistrol commented on #107
I can post some resources on how to compile and some tricks I learned doing above mentioned docs.

[2022-03-19 22:16] #104 closed

[2022-03-19 22:36] lukepistrol commented on #19
I actually found that it would not work without a team ID set. But once I set my personal team ID and changed signing from local to develop it works like it should.

[2022-03-19 22:39] jasonplatts commented on #107
That would be awesome @lukepistrol. Thanks!!

[2022-03-19 22:41] jasonplatts commented on #107
Love it! Looks great. Nice work!

[2022-03-19 23:26] lukepistrol opened #110 "ISSUE: Folder will not open"
With the current `main` I cannot open a folder anymore. I select one but nothing happens.

Last working version after #95

[code]

[2022-03-20 00:32] mattmassicotte opened #111 "Possible collaboration?"
I just stumbled onto this project today, and I'm super pumped to see it! I'm always excited about new development tools for macOS, particular editors!

I work on a macOS editor called [Chime](https://www.chimehq.com). While it is a commercial product, we have a very heavy emphasis on open sourcing the app's internals. We are big believers in small, focused libraries. I've worked with a few other e

[2022-03-20 00:46] jasonplatts commented on #111
Hi @mattmassicotte. Welcome! Glad you found the project.

It definitely seems like there might be some ways to collaborate! For one, we will need to implement LSP. Everyone is free to contribute and get involved.

I'm sure others will chime in soon. In the meantime, please join us on Discord.

[2022-03-20 00:48] jasonplatts commented on #111
https://discord.gg/vChUXVf9Em

[2022-03-20 00:51] lukepistrol commented on #111
Possibly very interesting for Issue #36

[2022-03-20 00:56] lukepistrol commented on #110
Update: Opening from recents list on welcome window works as expected. See video below:

https://user-images.githubusercontent.com/9460130/159143518-eadb5354-10fd-4bb9-b58d-42d2b381465e.mov

[2022-03-20 01:18] lukepistrol commented on #107
Will start gathering the resources tomorrow!

[2022-03-20 01:21] lukepistrol commented on #35
The Welcome Screen can be opened multiple times using `Window>Welcome to CodeEdit` or pressing `⇧+⌘+0`

[2022-03-20 01:22] lukepistrol commented on #35
And Issue: #110

[2022-03-20 01:23] #90 closed

[2022-03-20 01:24] lukepistrol commented on #100
I investigated this a little and it does not seem that this can be changed in SwiftUI.

tried:
* applying negative padding
* setting a fixed height
* changing font and icon size down

[2022-03-20 01:38] lukepistrol commented on #45
To learn more about current state see #61

TLDR: Doing it the `right` way (from an SwiftUI perspective) comes with major performance losses due to reloading of all files when selecting a file (even collapsed ones). The current state does not render collapsed file items.

[2022-03-20 01:46] jasonplatts commented on #107
Thank you! No rush.

[2022-03-20 01:48] lukepistrol opened #112 "Figure out how to run `GitHub Workflow` on macOS 12"
Since the platform version of `CodeEditModules` currently is `.v11` and prohibits using recent SwiftUI additions like background materials, we decided to bump it to `.v12`.

The problem with this is that GitHub Actions yet only works with `macOS 11` and thus tests will fail.

We need to figure out a way to run the workflow on `macOS 12` somehow.

@MarcoCarnevali said he will have a look at it soon

[2022-03-20 01:50] lukepistrol commented on #38
Current state. Just dummy elements at the moment.

<img width="999" alt="Screen Shot 2022-03-20 at 01 23 37" src="https://user-images.githubusercontent.com/9460130/159144603-3c34f29b-37f0-4323-a2a5-b1df39bb9199.png">

https://user-images.githubusercontent.com/9460130/159144609-1d1eca14-be9f-4e46-a902-462b8035ee42.mov

[2022-03-20 03:31] austincondiff commented on #35
@lukepistrol I will make that into a separate issue and close this one.

[2022-03-20 03:31] #35 closed

[2022-03-20 03:33] austincondiff opened #113 "Multiple Welcome Windows Possible"
The Welcome Screen can be opened multiple times using Window > Welcome to CodeEdit or pressing ⇧+⌘+0. This should not be possible.

[2022-03-20 05:21] RayZhao1998 commented on #113
Please assign to me

[2022-03-20 05:24] RayZhao1998 commented on #110
You've changed this value from `public.source-code` to `public.item` in #105. It makes that folder cannot be opened.

https://github.com/CodeEditApp/CodeEdit/blob/1c3132e8c3226519cf030c43c5104efe0741a79e/CodeEdit/Info.plist#L30

[2022-03-20 06:02] pkasila commented on #110
Seems like there is a problem with the priority of `Workspace` folders and `Source code` files. So, it tries to open any `public.item` as `CodeFile`. This issue has a straightforward fix (change the priority), I'll fix it right now.

[2022-03-20 06:28] pkasila commented on #42
I'll try to implement it

[2022-03-20 07:31] #113 closed

[2022-03-20 07:37] vko-online opened #116 "Runnable app"
Can you guys create a release, for playing around, without downloading source
Would be nice if it could auto update

[2022-03-20 07:48] nanashili commented on #116
Hi vko, we will release a app once we get the CodeEdit into the Alpha stage at this point it's pretty much still barebones.

[2022-03-20 07:50] vko-online opened #117 "Theme"
Please add VsCode and Xcode editor themes

[2022-03-20 07:50] #116 closed

[2022-03-20 07:55] #110 closed

[2022-03-20 09:46] #97 closed

[2022-03-20 09:51] austincondiff opened #121 "[FEAT] - Remember application state when closing and restore state when opening"
If the app is closed without first closing project window(s), we should remember which directory was open and which tabs were open so when the user starts the app again, instead of displaying the welcome screen, it will open in the state you were in so you can pick up where you left off.

[2022-03-20 10:44] mattmassicotte commented on #111
I've joined the discord. What a community you've established, and so quickly! I'll talk with you all more there.

[2022-03-20 10:44] #111 closed

[2022-03-20 11:43] lukepistrol commented on #107
## Some Resources:
* https://www.swift.org/documentation/docc/
* https://developer.apple.com/documentation/xcode/writing-symbol-documentation-in-your-source-files
* https://developer.apple.com/documentation/xcode/adding-structure-to-your-documentation-pages
* https://apple.github.io/swift-docc-plugin/documentation/swiftdoccplugin/publishing-to-github-pages/

## Tips:
### Static Hosting:
In `root`

[2022-03-20 11:47] lukepistrol commented on #117
Related to #36

[2022-03-20 12:35] mattmassicotte commented on #12
I work on two libraries related to Language Server Protocol that could be helpful.

[LanguageServerProtocol](https://github.com/ChimeHQ/LanguageServerProtocol) is low-level protocol support. LSP has a very large spec with a huge amount of types, not all of which map nicely to Swift. This lib wraps up all that.

[LanguageClient](https://github.com/ChimeHQ/LanguageClient) is a much higher-level abst

[2022-03-20 12:48] mattmassicotte commented on #36
@MarcoCarnevali Hello! It looks like you've already found something you want to use, but I thought I'd let you know what we're up to just in case.

My app ([Chime](https://www.chimehq.com)) does highlighting (and indentation) using [tree-sitter](https://tree-sitter.github.io/tree-sitter/). We've open sourced a [low-level library](https://github.com/ChimeHQ/SwiftTreeSitter) for working with it in S

[2022-03-20 13:35] KaterBasilisk6 commented on #112
I've done some research on this and found this form to request access to the private beta of `macOS 12` for GitHub Actions: [https://github.com/actions/virtual-environments/issues/3649#issuecomment-1068085030](https://github.com/actions/virtual-environments/issues/3649#issuecomment-1068085030)

[2022-03-20 13:37] lukepistrol commented on #112
@MarcoCarnevali can you have a look at it?

[2022-03-20 13:45] lukepistrol commented on #38
Update on current state:

<img width="912" alt="Screen Shot 2022-03-20 at 14 27 27" src="https://user-images.githubusercontent.com/9460130/159165424-a05f14c6-c71e-4219-88fc-6209247fcfb9.png">

https://user-images.githubusercontent.com/9460130/159165442-03a4da93-cd80-419a-80d6-a49cff7bb42f.mov

[2022-03-20 14:00] #117 closed

[2022-03-20 14:03] lukepistrol opened #123 "[FEAT] - Custom implementation of Sidebar"
In order to make the sidebar more adaptable and customizable we probably need to implement a completely custom one.

The target is to move away from using `NavigationLink` to display the `CodeFileView`

Steps that need to be taken:

- [ ] New Custom Sidebar should be added as a `Module` to `CodeEditModules`

- [x] move `CodeFileView` to `WorkspaceView` and display if `workspace.selectedId` is set.

[2022-03-20 16:28] lukepistrol commented on #107
Something we could consider doing: Compiling the `DocC` catalog with a Github Workflow so it always stays up to date.

[2022-03-20 17:39] viktorstrate commented on #62
I like the way Github shows diffs such that matching lines are always next to each others, rather than the way XCode does it, where lines are offset as shown on the screenshot in the earlier comment.

I think this makes it much easier to compare files in practice.

<img width="1393" alt="Screenshot 2022-03-20 at 18 33 19" src="https://user-images.githubusercontent.com/4233458/159174950-b336e04f-af

[2022-03-20 18:09] MarcoCarnevali commented on #112
Thank you guys, request sent! If I won't receive any response I'll probably switch the CI to CircleCI which seems they have plenty of credits for free

[2022-03-20 18:11] MarcoCarnevali commented on #36
@mattmassicotte I'm currently using a wrapper around [highlightjs](http://highlightjs.org) but happy to change it to something better! I would definitely love to discuss more on that, seems interesting!

[2022-03-20 18:14] lukepistrol commented on #112
CircleCI has even double the build minutes than Github for free it seems which should be plenty

[2022-03-20 18:15] lukepistrol commented on #112
But let's wait for a response first

[2022-03-20 18:29] mattmassicotte commented on #36
I'm not familiar with highlight.js, but it looks like a great tool!

I've taken many different paths along my syntax highlighting journey. Right now, Chime uses a hybrid tree-sitter + LSP semantic tokens.

Tree-sitter's support for incremental parsing gives it really good performance characteristics. However, Chime has to wrap it up with a bunch of extra stuff to make it both lazy (only coloring w

[2022-03-20 20:01] pkasila commented on #42
I've reopened this issue because keyboard navigation works for the list, but some changes should be done. Because at the moment I haven't figured out how to implement great keyboard navigation to switch between list and search field and open files (not just switch in the panel's `NavigationView`).

[2022-03-21 00:54] jaydenseric commented on #76
If extensions have a JS API, it would be great if they can be standard ESM instead of CJS like [Nova](https://nova.app) requires for its extensions:

https://docs.nova.app/extensions/#javascript-modules

CJS makes it tricky (but not impossible) to author extensions using Deno or other standards-aligned tooling without introducing a build step.

[2022-03-21 00:56] jaydenseric commented on #76
Related: https://github.com/CodeEditApp/CodeEdit/issues/12 .

[2022-03-21 02:16] Lessica commented on #21
If you want to build a real code editor, write your native syntax parser first. Like `CotEditor`. Highlightr uses `JavaScriptCore`, and it's buggy and slow.

[2022-03-21 03:10] jasonplatts commented on #76
Hi @jaydenseric.

Thanks for joining the discussion. @austincondiff and I talked about this and it has been brought up in our Discord too.

Since it is early in the development, no decisions have been made in relation to the extension architecture. JavaScript Core (https://developer.apple.com/documentation/javascriptcore) has been mentioned as a possible option for implementing extensions. Unfortu

[2022-03-21 05:12] austincondiff commented on #42
Padding, spacing, font-sizes and dimensions are slightly off, please refer to the [figma concept](https://www.figma.com/file/qj6raZbQsZpGO0NAVi4qsv/CodeEdit-Concept?node-id=0%3A1) for exact specifications.

[2022-03-21 05:15] austincondiff commented on #38
Padding, spacing, font-sizes and dimensions are slightly off, please refer to the [figma concept](https://www.figma.com/file/qj6raZbQsZpGO0NAVi4qsv/CodeEdit-Concept?node-id=0%3A1) for exact specifications.

[2022-03-21 05:27] austincondiff opened #132 "Create Issue and Pull Requests templates that are consistent with CONTRIBUTING.md"
This will make things more efficient for project contributors and will ensure that issues and PR's have sufficient information.

[2022-03-21 05:48] austincondiff commented on #42
Also, the bottom half of the overlay should be hidden if there is no characters in the input.

[2022-03-21 05:59] austincondiff commented on #38
<img width="393" alt="image" src="https://user-images.githubusercontent.com/806104/159211718-752c1618-8900-4874-93cd-3b05399bcc20.png">

[2022-03-21 06:46] austincondiff commented on #96
Can it show lint problems locally as a warning so we can at least identify those problems before we submit a PR? Is there a format on save function in Xcode?

[2022-03-21 07:01] pkasila opened #134 "[BUG] - Hide temporary files which are created when saving a file"
When you close or save file temporary file is created before saving to original file's URL. It's shown in the sidebar for a fraction of a second. It's a little bit annoying as I think.

## The Problem

<img width="237" alt="Снимок экрана 2022-03-21 в 10 00 35" src="https://user-images.githubusercontent.com/17158860/159217028-a100ecc5-7e0c-4e2a-91b9-e54496839b98.png">

https://user-images.githubuse

[2022-03-21 07:09] Chukwuemeka-Mba commented on #123
Would like to contribute. How can i help?

[2022-03-21 07:17] austincondiff commented on #123
As far as I know, @lukepistrol hasn't started on this yet. You are welcome to start working on this. If you have any questions, feel free to jump on our discord. The link is in [CONTRIBUTING.md](https://github.com/CodeEditApp/CodeEdit/blob/main/CONTRIBUTING.md).

[2022-03-21 07:21] Chukwuemeka-Mba commented on #123
Done!
Muhchas Graçias Austin! 🥂

[2022-03-21 07:33] lukepistrol commented on #123
Yes help is very much appreciated! Open a `Draft PR` as soon as possible.

[2022-03-21 07:35] lukepistrol commented on #134
Is there a pattern how the file system names these temp files?

[2022-03-21 07:36] boserup commented on #103
Another valid (and native) approach is open the file selector dialogue. This is the behaviour in applications such as Numbers and Pages, where the interaction is document based. On the other hand, Sublime Text just pick up where you left it.

[2022-03-21 07:36] lukepistrol commented on #132
I can do that

[2022-03-21 07:38] lukepistrol commented on #103
This can already be chosen in **Settings**

<img width="462" alt="Screen Shot 2022-03-21 at 08 37 37" src="https://user-images.githubusercontent.com/9460130/159220495-a5157d4a-b25d-411a-8aac-416b93c562d4.png">

[2022-03-21 07:43] lukepistrol commented on #38
## Todo:
- [ ] fix `padding/spacing`
- [ ] fix `font-size`
- [ ] animate open behavior

[2022-03-21 07:52] lukepistrol commented on #132
It seems I don't have permission to add a PR template. @austincondiff

<img width="897" alt="Screen Shot 2022-03-21 at 08 51 46" src="https://user-images.githubusercontent.com/9460130/159221992-55900b43-8e4c-4f1b-9f5b-b6f4ceda9629.png">

[2022-03-21 08:05] lukepistrol opened #137 "[BUG] - Sidebar selection not changing in circumstances"
The sidebar should always show the selection state to the currently open file.

But when opening a file through `Shift+Cmd+O` or selecting it through the `TabBar` it will not change.

Consider fix in #123

https://user-images.githubusercontent.com/9460130/159223446-bbeab1ba-e8c6-42b1-a1c6-f044fa7430ea.mov

[2022-03-21 08:14] austincondiff commented on #132
Try now

[2022-03-21 08:16] lukepistrol commented on #132
still not..

[2022-03-21 08:48] lukepistrol commented on #52
Can this be closed?

[2022-03-21 08:52] lukepistrol commented on #37
For reference this still needs to be implemented:

<img width="567" alt="Screen Shot 2022-03-21 at 09 51 18" src="https://user-images.githubusercontent.com/9460130/159229496-07aadb98-e1e5-4ed1-a338-b46cac26ed96.png">

[2022-03-21 08:55] wdg commented on #52
I think it's a good idea to setup a (specific) group of people which will check all the PR's (auto assign, using the template, or a group)
e.g. 2/3 reviewers by default?

[2022-03-21 09:03] #132 closed

[2022-03-21 09:48] underthestars-zhy opened #140 "✨ Preview"
When writing code like swiftui or HTML, we always expect a preview view. So in this way, we can know what we are doing or changing. Also, data analyst needs this too.

[2022-03-21 10:02] lukepistrol opened #142 "✨ Inspector Sidebar"
## Overview

An Inspector Sidebar similar to the one in Xcode displaying file information and more.

## Tasks

- [x] #362
- [x] #363
- [ ] #364

## Additional context

<img width="1618" alt="Screen Shot 2022-03-21 at 11 01 55" src="https://user-images.githubusercontent.com/9460130/159239633-6b1bd0d6-d9a2-491e-b43b-e37fc2d12350.png">

[2022-03-21 10:05] wdg commented on #96
I think it is a good idea, to set the local environment to strict.
Otherwise people will create a PR, and SwiftLint will fail, but not locally.

while in development you can always use:
- `// swiftlint:disable RULENAME`, `// swiftlint:enable RULENAME`
- `// swiftlint:disable:next RULENAME`
- `// swiftlint:disable:previous RULENAME`
- `// swiftlint:disable all`
- `// swiftlint:enable all`

Maybe it

[2022-03-21 10:07] lukepistrol commented on #96
Good point. I agree

[2022-03-21 10:10] underthestars-zhy opened #143 "[BUG] - Setting View doesn't show correctly"
When open setting view it will open in a new window. And it's in a large view.

https://user-images.githubusercontent.com/46642225/159240860-27e6e6a5-f16b-48b6-abca-1fb081f3df3b.mp4

 - OS: 12.3
 - Xcode: 13.3

[2022-03-21 10:11] RayZhao1998 commented on #96
What about adding a pre-commit hooks to forbid commit if `swiftlint --strict` failed and keep local environment normal?

[2022-03-21 10:14] wdg commented on #96
Yes and no,
If you make the local environment strict, then you'll see the errors in Xcode, otherwise only in the terminal.
personally i like it more if i see the errors in Xcode instead of the terminal.

[2022-03-21 10:14] lukepistrol commented on #143
Are you sure you are on the latest version of `main`? this was fixed yesterday I think.

https://user-images.githubusercontent.com/9460130/159241509-e76bfbe2-00d1-4531-b16a-2c73431a350d.mov

[2022-03-21 10:16] lukepistrol commented on #96
A agree with @wdg. I think no one will commit a build containing errors. And even if so we still have the workflow as a safe guard.

[2022-03-21 10:17] lukepistrol commented on #143
For reference #95

[2022-03-21 10:39] #143 closed

[2022-03-21 10:40] underthestars-zhy opened #144 "[BUG] - Text is dark in the dark mode"
I just open a random file

![CleanShot 2022-03-21 at 18 39 43@2x](https://user-images.githubusercontent.com/46642225/159245312-3771aea3-7cfd-44ca-9831-cc276961f852.png)

 - OS: 12.3
 - Xcode: 13.3

[2022-03-21 10:43] underthestars-zhy opened #145 "[BUG] - The tab bar file name doesn't match to the sidebar file name"
![CleanShot 2022-03-21 at 18 42 12@2x](https://user-images.githubusercontent.com/46642225/159245680-9aa1a239-3b4e-48c1-8f04-9d7f46aece8b.png)

 - OS: 12.3
 - Xcode: 13.3

[2022-03-21 10:43] lukepistrol commented on #144
This is actively being worked on in a overhaul of the Editor #36

[2022-03-21 10:44] lukepistrol commented on #145
Duplicate of #137

[2022-03-21 10:57] underthestars-zhy opened #146 "[BUG] - Setting view doesn't show the icon"
<img width="1104" alt="CleanShot 2022-03-21 at 18 54 16@2x" src="https://user-images.githubusercontent.com/46642225/159247272-742cc7ad-572f-4f7f-bb68-17b24ec45537.png">

It seems that we want to show a icon and a text in the setting view. But it doesn't work. It because if we want to use a setting-view type tab view, we need use swiftui lifecycle. And we should add this.

[code]

[2022-03-21 10:58] MarcoCarnevali commented on #36
That's definitely something we need, the current system it's not really scalable and good performances wise. What do you think would the timeline be like?

[2022-03-21 11:13] lukepistrol commented on #146
We need to change the TabView to be a window toolbar instead.

<img width="741" alt="Screen Shot 2022-03-21 at 12 11 57" src="https://user-images.githubusercontent.com/9460130/159249950-4b2f3055-dade-4aff-a261-372cbc0f38b8.png">

See [Apple HIG](https://developer.apple.com/design/human-interface-guidelines/macos/windows-and-views/toolbars/) and [What's new in macOS 11](https://developer.apple.com/

[2022-03-21 11:14] underthestars-zhy commented on #146
I have fixed it.

[2022-03-21 11:22] underthestars-zhy commented on #146
#148

[2022-03-21 12:10] mattmassicotte commented on #36
Pulling out stuff like this is always a little easier said that done, haha. I'm making progress, but I have some higher-priority stuff going on this week. I'm hoping by next week!

However, I do want to stress that this is not a drop-in highlighting library. It just makes it much easier to connect a text storage system (like one backed by `NSTextStorage`) to tree-sitter in a performant way. The in

[2022-03-21 13:42] lawgimenez opened #151 "[BUG] - Improvements to Contribute.md"
**Describe the bug**
After cloning the project, build was failing and throwing _Missing package product_. I believe there should be additional steps to make the compilation successful on the first build.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project
2. Build failed due to missing package product errors

**Expected behavior**
It should build the project right away.

**Screensh

[2022-03-21 13:42] nanashili commented on #142
Getting file information should be easy using the FileManager API

[2022-03-21 13:43] #96 closed

[2022-03-21 13:44] lukepistrol commented on #151
Have you opened the `CodeEdit.xcworkspace` file or `CodeEdit.xcodeproj`?

[2022-03-21 13:53] #151 closed

[2022-03-21 14:18] underthestars-zhy opened #152 "[BUG] - SwiftLint is destroying code"
Apple add space to their code
![image](https://user-images.githubusercontent.com/46642225/159280314-61e4cc35-5e9e-41c0-ae4e-e8dd525475aa.png)

![image](https://user-images.githubusercontent.com/46642225/159280335-0a888edb-50d3-4a82-a783-484c34e0b413.png)

But, in the strict mode of Swiftlint, we need to remove the space! Otherwise, it will warn

[2022-03-21 14:20] codeYhc opened #153 "文档"
文档

[2022-03-21 14:22] #153 closed, assigned to nobody

[2022-03-21 14:25] lukepistrol commented on #152
I guess you are talking about this error:

[code]

occurring in cases like this:
<img width="333" alt="Screen Shot 2022-03-21 at 15 21 57" src="https://user-images.githubusercontent.com/9460130/159281579-237bdd44-de15-4877-b1c2-cd6f347e201f.png">

This means that you have a `space` or `tab` character on an other than that empty line. Just hit `backspace` until the cursor is completely on the start

[2022-03-21 14:28] underthestars-zhy commented on #152
I’ll try it. Because Xcode automatically adds space. 🫠

[2022-03-21 14:42] #152 closed

[2022-03-21 16:15] austincondiff commented on #142
Current state

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/806104/159303805-e467267e-870e-4b34-863d-a5eac137c5b8.png">

To Do

- [ ] Move to module
- [ ] Create snapshot test
- [ ] Add toggle button in sidebar
- [ ] Make full height like Xcode instead of under toolbar

[2022-03-21 22:40] Shakenbeet commented on #98
Sounds great, I will try and work on this.

[2022-03-21 23:54] austincondiff opened #160 "[FEAT] - Integrated Terminal"
**Is your feature request related to a problem? Please describe.**

An integrated terminal to go in the drawer that is revealed via the status bar. (See #162)

<img width="1440" alt="03-macOS-code-edit-details-panel" src="https://user-images.githubusercontent.com/806104/159382129-e86d45df-9b9e-415a-80b1-f9730e66a2aa.png">

[2022-03-22 00:23] lukepistrol commented on #160
Just a quick reference for a possible terminal emulator to use: [SwiftTerm](https://github.com/migueldeicaza/SwiftTerm)

[2022-03-22 02:55] austincondiff opened #162 "✨ Bottom Drawer Navigation"
We will have tabs or some form of navigation within the bottom drawer. We need to answer the following questions before we begin development.

- How will we display tabs? Just like the above tabs?
- Will we be able to split this drawer into multiple panes with their own set of tabs?
- Are drawer tabs allowed to be dragged to the top editor or are they restricted down in the drawer?
- Is drawer abl

[2022-03-22 03:28] austincondiff commented on #19
Is there any way we can get previews working without a team ID? If not, we may note that it needs a team ID to work in CONTRIBUTING.md or an FAQ

[2022-03-22 09:10] underthestars-zhy commented on #94
I think I could do this.

[2022-03-22 09:30] underthestars-zhy commented on #140
About SwiftUI preview, I have two ways to manage it.
First, if we could find how Xcode previews the view, we would need to figure out how to get the subview of a view and modifies of a view.
Second way. We could create a FakeUI. This package has the same functions or methods as SwiftUI. And we change `import SwiftUI` to `import FakeUI`. And run it. Get a JSON result and recognize it, then display

[2022-03-22 09:41] nanashili commented on #140
You could take a look at the android version on github and get an exact idea of how they handle previews

[2022-03-22 09:41] nanashili commented on #94
Message me on discord then we talk about it.

[2022-03-22 09:45] wdg commented on #19
I've an idea, what if we make a pre-commit hook which empties the team ID, then you can setup previews without any problem, and remove them on commit using `sed`?

[2022-03-22 09:52] nanashili commented on #19
The problem is very easy to fix just set a local team id and you usually create a local team id when you create your first xcode project.

[2022-03-22 10:12] nanashili commented on #94
@lukepistrol can you assign @underthestars-zhy to this please.

[2022-03-22 10:21] mattmassicotte commented on #36
Just a quick update: after some thought, we decided that it just made more sense to build a project around working with syntax as a whole. The core tree-sitter abstraction is now available. https://github.com/ChimeHQ/Neon

[2022-03-22 11:14] lukepistrol commented on #160
Terminal emulation requires AppSandbox to be disabled completely. But then it works great!

<img width="1284" alt="Screen Shot 2022-03-22 at 12 12 13" src="https://user-images.githubusercontent.com/9460130/159469350-429d7486-670a-400c-8523-6934638dd278.png">

[2022-03-22 11:50] wdg commented on #160
@lukepistrol Great, maybe we need to look at a later stage _if we can_ re-enable sanboxing, then we can use e.g. XPC services to send data to non-sandboxed executabeles.

[2022-03-22 15:41] nanashili opened #167 "✨ Snippets"
**Describe the solution you'd like**
Do we want to add something like the Snippets action from Xcode where users can save snippets of their code and use it later or in the future.

**Additional context**
![Screenshot 2022-03-22 at 17 41 13](https://user-images.githubusercontent.com/63672227/159521459-3469271f-3d4b-43b4-86d8-db28da428f94.png)

[2022-03-22 15:57] austincondiff opened #168 "🐞 Open Dialog Remains Open After Selecting File of Folder to Open"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the welcome screen
2. Click on "Open a project or file"
3. Open a folder
4. Notice that the folder remains behind the newly opened editor window.

**Expected behavior**
The open dialog closes after opening a file or folder.

**Screenshots**
https://user-images.github

[2022-03-22 16:18] austincondiff commented on #167
Absolutely! Here are a few considerations...
- We need to figure out how we will create and store user defined snippets.
- Extensions will also be able to add snippets.
- Users should also be able to type a string of characters in the editor and auto suggest should suggest the associated snippet.
- When pressing tab it is inserted with the first wildcard highlighted if applicable.
- Snippets shoul

[2022-03-22 16:20] nanashili commented on #167
We can use a local database maybe or something similar.

When highlighting the code we can right click to add to snippets

[2022-03-22 16:22] austincondiff opened #169 "[BUG] - Inspector Sidebar Scales With Window When Window Is Resized"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Resize window width'
3. Notice the inspector sidebar width scales with the window width

**Expected behavior**
The inspector sidebar width should remain the same as the window is resized. The inspector sidebar itself should be resizable by clicking and dr

[2022-03-22 16:31] austincondiff opened #170 "[BUG] - Inspector Sidebar Disappears When Opening A Project File"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Notice the Inspector Sidebar is open
3. Click on a file in the project navigator
4. Notice the Inspector Sidebar disappears

**Expected behavior**
When opening a file the inspector sidebar remains visible

**Screenshots**
https://user-images.githubusercon

[2022-03-22 16:37] austincondiff opened #171 "[BUG] - When First Launched, On Window Resize Inspector Sidebar Snaps Open To Fill Window"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder
2. Notice Inspector Sidebar
3. Resize Window
4. See Inspector Sidebar snap open to fill the window

**Expected behavior**
On launch, when window is resized the inspector sidebar should remain the same width

**Screenshots**
https://user-images.githubusercontent

[2022-03-22 16:39] jasonplatts commented on #167
I might suggest storing them in a JSON file like VS Code, https://code.visualstudio.com/docs/editor/userdefinedsnippets. The same code can then also be used by snippet extensions written by developers and shared on the "marketplace".

It's important that these files can be easily backed up automatically by CodeEdit or that they are in a straightforward location so that they can easily be added to

[2022-03-22 16:44] austincondiff opened #172 "[BUG] - Inspector Sidebar Should Have A Visibility Toggle"
**Describe the bug**
The inspector sidebar should have a visibility toggle button in the right side of the toolbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Notice that there is no inspector sidebar visibility toggle in the toolbar

**Expected behavior**
There should be a toggle in the toolbar to toggle inspector sidebar visibility.

**Screenshots**
<img width="1228"

[2022-03-22 16:47] austincondiff opened #173 "🐞 Inspector Sidebar Should Fill Available Window Height"
**Describe the bug**
The inspector sidebar should fill the available window height.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Notice that the inspector sidebar is below toolbar and does not fill the available window height

**Expected behavior**
The inspector sidebar should include the toolbar to fill the available window height.

**Screenshots**
<img width="1228" alt

[2022-03-22 16:53] austincondiff commented on #167
@jasonplatts that is a good resource! We might be able to find code that will help us to parse the json and process the variables specified in that documentation link.

[2022-03-22 16:58] austincondiff commented on #160
As mentioned in Discord, I say we have a companion or helper app that contains everything that needs to exist outside of the sandbox. So when you try to open the terminal, you see a message in its place that says, “This feature requires our helper app, download it here.”

[2022-03-22 17:21] jasonplatts commented on #167
Lots of good stuff there to help with the extensions API too @austincondiff. If we can keep the process of extension development similar, we should be able to port a lot over and encourage devs to contribute.

[2022-03-22 17:34] jasonplatts opened #174 "[FEAT] Extension Manifest"
# Overview
All extensions should include a JSON manifest file in the root directory of the extension. The file provides information used to display the extension in the "marketplace" when published and also information required to successfully run the extension, such as the location of the main entry point to the extension (eg: main.js) and dependencies.

## Example Manifest
[code]

## Resources
h

[2022-03-22 17:34] jasonplatts commented on #174
https://code.visualstudio.com/api/references/extension-manifest

[2022-03-22 17:46] austincondiff opened #175 "[BUG] - Increase Sidebar Dock Icon Click Targets And Add Pressed States"
**Describe the bug**
I should be able to click the icons surrounding area to activate it rather than the icon itself. Add pressed state to inactive and active icons.

**To Reproduce**
Steps to reproduce the behavior:
Notice in the navigator and inspector sidebar docks, I can click the icon but unlike Xcode, not the area around the icon to activate it.

**Expected behavior**
I should be able to cli

[2022-03-22 17:50] austincondiff opened #176 "[FEAT] - Find/Replace in Document"
**Is your feature request related to a problem? Please describe.**
We should be able to find strings of text in a document and browse different occurrences.

**Concept**
<img width="1440" alt="08-macOS-code-edit-find" src="https://user-images.githubusercontent.com/806104/159543993-fc9e0f09-4519-4c94-bb0f-fa99a54351ad.png">

[2022-03-22 17:51] austincondiff commented on #176
@RayZhao1998 Would you like to tackle this one since find is fresh on your mind?

[2022-03-22 18:10] wdg opened #177 "[BUG] - Sidebar moved to far left"
**Describe the bug**
The sidebar is moved out of view.

**To Reproduce**
Steps to reproduce the behavior:
1. Resize your window to (e.g. 800px (wide) 600px (height)
2. Open a project
3. Open a file in the editor

**Screenshots**
<img width="912" alt="27353C1B-4402-4E0E-9478-D72596BED07B" src="https://user-images.githubusercontent.com/1290461/159546873-9a5b48ce-2587-460a-b4a5-987aac402c02.png">

**

[2022-03-22 18:19] wdg opened #178 "[BUG] - Fatal not a git repository"
**Describe the bug**
The statusbar should not give this message, "fatal not a git repository (or any of the parent directories) .git"
It should be more user-friendly, like "not in a git repository"

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project/dir what isn't a git repo.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![

[2022-03-22 18:26] wdg opened #179 "[BUG] - Show in finder"
**Describe the bug**
Show in Finder opens the file with the default associated app instead of opening a Finder window.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on a file, and press "Show in Finder"

**Expected behavior**
Expected to see the file in finder.

**Screenshots**
https://user-images.githubusercontent.com/1290461/159550074-99a6b333-f27e-4660-84ec-8c51a10557a9.mov

[2022-03-22 18:29] jasonplatts opened #180 "Determine Extension Environment. JavaScript Core?"

[2022-03-22 18:42] austincondiff commented on #167
@jasonplatts We should at some point react out to extension developers of other platforms and see if they can A) help us with the extension API, and B) help us write extensions.

[2022-03-22 18:45] nanashili commented on #179
@wdg sorry about that, will push a fix in a few thanks for pointing out the issue.

[2022-03-22 18:48] nanashili commented on #167
I'm currently working on the design of it.

[2022-03-22 18:49] jasonplatts commented on #167
For sure! I've reached out to some already and I have a few others in mind too. If anyone is able to themselves contribute or knows of anyone else who might be interested, please spread the word! This issue, https://github.com/CodeEditApp/CodeEdit/issues/76, provides a general overview.

[2022-03-22 18:53] nanashili commented on #167
We can have a basis of it already by select code in the editor and then saving it. Will most like push it once we have a custom editor

[2022-03-22 18:53] jasonplatts commented on #167
Thanks for your contributions and hard work! I am also trying to get into the details of the API. It's work in progress, but please feel free to add to the list that is started here, https://github.com/CodeEditApp/CodeEdit/issues/76.

[2022-03-22 18:53] austincondiff opened #182 "[BUG] - Breadcrumb bar should handle overflow"
**Describe the bug**
Overflow is not handled well in Breadcrumb Bar. We need to handle large paths by condensing down to just icons as needed. Hovering a breadcrumb item should reveal all text. Text should be restricted to a single line.

**Screenshots**
<img width="1180" alt="image" src="https://user-images.githubusercontent.com/806104/159554400-39bca40c-5d3e-44aa-b1f2-a826ed0c5c55.png">

https:/

[2022-03-22 18:56] jasonplatts opened #183 "Add Extension Marketplace"

[2022-03-22 18:59] nanashili commented on #183
Do we need a backend for this if so i know someone who might help with this

[2022-03-22 18:59] austincondiff opened #184 "[FEAT] - When file is opened or focused, jump to it in project navigator"
**Is your feature request related to a problem? Please describe.**
When a tab is clicked, or a file is opened via the quick open overlay, jump to that file in the project navigator, even if it is layers deep in a nested file structure.

[2022-03-22 19:01] austincondiff commented on #183
We are definitely not going to call it a "Marketplace". That is Microsoft lingo 😁

[2022-03-22 19:03] jasonplatts commented on #183
haha! I couldn't remember what you called it. We should definitely update it.

[2022-03-22 19:03] austincondiff commented on #183
@nanashili I'd imagine so. We need to choose the right technologies to use for our backend. We will have our own website for downloads help and documentation so maybe Node.js?

[2022-03-22 19:04] jasonplatts commented on #183
@austincondiff, would you be able to post the screens you showed me?

[2022-03-22 19:05] nanashili commented on #183
I can put you in contact with someone that builds in back-end

[2022-03-22 19:10] austincondiff commented on #183
Posted to the issue description

[2022-03-22 19:10] austincondiff commented on #183
Bring him on the project!

[2022-03-22 19:17] austincondiff commented on #183
"Extension Library" anyone?

[2022-03-22 19:20] nanashili commented on #183
What about .net as the back-end it has way better performance when it comes to scaling

[2022-03-22 19:22] jasonplatts commented on #183
I like it. Simple and clear.

[2022-03-22 19:24] jasonplatts commented on #183
Thanks!

[2022-03-22 19:26] jasonplatts commented on #183
Have we decided if we want a website for browsing extensions, in addition to the in-app extension library?

[2022-03-22 19:26] melodell commented on #172
@lk101101 and I mentioned something in Discord, and we would like to claim and work on this issue together. Please and thank you!

[2022-03-22 19:40] austincondiff commented on #183
Lets try to just provide the in-app experience for browsing for now. We have to provide infrastructure around submission though complete with a CLI to do so.

[2022-03-22 20:04] austincondiff opened #187 "✨ Improve Default Syntax Highlighting Colors and Font"
<img width="1767" alt="image" src="https://user-images.githubusercontent.com/806104/159566230-f66ff593-1022-442f-94c7-9b46d044dbf4.png">

I believe they use their own SF Mono font.

Our syntax highlighting looks pretty gross in comparison to Xcode.

[2022-03-22 20:08] highjeans commented on #177
We might want to have the sidebar locked to a certain size.

[2022-03-22 20:10] austincondiff commented on #187
On the subject of themes, each theme will be required to have a light mode and a dark mode which will respond to the users light/dark mode setting. We will have a setting to use the themes background, or use the standard window background which is tinted by your wallpaper. On that note, see #46.

[2022-03-22 20:13] austincondiff opened #189 "✨ Editor/Terminal Color Themes"
Let's create our own set of pre-bundled themes.
- We can provide similar ones to what Xcode comes with along with a few of our own.
- Each theme will have the option to have a light mode and a dark mode that can optionally change when the user switches light/dark mode.
- We will have a setting to use the themes background, or use the standard window background which is tinted by your wallpaper.
-

[2022-03-22 20:23] austincondiff opened #190 "[BUG] - Folders are not expandable in Project Navigator"
**Describe the bug**
Folders are not expandable in Project Navigator, no disclosure buttons.

**Expected behavior**
Folders should be expandable in the Project Navigator.

**Screenshots**
<img width="1039" alt="Screen Shot 2022-03-22 at 3 22 30 PM" src="https://user-images.githubusercontent.com/806104/159569165-b0b9eba9-1ed9-4248-93b1-6235cf43f2a5.png">
**Note:** Disclosure buttons are missing

**

[2022-03-22 20:25] austincondiff commented on #172
@melodell Feel free to invite him to your fork if you want to work off the same branch.

[2022-03-22 20:26] austincondiff commented on #172
Also be aware of the other related issues.

[2022-03-22 20:38] austincondiff commented on #76
Updated the description above with API references of other platforms for ideas

- [Nova Extension API](https://docs.nova.app/)
- [VS Code Extension API](https://code.visualstudio.com/api)

[2022-03-22 20:44] austincondiff commented on #183
Some naming ideas...

- Extension Library (App Library)
- Extension Registry (NPM - Package Registry)
- Extension Store (App Store - Does this imply monetary transactions? Microsoft uses "Marketplace" which has the same connotation)

[2022-03-22 20:58] jasonplatts commented on #183
Extension Library gets my vote.

[2022-03-22 21:03] wdg commented on #183
I'll go for Extension Library.

[2022-03-22 21:28] Thiwaterotwo opened #191 "[FEAT] - YOUR_DESCRIPTION"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-22 21:35] Ondolin commented on #183
Don't you think Apple would have gone for store?
Kind of fits better into the Apple ecosystem. At least from my perspective

[2022-03-22 22:09] austincondiff commented on #168
Edit, after looking at it again, it looks like there are two open dialogs one on top of the other. If you drag one of them out of the way you will see what I mean.

[2022-03-22 22:16] MarcoCarnevali commented on #36
Good question! We've recently merged a new PR with a custom editor built around [highlghtr](http://highlightjs.org/), I would say the performances are good/usable for now so anything that matches that would be very good! But we would definitely need something more performant in the future

[2022-03-22 22:18] MarcoCarnevali commented on #36
That's awesome, I'll definitely try this soon, is there an usage example? and btw our current solution uses a NSTextStorage to have a performant real-time highlighting

[2022-03-22 22:47] #174 closed

[2022-03-22 22:57] wdg commented on #179
Fixed in #188

[2022-03-22 22:57] #179 closed

[2022-03-22 23:02] lukepistrol commented on #183
Extension Library is my vote

[2022-03-22 23:20] thecoolwinter opened #192 "[FEAT] - Change Welcome Options"
**Describe the solution you'd like**
Instead of the welcome options being
- Create a new file
- Clone an existing project
- Open a project or file

Imo they should be
- Create a file
- Open a file or folder
- Clone an existing project

Cloning a git project is most likely going to happen less than opening a folder/project or creating a file, so it should be lower down in the list. "Open a project

[2022-03-22 23:27] lukepistrol commented on #175
What exactly do you mean by

[2022-03-22 23:57] jasonplatts opened #195 "Code Completions"

[2022-03-23 00:00] thecoolwinter commented on #177
Looks like it might have something to do with window sizing.

https://user-images.githubusercontent.com/35942988/159596063-7ca5c270-725e-42e1-ab8f-09d1d34d2872.mov

[2022-03-23 00:03] lukepistrol commented on #177
This has to do with the branch picker in the status bar which displays an error message when no git repo is available. Fixed in #193

[2022-03-23 00:13] #178 closed

[2022-03-23 00:24] thecoolwinter commented on #177
I had just come to the same conclusion! I was just about to make a pull request to fix it. Perfect!

[2022-03-23 00:28] thecoolwinter commented on #177
Actually, don't close this quite yet. The problem is being caused by the `.fixedSize()` modifier in `StatusBarBranchPicker`. Since that has a fixed size, SwiftUI can't compress it when it needs to shrink the window. Just in case someone has a long branch name that should be changed to `.fixedSize(horizontal: false, vertical: true)`. I'll make a PR for that now.

[2022-03-23 00:47] #177 closed

[2022-03-23 01:04] mattmassicotte commented on #36
I took a bit of time to study Highlightr and highlight.js, just to see what was up. I'm really glad to hear it's working out!

If you do want to start looking for higher performance/correctness in the future, I'm lurking in the discord, and generally available. I would love to help out! And in the mean time, I'm going to continue, here and there, pulling stuff out of Chime into Neon. The exercise

[2022-03-23 01:09] thecoolwinter commented on #173
Looking at this right now, also looking to add a toggle button for the inspector column.

[2022-03-23 01:14] lukepistrol commented on #190
on my latest pull from `main` that issue is not present

[2022-03-23 01:15] #192 closed

[2022-03-23 01:17] lukepistrol commented on #184
related #123

[2022-03-23 01:19] lukepistrol commented on #175
Click targets fixed

[2022-03-23 01:22] lukepistrol commented on #112
Using CircleCI now

[2022-03-23 01:22] #112 closed

[2022-03-23 01:25] #38 closed

[2022-03-23 04:07] austincondiff opened #198 "[FEAT] - Current Line Highlight"
Current line needs to be highlighted and current line number is primary text color.

<img width="1097" alt="image" src="https://user-images.githubusercontent.com/806104/159621955-17360f30-3cff-4e69-ad34-b0ced513b593.png">

[2022-03-23 04:54] austincondiff commented on #183
I could be convinced of this. Apple's "App Store" on the other hand is the central repository of all apps in existence. The "App Library" is all the apps you have downloaded from the store onto your device.

With that in consideration, "Extension Store" sounds a little more in line with Apple's naming convention.

Plus, I just googled "safari extension " and look what came up...

![image](https://

[2022-03-23 05:11] #160 closed

[2022-03-23 05:18] austincondiff opened #199 "🐞 Line numbers do not line up with code"
**Describe the bug**
Line numbers do not line up with code.

**Screenshots**
<img width="581" alt="image" src="https://user-images.githubusercontent.com/806104/159628774-a155b1ee-1d17-4022-9a20-4912fa757146.png">

**Desktop (please complete the following information):**
 - OS: macOS 12.1
 - Xcode: 13.3

**Additional context**
Note that in Xcode the line numbers are smaller than the font size of th

[2022-03-23 05:19] austincondiff commented on #190
It must have been fixed in a prior commit. Closing.

[2022-03-23 05:19] #190 closed

[2022-03-23 05:34] austincondiff opened #200 "✨ Custom Font Settings"
We need a custom font setting in CodeEdit.
- [x] The editor and terminal should both default to SF Mono.
- [x] The editor and terminal should have the following separate font settings.
  - [x] Font family
  - [x] Font size
  - [x] Font weight
  - [x] Line height
- [x] The terminal by default should use the editors font settings (with the exception of line height, should default to the same as the

[2022-03-23 05:38] austincondiff commented on #175
I meant pressed states. Click and hold the mouse down on Xcodes sidebar dock icons (both selected and not selected have pressed states)

[2022-03-23 05:44] austincondiff commented on #144
I thought this was resolved by #147. It is for the most part, but the font is not applied at all while syntax highlighting is loading. It should at least have the font family applied and in dark mode it should be white while processing.

Then there are files like this that never load and stay like this...

<img width="966" alt="image" src="https://user-images.githubusercontent.com/806104/159631759

[2022-03-23 05:46] austincondiff commented on #144
@underthestars-zhy I've got to ask, what is that emoji sitting on top of the sidebar?

[2022-03-23 09:06] underthestars-zhy commented on #144
That is an app. Grammarly

[2022-03-23 09:09] underthestars-zhy commented on #200
I will add the font settings tab to the Preference view

[2022-03-23 09:11] underthestars-zhy commented on #189
We could create a theme standard. And people can add their theme. It should be separated from the extension

[2022-03-23 09:16] underthestars-zhy commented on #180
First swift, then js.

[2022-03-23 11:07] lukepistrol opened #203 "[BUG] - Welcome Window Shortcut Mismatch"
**Describe the bug**
In Xcode the Welcome Window opens with `⇧+⌘+1`. In CodeEdit it opens with `⇧+⌘+0`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Window > Welcome to CodeEdit`

**Expected behavior**
The Welcome Window should open with `⇧+⌘+1`

**Screenshots**

<img width="322" alt="Screen Shot 2022-03-23 at 12 02 01" src="https://user-images.githubusercontent.com/9460130/15968575

[2022-03-23 11:37] #203 closed

[2022-03-23 11:54] nanashili opened #207 "🐞 Line gutters disappear when changing orientation"
**Describe the bug**
Line gutters disappear when changing orientation

**To Reproduce**
1. Right Click
2. Layout Orientation
3. Choose Horizontal
4. Repeat step 1-2
5. Choose Vertical

**Expected behavior**
It should show when going back into vertical orientation

**Screenshots**

https://user-images.githubusercontent.com/63672227/159693165-ed0c2488-de86-4c2e-b826-0295ac45d86b.mov

**Desktop (plea

[2022-03-23 12:15] nanashili commented on #167
@jasonplatts Why don't we save the basic information of the snippets in the json like name, description, method, platform and completion then the code we add it to it's respective file so if the code is java it would be snippet_name.java and then add the path of the file in the json?

[2022-03-23 12:49] S0ulf3re commented on #207
Noticing that in addition to them disappearing, the line gutters also don't seem to align correctly either.

[2022-03-23 12:58] RayZhao1998 opened #208 "✨ Find Navigator"
A basic view and functionality of finding in workspace has been implemented with #125 . But there's a lot of work to do.

- [x] #1520
- [x] #1521
- [x] #1519
- [x] #1466
- [ ] #1522 (maybe not in release v1.0)
- [x] #1464

[2022-03-23 13:17] S0ulf3re commented on #199
A possible idea for a fix might be to increase the spacing between the line gutters

[2022-03-23 13:31] nanashili commented on #167
We could do that yes, but we also have to be aware of the size of json because it could end up causing performance issues for users that save a lot of snippets.

[2022-03-23 13:32] S0ulf3re commented on #199
Ok, while this is absolutely not a fix, I'm messing with the CodeEditor struct in the CodeEditModules, and changing the font size of the LineGutter within scrollview.verticalRulerView seems to help reduce the visibility. However that seems to create it's own problems as well with numbers cutting each other off. My thought is that the LineGutter and the CodeEditor views need to be more connected in

[2022-03-23 13:33] RayZhao1998 commented on #177
@thecoolwinter I don't think changing from `.fixedSize()` to `.fixedSize(horizontal:false, vertical: true)` is a right solution. It'll make the `StatusBarBranchPicker` take up extra space.

<img width="1744" alt="截屏2022-03-23 下午9 32 22" src="https://user-images.githubusercontent.com/22616933/159711262-f8be5f00-3f5a-4de1-853e-f1681d65d6c2.png">

[2022-03-23 13:34] jasonplatts commented on #167
I agree. That is definitely a valid concern.

[2022-03-23 13:35] nanashili commented on #199
Or the CodeEditor telling the LineGutter how man lines one item is. Also the Editor font is bigger than that of the LineGutter

[2022-03-23 13:37] RayZhao1998 opened #209 "[BUG] - Branch selector is too wide"
**Describe the bug**
When the window is as wide as possible, the branch selector in status bar will take up extra space.

**To Reproduce**
Steps to reproduce the behavior:
1. open a project
2. resize the window as wide as possible.

**Expected behavior**
<img width="1728" alt="截屏2022-03-23 下午9 35 34" src="https://user-images.githubusercontent.com/22616933/159711968-1b33afbd-e612-4962-9942-55a95cbf

[2022-03-23 13:38] RayZhao1998 commented on #177
open another issue #209

[2022-03-23 14:22] RayZhao1998 commented on #145
Reopen this. It's not duplicate.

This issue shows that the breadcrumb displaying file is not the same as selected file.

I'm going to make PR to fix this.

[2022-03-23 14:39] pkasila commented on #42
@austincondiff Maybe it would be better to close this issue and create new one for "The vertical separator in Open Quickly should be the same color as the horizontal separator"?

[2022-03-23 14:41] #145 closed

[2022-03-23 14:45] austincondiff opened #214 "🐞 Open Quickly Overlay - The vertical separator should be the same color as the horizontal separator"
**Describe the bug**
The vertical separator in the open quickly overlay doesn't match the horizontal one.

**Expected behavior**
Change the vertical separator to match the horizontal one.

[2022-03-23 14:45] lukepistrol commented on #200
Terminal font settings working for now

[2022-03-23 14:56] RayZhao1998 opened #215 "[BUG] - Breadcrumb displays wrong if folders' names are same"
**Describe the bug**
Breadcrumb display wrong if folder' names are same

**To Reproduce**
Steps to reproduce the behavior:
1. open a project which has folders with same name
2. select a file
3. see error

**Expected behavior**
testproject > testproject > ... > randomText.txt

**Screenshots**
<img width="1223" alt="截屏2022-03-23 下午10 51 44" src="https://user-images.githubusercontent.com/22616933/159

[2022-03-23 15:28] austincondiff commented on #200
They do!
<img width="673" alt="image" src="https://user-images.githubusercontent.com/806104/159735616-ab830180-e3cc-4931-ba14-ed76103214b8.png">

[2022-03-23 15:53] austincondiff opened #217 "✨ Hook up statusbar functionality"
We need to complete functionality of the status bar including
- [ ] Tab Space count selector
  -  Use tabs
  -  Use spaces
  - ------------
  - 2 Spaces (implemented #297)
  - 4 Spaces (implemented #297)
- [ ] Encoding
  - (See VS Code)
- [ ] Line ending selector
  - LF
  - CRLF
- [ ] Language selector

[2022-03-23 16:02] austincondiff opened #218 "✨ Fuzzy search in open quickly overlay"
We need fuzzy search in open quickly overlay instead of exact string match.

[2022-03-23 16:14] lukepistrol commented on #200
@austincondiff working on implementing an ANSI color picker now

[2022-03-23 16:15] lukepistrol commented on #200
Yeah I guess @MarcoCarnevali should take a look at the editor font selector since he's working on the editor and I don't want to mess things up

[2022-03-23 16:19] lukepistrol opened #219 "[FEAT] - ANSI Color selector for Terminal Emulator"
**Describe the solution you'd like**
A color palette which shows and allows to edit the ANSI colors in terminal emulator. Similar to what is used in `Terminal` or `iTerm`

**Additional context**
<img width="184" alt="Screen Shot 2022-03-23 at 17 10 35" src="https://user-images.githubusercontent.com/9460130/159746614-bfa05654-584b-41eb-aa61-d1ab7c0ce555.png">
<img width="316" alt="Screen Shot 2022-

[2022-03-23 16:44] wdg commented on #52
Yup, it's defined in https://github.com/CodeEditApp/CodeEdit/blob/main/CONTRIBUTING.md#checks-and-tests

[2022-03-23 16:44] #52 closed

[2022-03-23 17:07] jasonplatts opened #220 "Sidebar Content (Tree View API)"

[2022-03-23 17:15] thecoolwinter opened #221 "✨ Get rid of tab close animation"
**Is your feature request related to a problem? Please describe.**
Closing tabs can feel annoying if it takes too long. Most tab close animations are fast (think closing all your tabs in Safari). Right now CodeEdit uses the default 0.35 second long animation to close a tab and it feels very slow.

**Describe the solution you'd like**
Removing the closing animation from the `TabBarItem` in the `Tab

[2022-03-23 17:17] thecoolwinter commented on #221
I have a PR for this I'll push in a second.

[2022-03-23 17:22] jakoritarleite commented on #200
It would also be nice to have an option that enables font ligatures!

[2022-03-23 17:41] jasonplatts opened #222 "✨ Commands"
# Overview
Commands are used by extensions to trigger actions in CodeEdit. They can be configured to work keybindings and UI elements, such as menus and the command palette.

We should also include a number of built-in commands ([VS Code Built-in Commands](https://code.visualstudio.com/api/references/commands)) that can be used by users that want to change default keybinding or by keybinding exten

[2022-03-23 19:08] jasonplatts opened #224 "Keybindings"

[2022-03-23 22:12] austincondiff commented on #200
@lukepistrol We should be using the syntax highlighting theme the user has selected to also highlight the terminal.

[2022-03-24 07:50] #215 closed

[2022-03-24 15:34] austincondiff commented on #123
Project name header is missing. Should this be a parent directory or a list group header?

[2022-03-24 15:41] RayZhao1998 commented on #182
It think it's been fixed in #186. Going to close this.

[2022-03-24 15:41] #182 closed

[2022-03-24 16:49] Pythonen opened #230 "✨ Git clone from the welcome view"
From the welcome view you should be able to clone a repository and start working on the project.

[2022-03-24 17:08] lukepistrol opened #233 "🚨 Move Components to Modules"
We should try to move all existing components which live in the main target as of now to their own modules in `CodeEditModules`.

This would increase testability and structure of the code.

In particular we should do this for:

- [ ] **Documents** (most important & requirement for all others)
- [x] Welcome
- [x] Settings
- [x] Breadcrumbs
- [ ] Extensions
- [ ] TabBar
- [ ] NavigatorSidebar
- [ ]

[2022-03-24 19:23] Angelk90 opened #234 "[BUG] - Missing translation texts"
**Describe the bug**
Hi @lukepistrol , It seems that there are still several translations missing to be implemented.

https://github.com/CodeEditApp/CodeEdit/blob/020e6ffc33c4626e5477deb7ddee8a8e6f0c85d6/CodeEdit/Welcome/WelcomeView.swift#L72-L73

https://github.com/CodeEditApp/CodeEdit/blob/020e6ffc33c4626e5477deb7ddee8a8e6f0c85d6/CodeEdit/Documents/WorkspaceCodeFileView.swift#L39-L42

https://gi

[2022-03-24 20:29] Angelk90 opened #235 "[BUG] - Closing the program"
**Describe the bug**
Hi @lukepistrol , When I open a project, I work on it then I close the job.
It would be nice if the welcome window opened again, as `webstorm` does, which returns to the home screen after closing a project.

**To Reproduce**
Steps to reproduce the behavior:
1. project opening
2. you work on it
3. close the project
4. the welcome window opens

**Screenshots**
<img width="508" a

[2022-03-24 20:38] Angelk90 opened #236 "[BUG] - Opening multiple projects"
**Describe the bug**
When opening multiple projects in succession, a strange effect occurs on the show / hide sidebar.

Seeing the video you understand very well.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Open a project other than the first
3. Open another project

**Screenshots**

https://user-images.githubusercontent.com/20476002/160005842-1034d302-248c-4d4b-8c05-b5

[2022-03-25 06:36] henryhchchc opened #240 "[BUG] - The terminal drawer does not reload properly"
**Describe the bug**
The terminal drawer does not reload properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder
2. Open a text file
3. Click on the drawer icon (the terminal opens)
4. Type `exit` to exit the shell (**the drawer keep opened**)
5. Click on the drawer icon (the drawer closed)
6. Click on the drawer icon again (**the terminal is empty**)

**Expected behavior**
1

[2022-03-25 07:01] austincondiff commented on #12
### Relevant links
- https://microsoft.github.io/language-server-protocol/
- https://docs.microsoft.com/en-us/visualstudio/extensibility/language-server-protocol?view=vs-2022
- https://en.wikipedia.org/wiki/Language_Server_Protocol

[2022-03-25 07:49] austincondiff opened #241 "[FEAT] - Breadcrumb overflow accordion effect"
Breadcrumb was not previously not handling overflow per #182, but was later fixed in #186, a quick fix to allow for the breadcrumb bar to be scrollable.

Xcode handles it's overflow a little differently with an accordion-like effect where it condenses each item down to an icon if necessary and when items are hovered over they are expanded.

https://user-images.githubusercontent.com/806104/15955449

[2022-03-25 09:49] henryhchchc commented on #169
This bug can not be reproduced for now. By looking at the code commits, I think it is fixed by 1f48b8e2f1a49169100f8702e6ff923cb20b987c.

[2022-03-25 13:30] jenslys opened #243 "[FEAT] - Bracket pair colorization"
When dealing with deeply nested brackets in your code, it can be hard to figure out which brackets match and which do not. Bracket pair colorization fixes this by making pairs the same color to easily distinguish them.

![Preview](https://code.visualstudio.com/assets/blogs/2021/09/29/on-off-comparison.drawio.svg)

### Resources
https://code.visualstudio.com/blogs/2021/09/29/bracket-pair-colorizati

[2022-03-25 14:02] jenslys opened #244 "✨ Auto close brackets"
Option to enable whether the editor should automatically close brackets after the user adds an opening bracket.
### [Preview (YouTube)](https://www.youtube.com/watch?v=wb_Q14eHNhA)

Close for the following:
[code]

[2022-03-25 14:17] jenslys opened #245 "[FEAT] - Place highlighted text into brackets"
Put highlighted text in brackets.

1. Hightlight text
2. Press the character you wish to wrap around the text, for example (

[Preview (YouTube)](https://www.youtube.com/watch?v=1kuJi-PebOY)

Put into following:
[code]

[2022-03-25 14:56] austincondiff commented on #209
Was there a PR that fixed this?

[2022-03-25 15:19] austincondiff commented on #243
I like how Xcode handles this with temporary highlights instead of persistent colors that add visual complexity to your editor. It may be considered distracting. We can provide an option, and if not we allow for development of extensions. My vote is to follow suit with Xcode and go with the temporary bracket pair highlights.

https://user-images.githubusercontent.com/806104/160148989-de2b4180-0608

[2022-03-25 15:28] austincondiff commented on #176
Just a quick consideration, when a query has been entered in the Find input, pressing next after the last result will loop back to the first result and display a temporary HUD symbol in the center of the current editor pane.

![image](https://user-images.githubusercontent.com/806104/160151150-42227f6b-00b9-4dc4-81f9-63d8953e99bd.png)

[2022-03-25 15:33] #123 closed

[2022-03-25 15:53] Angelk90 opened #246 "[BUG] - Delete recent files from the history"
**Describe the bug**
It would be possible to add the possibility of the welcome window to be able to delete a project from the history, as for example does Webstorm through the delete button.

Also the characteristics of:
- Open selected
- Reveal in Finder
- Copy Path

It would be very useful and interesting to have.

**Screenshots**
![image](https://user-images.githubusercontent.com/20476002/1601

[2022-03-25 15:56] Angelk90 opened #247 "[BUG] - Icon problems with light theme"
**Describe the bug**
As you can see from the image some icons when the theme is in light mode are not seen well.

**Screenshots**
<img width="55" alt="Schermata 2022-03-25 alle 16 55 08" src="https://user-images.githubusercontent.com/20476002/160156052-56ff1f96-e2db-4243-878c-663430dfadf1.png">

**Desktop (please complete the following information):**
 - OS: macOS 12.3
 - Xcode: 13.3

[2022-03-25 16:25] lukepistrol commented on #247
Yeah noticed this too. We might change it from yellow to another color and ditch yellow all-together.

[2022-03-25 16:35] RayZhao1998 opened #248 "[FEAT] - Breadcrumbs dropdown menu"
**Is your feature request related to a problem? Please describe.**
Support breadcrumbs dropdown menu just like Xcode.

**Describe the solution you'd like**
For example:
<img width="637" alt="截屏2022-03-26 上午12 35 18" src="https://user-images.githubusercontent.com/22616933/160162783-404126df-07c9-43bd-a220-5fd93c13c198.png">

[2022-03-25 16:46] Angelk90 opened #250 "🐞 Line numbers not displayed correctly"
**Describe the bug**
As you can see from the video when I open files afterwards, the numbers on the lines go into error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the `CodeEdit` project
2. Open the `Code of Conduct` file
3. Open the `Contributing` file

**Screenshots**

https://user-images.githubusercontent.com/20476002/160164069-3b2e1ec0-ef43-4331-a7ba-82d821e30278.mov

**Desktop

[2022-03-25 17:52] austincondiff commented on #247
<img width="273" alt="image" src="https://user-images.githubusercontent.com/806104/160175051-c38763b0-9c2b-42eb-b726-128051a9f327.png">
<img width="270" alt="Screen Shot 2022-03-25 at 12 51 54 PM" src="https://user-images.githubusercontent.com/806104/160175132-e3c1b2d5-2fea-43e7-9318-e4da5bc63cda.png">

Looks like they change the yellow shade. I think I read that the use of a certain variable will

[2022-03-25 17:56] Angelk90 commented on #247
@austincondiff : What program are you viewing the files with XCode?

[2022-03-25 17:59] austincondiff commented on #247
Yes, those screenshots are in Xcode

[2022-03-25 18:25] austincondiff commented on #34
@jeff-h that is exactly what I was going for with option C. We need to make a final plan here because PR's are submitted like in #205 and I do not want people doing work that will ultimately be thrown out. That is not fair to our awesome contributors. I know it is not exactly how Xcode does it, but does anyone have any objection to moving forward with option C?

I think option C provides for a bet

[2022-03-25 18:47] austincondiff commented on #34
I'd have to go a little further in depth for each preferences category, but I was thinking something like this from the above description.
<img width="1728" alt="15-macOS-code-edit-preferences" src="https://user-images.githubusercontent.com/806104/160182747-c72d14db-c77d-49b8-a13d-c0a2a5e34486.png">

[2022-03-25 19:04] Angelk90 commented on #247
@austincondiff : Again, this is not so well seen in the case of the light background.

<img width="240" alt="Schermata 2022-03-25 alle 20 02 50" src="https://user-images.githubusercontent.com/20476002/160185210-ae6746bc-170e-4a05-acc5-a384a7b4d113.png">
<img width="240" alt="Schermata 2022-03-25 alle 20 03 04" src="https://user-images.githubusercontent.com/20476002/160185207-c9c10d8b-38db-4760-b49

[2022-03-25 19:21] austincondiff commented on #247
@Angelk90 I pointed this out to @lukepistrol earlier, but selected items should get white icons as shown here in Xcode.
<img width="272" alt="Screen Shot 2022-03-25 at 2 20 51 PM" src="https://user-images.githubusercontent.com/806104/160187583-b76b667d-9aeb-4915-a458-19c02b0ffe06.png">

[2022-03-25 19:24] Angelk90 commented on #247
@austincondiff : Yes, this could be the ideal solution.

[2022-03-25 19:45] austincondiff commented on #184
Partially fixed in #123.

If the folder that the file the user has opened is in a directory that is collapsed in the project navigator, we need to recursively open directories until we can scroll to it in one motion (not opening one folder after the other).

[2022-03-25 20:02] #219 closed

[2022-03-25 20:02] #240 closed

[2022-03-25 20:25] lukepistrol commented on #247
just assigned it to myself

[2022-03-25 20:51] austincondiff opened #253 "[BUG] - Breadcrumb Bar should be using colored icons"
Breadcrumb bar should be using colored icons like the sidebar when the icon preference is set to color.

[2022-03-25 20:51] austincondiff commented on #253
@RayZhao1998 Can you get this since you are working on the breadcrumb bar?

[2022-03-25 21:27] Angelk90 opened #255 "🐞 Problem with changing the editor theme"
**Describe the bug**
As you can see from the video when the editor theme is changed, it does not change the setting immediately, but you have to close all open files to make it happen.

**Screenshots**

https://user-images.githubusercontent.com/20476002/160202727-1716484b-5e00-45fa-a634-207ccd52a974.mov

**Desktop (please complete the following information):**
 - OS: macOS 12.3
 - Xcode: 13.3

[2022-03-25 21:37] austincondiff opened #256 "✨ Drag to Reorder Tabs"
We should be able to reorder tabs like the default tabs in macOS. They should animate as you are dragging just as they do here...

https://user-images.githubusercontent.com/806104/160204100-9a00ee29-dfbc-4a0c-b05c-af58f532d1db.mov

[2022-03-25 21:40] Angelk90 commented on #247
@austincondiff : Editor: Agate

<img width="939" alt="Schermata 2022-03-25 alle 22 39 00" src="https://user-images.githubusercontent.com/20476002/160205003-ed828b65-ac92-4c5f-a845-892769fbe648.png">

[2022-03-25 22:48] Angelk90 opened #258 "✨ Select a language other than that of the mac"
**Is your feature request related to a problem? Please describe.**
The possibility of select a language other than that of the mac.
For example my language is Japanese, but I prefer that the program remain in English or another language.

[2022-03-25 23:00] Angelk90 commented on #234
@austincondiff : I noticed that the .xib files don't seem to work using Localizable.strings.
https://github.com/CodeEditApp/CodeEdit/blob/9ae73d0f1f3cba78ecd8edbb7cec64811dd82717/CodeEdit/MainMenu.xib#L24

[2022-03-26 00:30] underthestars-zhy commented on #34
I think optionB is the best. Because it looks like Xcode. And option C more like a project settings. Instead of a app settings. OptionA need users click more, when they change settings. We are a developer tools, we need avoid this.

[2022-03-26 01:43] lukepistrol commented on #253
Already implemented

<img width="665" alt="Screen Shot 2022-03-26 at 02 34 56" src="https://user-images.githubusercontent.com/9460130/160219784-dc11ba2e-e4b4-4ef2-9c45-5c064c6bc008.png">

[2022-03-26 01:43] #253 closed

[2022-03-26 02:22] lukepistrol commented on #247
was fixed in #259

[2022-03-26 04:47] austincondiff commented on #34
You make a pretty compelling case and I am honestly waffling back-and-forth between the two.

[2022-03-26 04:48] underthestars-zhy commented on #34
As a just start app, we need choose apple's design language. Our app very looks like Xcode. The users will think that the things I know about the Xcode it also suitable for this app. This reduces the burden on users to migrate development tools. And also our developers have reference.

[2022-03-26 05:35] jeff-h commented on #34
My opinion is both b and c 😁 This is how Xcode does it.

b) for settings that are not project-specific (eg light / dark mode)
c) for project-specific settings that are stored as json inside the `.codeedit` project folder and could just as easily be edited as raw json. These settings will likely go in git, be shared with a team etc

Project-level settings could perhaps inherit defaults from a hiera

[2022-03-26 08:12] Angelk90 opened #261 "[FEAT] - Copy the program information"
**Is your feature request related to a problem? Please describe.**
How about such a thing as Webstorm does which allows you to copy program information.

In this case I copy only the version of the program in use.
It would also be useful to know:
- The version of the OS
- The version of Xcode

What do you think?

https://user-images.githubusercontent.com/20476002/160230736-64038743-5e6e-47e7-bbb5-

[2022-03-26 08:38] Angelk90 opened #262 "✨ Tasks (Run scripts in the shell)"
**Is your feature request related to a problem? Please describe.**

https://user-images.githubusercontent.com/20476002/160231556-fc2c16ef-3978-45f9-9097-9602c20313a1.mov

You know that XCode has a menu like this, which allows you to run tests and other things as well as run the program.

It would be useful to have something like this, but which allows you to run scripts found in the `package.json`

[2022-03-26 08:51] pkasila commented on #262
@jasonplatts, I think that it's related to #76

[2022-03-26 10:32] lukepistrol commented on #261
I would do it like this:
[code]

[2022-03-26 12:00] Angelk90 commented on #262
@pkasila : I don't know, do you think such a thing could be useful?
Do you see it more as a plugin?

[2022-03-26 12:02] lukepistrol commented on #262
My take on this is that we should enable it in our plugin API so plugin developers can choose what action they want to perform on "play". Similar to how VSCode handles it.

[2022-03-26 12:24] Angelk90 commented on #261
@lukepistrol : I would like it more if the copy icon appears, but you decide how you prefer.

This is the code at the moment:

[code]

https://user-images.githubusercontent.com/20476002/160239218-d7317bc9-e59f-4a02-a4be-0f0221f3a9c9.mov

[2022-03-26 12:39] Angelk90 opened #266 "🐞 Creating new file strange behavior"
**Describe the bug**
I tried to create a new file and start writing but I noticed the following problems:

1) When the theme is light, the text just written is not read
2) When you go to a new line or delete one, sometimes you notice a problem in the number of lines between their spaces

**To Reproduce**
Steps to reproduce the behavior:
1. Click on create new file
3. Start typing
3. Go to carriage

[2022-03-26 12:50] pkasila commented on #262
As @lukepistrol said, we implement API for extensions to provide targets, tests and so on. So, NodeJS extension reads `package.json` and creates `npm start` target and anything else using Extension API and these targets and tests appear in the UI

[2022-03-26 13:01] #121 closed

[2022-03-26 14:10] #247 closed

[2022-03-26 14:42] wdg commented on #246
Should it be a forward delete, or is a normal delete ok as well?

[2022-03-26 14:44] lukepistrol commented on #246
since it is bound to a key press it should handle the `del` key

[2022-03-26 15:08] pkasila commented on #236
I guess, it happens because `NSToolbar`s have the same identifier in all projects. I haven't been digging whether there are any events which allow multiple `NSToolbar` to communicate based on identifier. But when I set `NSToolbar.identifier` to a value which is different for each window (e.g. same as `WorkspaceDocument.fileURL`), then everything works as intended

<img width="1422" alt="image" src

[2022-03-26 15:44] lukepistrol commented on #236
Do we need to reference this identifier somewhere for anything? If not using a UUID string would be the best and safest option

[2022-03-26 15:46] pkasila commented on #236
We don't need to reference it anywhere. Then, I'll just use a UUID string

[2022-03-26 17:42] #236 closed

[2022-03-26 17:47] pkasila opened #270 "[BUG] - Sidebar toggle is not located above the sidebar"
**Describe the bug**
When you open a workspace, then the sidebar toggle is not located above the sidebar

**To Reproduce**
Steps to reproduce the behavior:
1. Open workspace
2. See `.sidebarToggle` not over the sidebar itself

**Expected behavior**
The toggle should be located over the sidebar as in, for example, Xcode

**Screenshots**
Behavior now:
<img width="1112" alt="image" src="https://user-

[2022-03-26 17:56] austincondiff opened #271 "❓ Do we want an onboarding experience?"
Nova and Raycast have an onboarding experience. VSCode and Xcode do not. Do we want one?

https://user-images.githubusercontent.com/806104/160251584-82ffeee3-a811-40bf-902a-be4aef13a456.mp4

https://user-images.githubusercontent.com/806104/160916949-ffd7573d-b7b4-40b2-8d94-ab158b4d9944.mp4

My first impression is no, because there screens are as follows
1. Welcome intro
2. Trial / Buy
3. Theme Sel

[2022-03-26 19:17] pkasila commented on #180
I would prefer using Swift for extensions, but having JavaScript API would be nice to have also, considering that the app may be ported to iPadOS later.

So, I think we need to provide Swift Extension API and prioritize it right now, but also export it to JavaScript.

[2022-03-26 19:20] austincondiff commented on #180
I'd imagine more Javascript devs would be using this than Swift devs because they would most likely use Xcode for Swift development correct? I think both are important and I agree with our current path.

[2022-03-26 19:53] ghost opened #272 "✨ Hide the welcome screen when opening the file browser"
**Is your feature request related to a problem? Please describe.**
This is what Xcode does.

**Describe the solution you'd like**
I would like for the welcome screen not to be visible when the file browser is open.

[2022-03-26 20:12] Angelk90 commented on #266
@austincondiff :

https://user-images.githubusercontent.com/20476002/160255545-40184c1e-1594-497b-b951-8c19c15bd9f9.mov

[2022-03-26 20:39] Angelk90 commented on #270
@pkasila : Could you make sure you can close Sidebar on the right as well?

[2022-03-26 20:50] Angelk90 opened #273 "🐞 Project name information in the Sidebar"
**Describe the bug**
I was wondering why on the right in the Sidebar, the folder name appears, if the folder name is already in the top center.

I also tried to open a folder that contains several projects, but it doesn't divide them, it always takes the name of the parent folder.

Then in the center where there is the name, when I pass a folder appears, as you can see in the images what it is for

[2022-03-26 21:13] wdg opened #274 "🐞 Opened project not always appending to recents"
**Describe the bug**
Opened project not always appending to recents (see: https://github.com/CodeEditApp/CodeEdit/pull/268#issuecomment-1079774546__ )

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project
2. Close the project
3. Not append to the recents

**Expected behavior**
Project should be appended to the recent projects

**Additional context**
I'm not able to reproduce this is

[2022-03-26 23:45] Jeehut opened #276 "[FEAT] - Share file or selected lines as images for social media / blogs"
**Problem:**
It's hard to share code on social media, e.g. on Twitter with its character limit and lack of syntax highlighting. The same is true for some popular blogs, e.g. on [medium.com](https://medium.com) or even newsletters like [getrevue.co](https://www.getrevue.co/).

For example, I recently wrote [this newsletter issue](http://se-monthly.flinedev.com/issues/swift-evolution-monthly-01-back

[2022-03-26 23:55] Jeehut opened #277 "[FEAT] - Add global setting for default tab width"
**Problem:**
Currently the app adds 4 whitespaces when I press "tab" on my keyboard. But I prefer 2 whitespaces to fit more code into a line.

**Solution:**
Add a new global option into the settings of the app to customize the preferred "default" tab width. It should be a text field / stepper accepting any number of whitespaces greater than or equals to 2.

**Alternatives:**
We could also just pro

[2022-03-27 00:05] Jeehut opened #278 "[FEAT] - Set preferred indent and tab width explicitly"
**Problem:**
I personally have set my Xcode default indent and tab width to 2 instead of 4 whitespaces. This breaks the projects style guide and causes SwiftLint warnings to appear while I'm working on this project as this projects requires 4 whitespaces.

**Solution:**
Set the preferred indent and tab width in the project explicitly.

[2022-03-27 00:23] Jeehut opened #280 "[FEAT] - Add support for multiple cursors"
**Problem:**
Sometimes, you have multiple variables or a collection and you want to edit all occurrences at the same time.

**Solution:**
Other code editors like [Atom](https://atom.io) and even Xcode have added multiple-cursor support to conveniently edit multiple places at once, this can save lots of time. We should add a similar feature here, too. Part of supporting multiple cursors, it's also

[2022-03-27 01:42] austincondiff commented on #276
Great suggestion! I never considered this being part of the editor itself. I think it makes a lot of sense. We could have a share menu where after a selection is made when clicked gives the user the option to either copy it as plain text, copy it as rich text with syntax highlighting, or create a configurable image.

[2022-03-27 03:18] henryhchchc commented on #180
May I propose Lua as another option? Lua is small, portable, and fast. Actually neovim has a quite mature plugin ecosystem in Lua (see [nvim-lua-guide](https://github.com/nanotee/nvim-lua-guide)). We can attract those plugin developers if we provide a Lua plugin interface.

[2022-03-27 09:39] possstmossst opened #282 "[FEAT] - YOUR_DESCRIPTION"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-27 10:07] wdg commented on #282
Please open a new issue if there is a problem or if you have a suggestion, this one does not has any content, so I’ll close it.

[2022-03-27 10:07] #282 closed

[2022-03-27 12:50] Jeehut commented on #189
I like the idea of adding color themes for syntax highlighting. But I think "smart themes" based on wallpaper background or tint color should be the second or third step. First, we should provide a decent set of popular theming styles, including some that have really good contrast for accessibility. Next, we should build a custom theme editor so users can duplicate the existing and adjust them to

[2022-03-27 19:59] Angelk90 commented on #274
@lukepistrol : You could then do this test.

[2022-03-27 20:00] lukepistrol commented on #274
@Angelk90 what do you mean?

[2022-03-27 20:06] Angelk90 commented on #274
@lukepistrol : You can take this test if you can:

1. open a new project
2. close it
3. see if you find it in the history
4. stop the program from xcode
5. start the program from xcode again
6. see if it appears now in the history

[2022-03-27 20:11] lukepistrol commented on #274
No without closing the program all together it won't appear. Once you close and run again, it appears as expected

[2022-03-27 20:12] Angelk90 commented on #274
@lukepistrol : So is this normal behavior?

[2022-03-27 20:26] Angelk90 opened #284 "🐞 The document could not be opened"
**Describe the bug**
When I try to open this project, it only happens with this specific one from what I have seen so far, it gives me the following error.

I don't understand what caused it.

**Screenshots**
<img width="305" alt="Schermata 2022-03-27 alle 22 11 39" src="https://user-images.githubusercontent.com/20476002/160299226-f9eaaef2-709e-4c7b-9ad9-b4e9eecad29e.png">

**Desktop (please compl

[2022-03-27 21:46] Jeehut opened #285 "🐞 Inconsistent and bug-prone localization approach"
**Problem:**
The localization story of this project seems to be unclear. I found [this](https://github.com/CodeEditApp/CodeEdit/blob/main/CodeEdit/Localization/Localized%2BEx.swift) String extension which is supposed to be used to get autocompletion by adding all keys into the `LocalizedStringKey` extension in the same file. But none were added yet except the first sample "Hello World" entry.

Sti

[2022-03-27 22:03] jasonplatts commented on #262
Yeah, I agree. It seems like it might be better as an extension. Nova offers tasks, https://docs.nova.app/extensions/run-configurations/.

[2022-03-27 22:12] jasonplatts commented on #262
Here is the link to VS Code tasks. https://code.visualstudio.com/docs/editor/tasks

[2022-03-27 22:12] austincondiff opened #286 "✨ Themes Settings"
**Is your feature request related to a problem? Please describe.**
We need a better themes preferences tab to allow for better usability and more scalability as we add more features around themes.

### **Describe the solution you'd like**

<img width="1728" alt="15-macOS-code-edit-preferences-themes-10a" src="https://user-images.githubusercontent.com/806104/160706522-0d4abcb0-c719-479c-99c7-85b938

[2022-03-27 22:32] austincondiff commented on #270
The inspector (right) sidebar visibility toggle issue is #172 and #173. It might make sense to do these all together.

[2022-03-27 23:31] Angelk90 commented on #285
@Jeehut : Does it also work with xib files?

[2022-03-28 04:35] Jeehut commented on #285
@Angelk90 Yes, it works with XIB files, too. BartyCrouch actually extracts and incrementally updates the localized strings from them. That's why I had initially created the tool in the first place, because adding new keys was really tedious, especially with many languages supported.

[2022-03-28 06:14] underthestars-zhy commented on #286
If you like one, please give a rocket, if you like 2, please give a heart

[2022-03-28 06:21] underthestars-zhy commented on #286
Quick instructions about option 2:

Q: If I want theme auto changes when I change the system appearance

A: Use a dynamic theme.

Q: If I want to have different themes on light and dark mode. And they can auto change

A: Choose a light theme and a dark theme. You will see two previews on the right side.

[2022-03-28 06:56] #261 closed

[2022-03-28 10:21] armartinez commented on #284
I'm getting the same error when opening certain directories, this is the error code

`NSUnderlyingError=0x60000192a3d0 {Error Domain=NSPOSIXErrorDomain Code=20 "Not a directory"`

[2022-03-28 11:06] underthestars-zhy opened #288 "[FEAT] - A/B Test"
Often, there are designs that we cannot determine if they are suitable. At this time, the choice needs to be given to the user. A/B testing can achieve this. When faced with a controversial page, the A/B testing system randomly assigns the user a design the first time they open it. Users can choose to like or dislike. This is very much like the A/B showcase system that Apple recently introduced in

[2022-03-28 11:51] underthestars-zhy opened #290 "✨ Style Check"
We can add style check to our app. So people don't need to download them (`brew install swiftlint`). Also, this can be an extension. Here are some imgs

When style isn't checked
<img width="1728" alt="01-macOS-code-edit" src="https://user-images.githubusercontent.com/46642225/160391792-7e3bfd21-7d25-407c-9d63-0eaa9b345fc4.png">

when the mouse is over

<img width="1728" alt="01-macOS-code-edit-hov

[2022-03-28 13:22] Jeehut opened #291 "[BUG] - Inconsistent whitespacing in project files (tabs + spaces)"
**Problem:**
Independent from how many spaces we prefer for code indentation in this project (some prefer 2 like the [default in apple/swift-format](https://github.com/apple/swift-format/blob/main/Sources/SwiftFormatConfiguration/Configuration.swift#L63), some prefer 4 like the [default in SwiftLint](https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/Style/IndentationWi

[2022-03-28 13:34] lukepistrol commented on #286
I really like concept 1

[2022-03-28 13:53] underthestars-zhy commented on #286
concept 1 can be implemented to concept 2 and 3 by using menu.

[2022-03-28 14:10] austincondiff commented on #286
@underthestars-zhy I really appreciate the effort, but you are creating confusion in your attempts to oversimplify the UI. Sometimes being explicit and intentional drives increased user understanding and clarity.

[2022-03-28 14:22] underthestars-zhy commented on #286
So, if you use your ideas. Then we need to abandon the dynamic theme. Is there any way to achieve a balance between the two?

[2022-03-28 14:28] underthestars-zhy commented on #286
Maybe we can have a related theme if a dark theme is associated with a light theme. When the user chooses this dark theme, the light theme can change to the related light theme if the user doesn’t like it. They can shift the light theme back.

This can use concept 3

Or we pop a button. If the user wants to change to the related theme, they tap them

[2022-03-28 21:25] jasonplatts commented on #180
To the Swift developers, @pkasila, @MarcoCarnevali, @underthestars-zhy, and any others, how could we go about writing this API in Swift and then packaging/compiling/submitting the extensions in an approachable way?

Please correct me if I am wrong, VS Code uses the command line I think. Nova just takes care of everything via the GUI. There is a menu option to "Submit extension" and everything simp

[2022-03-28 21:25] #277 closed

[2022-03-28 21:25] #278 closed

[2022-03-28 22:09] pkasila commented on #180
So, in my opinion, Swift Extension Architecture can be implemented the way described below.

## Swift API
So, let's say we have a `CodeEditExtensionAPI` package that declares protocols to work with API (the main one is `CodeEditAPIProtocol`). Both the CodeEdit app and extensions link to this package. Then, the API class, conforming to `CodeEditAPIProtocol`, is implemented in the CodeEdit app. Then

[2022-03-28 22:30] lukepistrol commented on #171
Fixed in #287

[2022-03-28 22:30] #171 closed

[2022-03-28 22:31] #169 closed

[2022-03-28 22:31] #246 closed

[2022-03-28 22:37] Angelk90 commented on #284
@armartinez : Error does not print me, the console target what is set to when it gives you error:
<img width="135" alt="Schermata 2022-03-29 alle 00 35 06" src="https://user-images.githubusercontent.com/20476002/160498219-f964a895-7f1b-4c4f-b7e2-de5fd60a0f5c.png">

The strange thing is that if I try to open a dir that is inside the one I want to open, it opens it.

[2022-03-28 22:37] lukepistrol commented on #258
Consider this in #285

[2022-03-28 23:13] lukepistrol commented on #291
fixed in #292

[2022-03-28 23:13] #291 closed

[2022-03-28 23:13] jasonplatts commented on #180
Awesome @pkasila!

[2022-03-28 23:22] #45 closed

[2022-03-28 23:25] #137 closed

[2022-03-28 23:30] lukepistrol commented on #19
This problem will mostly be solved once all components are moved to their own module (@MarcoCarnevali is working on this).

As it turns out while previewing a view in a separate module, the preview works instantly. No need to set a Team ID at all.

Closing this for now.

[2022-03-28 23:30] #19 closed

[2022-03-28 23:34] lukepistrol commented on #234
We recently decided that localization will be implemented at a later stage.

[2022-03-28 23:34] #234 closed

[2022-03-28 23:39] lukepistrol commented on #170
No longer reproducible

[2022-03-28 23:39] #170 closed

[2022-03-28 23:48] lukepistrol commented on #248
Duplicate of #37

[2022-03-28 23:48] #248 closed

[2022-03-28 23:49] jasonplatts commented on #180
Are we able to automate and simplify this process from the extension developers perspective through CodeEdit? Maybe a "Package and Submit Extension…" menu item?

[2022-03-28 23:52] lukepistrol commented on #288
Let's not overcomplicate things. It's a good idea but way beyond scope for `v1.0`

[2022-03-28 23:52] #288 closed

[2022-03-28 23:56] lukepistrol commented on #290
What exactly is the purpose of this? We are not developing our own versions of `eslint` or any other `lint` service. Since this is not core functionality of the app, plug-in devs can create and publish plugins for linting later on.

[2022-03-28 23:56] Angelk90 opened #293 "[BUG] - Missing package product"
**Describe the bug**
I've been pulling the new updates, but I'm getting these errors.

So I also deleted the project and cloned it again same errors.

I cleared the cache, I didn't fix anything.
I signed my credentials, I didn't solve anything.
I signed `Team none` and sign certificate `Locally`, I didn't solve anything.

How do I fix this problem that I don't remember how I solved it a while ago?

[2022-03-28 23:58] jasonplatts commented on #180
I am in favor of this option if we can make it work. I understand there will be costs involved and it probably depends on community support. I think it's the most reliable choice.

If extension developers provide their own storage, whether it be GitHub or something else, there is the possibility that these services might be down, causing some extensions to work and some other not, which could caus

[2022-03-29 00:00] lukepistrol commented on #293
No problem on my side.

Did you try `File > Packages > Reset Package Caches`?

[2022-03-29 00:03] lukepistrol commented on #284
What does the file path look like? Is it happening for other folders with a similar path too? What if you move the folder to a different location?

[2022-03-29 00:04] Angelk90 commented on #293
@lukepistrol : Thx, this seems to have solved the problem, but how come this happens?

[2022-03-29 00:06] Angelk90 commented on #284
@lukepistrol : It seems that it only happens with this folder, but if I try as I said to open a folder that is inside it works, it opens the internal folder for me.

[2022-03-29 00:09] lukepistrol commented on #293
I don't know. But it's been known. For reference: [Troubleshooting](https://github.com/CodeEditApp/CodeEdit/blob/main/CONTRIBUTING.md#troubleshooting)

[2022-03-29 00:09] #293 closed

[2022-03-29 00:10] lukepistrol commented on #284
Is the folder read or write protected? please attach the output when you `ls -l` the parent directory in terminal

[2022-03-29 00:14] Angelk90 commented on #284
@lukepistrol : `drwxr-xr-x@ 28 nameUser  staff       896 27 Mar 15:26 sol`

[2022-03-29 00:15] Angelk90 commented on #284
@lukepistrol : The weird thing I had tried long ago to open it, it had opened it worked.

[2022-03-29 00:24] lukepistrol commented on #284
Nothing unusual here.

Is it some kind of system folder? like the user folder, desktop, documents, etc.?

[2022-03-29 00:33] Angelk90 commented on #284
@lukepistrol : I had `document` printed here when I access the folder returns nil.

https://github.com/CodeEditApp/CodeEdit/blob/cb856a1d4ad2bb933b16a4a6c52d3f68486fefc5/CodeEdit/Documents/CodeEditDocumentController.swift#L28

[2022-03-29 00:52] lukepistrol commented on #284
what is the error?

can you do `print(document, documentWasAlreadyOpen, error)`?

[2022-03-29 00:56] #146 closed

[2022-03-29 00:56] Angelk90 commented on #284
@lukepistrol :
[code]

[2022-03-29 01:00] lukepistrol commented on #284
Could it be that some of the sub folders `/Users/nameUser/Desktop/sol/macos/Pods/hermes-engine/destroot/Library/Frameworks/macosx/hermes.framework/Resources` in particular are stored in iCloud and are not actually downloaded to your machine at the moment?

[2022-03-29 01:05] Angelk90 commented on #284
I exclude it I don't use icloud.

I think it depends on the type of file called `Resources`.
You can give it a try to see if it works for you.
Download the project, run this command on the project: `yarn && npx pod-install macos`
Then try to access the folder, to see what happens.

Link: [project](https://github.com/ospfranco/sol)

[2022-03-29 01:10] lukepistrol commented on #284
Will do tomorrow.

[2022-03-29 04:14] akring opened #294 "[FEAT] - File icon support for ".h" ".m" and "vue""
File with extension `.h` `.m` and `.vue` need a more specific file icon, like Xcode and Visual Studio Code did.

<img width="168" alt="CleanShot 2022-03-29 at 12 04 17@2x" src="https://user-images.githubusercontent.com/6525286/160530952-7016e6ed-c812-4dea-bd57-ca94239a5d1e.png">

[2022-03-29 07:22] lukepistrol commented on #294
How about this for now?

<img width="113" alt="Screen Shot 2022-03-29 at 09 20 57" src="https://user-images.githubusercontent.com/9460130/160556236-28528d91-67bb-4ecd-9836-9477ac9ae9a4.png">

[2022-03-29 08:26] abhibeckert commented on #271
Yes - some ideas:

- indentation settings - tabs vs spaces (and how many), indent wrapped lines, etc
-  theme options
- default type for new documents

- ask for permission to report crashes, check for updates, etc
- show the license (might just be one line with a link)

- show news and encourage signing up to a newsletter or at least star the github project.

The last one is the most important at

[2022-03-29 08:35] #209 closed

[2022-03-29 08:36] #175 closed

[2022-03-29 09:16] underthestars-zhy commented on #290
I originally wanted to implement it with plug-ins. This issue just means that we can set this kind of plug-in to look like this.

[2022-03-29 09:20] Angelk90 commented on #284
@lukepistrol : Let me know if you want more information.

[2022-03-29 10:51] Angelk90 commented on #293
@lukepistrol : How come in CodeEditTests and CodeEditUITest, the Team name is left with the signed certificate?
<img width="153" alt="Schermata 2022-03-29 alle 12 46 13" src="https://user-images.githubusercontent.com/20476002/160594957-d4137f5a-3446-476f-a84e-6eeb3bda4fd3.png">

[2022-03-29 12:58] #294 closed

[2022-03-29 13:50] armartinez commented on #284
@lukepistrol Ok I found out that if I open a folder that contains an `.app` file, the crash happens

[2022-03-29 14:21] Angelk90 opened #303 "🐞 Light shell theme too dark colors"
**Describe the bug**
As you can see from the video some colors are too dark for both light and dark theme set.

Below I suggest two possible colors, which are the ones you see at the beginning of the video.
The next colors you see in the video are the default ones.

[code]

In video two, when he tries to suggest a letter, it is not seen, even in dark mode.
I tried to change the colors, but I can't

[2022-03-29 14:37] lukepistrol commented on #303
Since the default colors are the standard ANSI colors from `Terminal.app` we would set them as `default`.

Later on the color theme will be synced with the code editor theme (once we have that one running) with the option to override.

**For Reference:**
<img width="324" alt="Screen Shot 2022-03-29 at 16 34 21" src="https://user-images.githubusercontent.com/9460130/160636365-d7cfc494-cb8a-4046-91b

[2022-03-29 15:17] #173 closed, assigned to nobody

[2022-03-29 15:17] #270 closed

[2022-03-29 16:54] austincondiff commented on #286
I just discovered that Xcode automatically changes themes on system appearance change. It simply applies the theme selected when the user in in each mode.
For example,
- I am in dark mode
- The theme is set to Basic Dark
- I select High Contrast Dark
- I change system appearance to light mode
- The theme changes to Basic Light
- I change the theme to Sunset
- I change the system appearance to dark

[2022-03-29 17:18] fwcd opened #305 "✨ Release app via GitHub Actions workflow"
**Is your feature request related to a problem? Please describe.**
Once the project is at a stage ready to be released, it would be nice to have an app bundle to download.

**Describe the solution you'd like**
Once GitHub Actions provides macOS 12 runners, a workflow could be used to automatically build and release the app (e.g. on GitHub Releases), e.g. whenever a new tag is pushed.

[2022-03-29 17:27] fwcd opened #306 "✨ Vim-style modal editing"
(First of all thanks for this awesome project, looks amazing already and I can't wait to play with it more.)

**Is your feature request related to a problem? Please describe.**
As a Vim user it would be great to have modal editing with Vim keybindings.

**Describe the solution you'd like**
A vim mode, similar to [VSCodeVim](https://github.com/VSCodeVim/Vim) or Xcode 13's new Vim mode.

**Additiona

[2022-03-29 17:38] lukepistrol commented on #306
Good idea but probably way out of scope for the initial `1.0` release

[2022-03-29 18:27] gizmolab10 opened #307 "Create binary Mac OS X downloads (perhaps with targeted OS versions)"
kinda seems ironic that you force people to bootstrap CodeEdit with Xcode as the build tool. I recognize that your audience is, like me, technically adept, and capable of pulling and building, but it does feel to me like an obstacle large enough for me to pause or not bother.

[2022-03-29 18:29] wdg commented on #307
Hi!

We are too early in development to distribute a binary on every build.
It will come, please wait a little bit longer this project is not even a month old.

[2022-03-29 18:30] austincondiff commented on #307
In the README it says...

[2022-03-29 18:30] #307 closed

[2022-03-29 19:40] DanKlaver15 commented on #100
Is this more of what you were looking for?
![CleanShot 2022-03-29 at 14 38 51](https://user-images.githubusercontent.com/9391497/160693834-c22a6b56-33e6-4f0e-9957-3c004c3bfb40.png)
![CleanShot 2022-03-29 at 14 38 28](https://user-images.githubusercontent.com/9391497/160693849-054e02b6-f2f5-458d-941e-d5b97a721502.png)
?

[2022-03-29 19:43] austincondiff commented on #100
In system preferences in general, when the sidebar icon size is set to medium, each sidebar list item should have a height of 22pt.

[2022-03-29 20:01] jav-solo commented on #41
This can be assigned to me. I may need a little guidance as far as where to put the `.json` config file, but should be able to handle this.

[2022-03-29 20:03] jasonplatts commented on #41
Thanks @jav-solo!

[2022-03-29 20:39] Angelk90 opened #308 "✨ Multiple git accounts"
**Is your feature request related to a problem? Please describe.**

I have multiple `github` accounts, so when I have to clone a repository in ssh, I must specify user.

If user is not specified it could give some problems, so about the cloning functionality #232, it would be possible to implement a similar thing, also in the future.

<img width="649" alt="Schermata 2022-03-29 alle 22 38 34" src="

[2022-03-29 20:40] austincondiff commented on #286
**Please note:** I just updated the mockups with our new target.

[2022-03-29 20:49] pkasila commented on #180
I think we can determine whether an extension project is open. Any extension's project can be a Swift Package (with a dynamic library) with `manifest.json` file, so if CodeEdit (actually, a specific extension for extension developers) detects that this is an extension's project, then it adds a target for the extension to be published and this target handles packaging and submitting the extension t

[2022-03-29 22:32] lukepistrol opened #309 "🐞 Breadcrumbs Menu appearing on the bottom of the window"
**Describe the bug**
The breadcrumbs menu appears at the bottom of the window instead of at the clicked item.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a file in the sidebar
2. Click on a item in the breadcrumb navigator
3. The menu appears on the bottom of the window

**Expected behavior**
The menu should appear above the selected item

**Screenshots**
<img width="1280" alt="Scre

[2022-03-29 22:42] abhibeckert commented on #303
Maybe it's my display - but some of those default colours in Terminal.app are basically unusable for me. The contrast is just too low (and I have good vision). I don't think they're a good default.

[2022-03-29 22:47] jasonplatts commented on #180
Thanks @pkasila. Sounds to me like a solid starting point. I know there will be details to figure out and a lot of trial and error as we go.

[2022-03-29 23:56] abhibeckert opened #311 "✨ Remote Development"
It should be possible to edit a project on a remote server over SSH.

Commands like project find, version control, LSP (See #12) should be executed on the remote server to eliminate latency issues as well as generally reducing the complexity of this feature.

The integrated terminal would also be for the remote server.

Plugins/Modules should also be able to execute code on the remote server.

See

[2022-03-30 00:59] nanashili commented on #134
Temp files always begin with . Infront of the name to show its temp so by check if the folder name has a "." in front of it we can check what folders are temp and what's not.

@lukepistrol

[2022-03-30 01:04] lukepistrol commented on #134
Is this still reproducible? @pkasila

[2022-03-30 01:10] nanashili commented on #134
Just check for a .temp as the extension because all temp folders get saved with that extension... Another way you can also check is take the original file name and see if there is other characters after it and with a .temp extension also.

[2022-03-30 01:46] lukepistrol commented on #286
I'll work on this next!

[2022-03-30 05:50] austincondiff commented on #41
@jav-solo Just use app storage for now, we can worry about an external file later.

Also, this is related to #256, do you think it is a good idea to do this at the same time?

[2022-03-30 06:02] austincondiff commented on #271
@abhibeckert those are some great ideas! Tailoring it for our needs is a great suggestion. I agree that it should be part of the welcome screen window, but should only happen once.

Here is what I am thinking...

1. Intro / Welcome
2. Theme options
3. Crash reports, auto update checkboxes
4. Newsletter signup, GitHub star button and Tweet button, and licensing info

[2022-03-30 06:04] austincondiff commented on #221
What do we want to do with this? We cannot remove the animation, but rather change it to be more like macOS tabs which I think will help.

[2022-03-30 06:21] pkasila commented on #134
Seems like it's not reproducible already, I'm closing this issue

[2022-03-30 06:21] #134 closed

[2022-03-30 06:44] arifali123 opened #313 "[FEAT] - File icon support for ".go" ".sum" ".mod" and "Makefile""
**Is your feature request related to a problem? Please describe.**
Go files need more icons and colors like visual studio code.
<img width="240" alt="CleanShot 2022-03-29 at 23 43 55@2x" src="https://user-images.githubusercontent.com/51419655/160768162-425d968b-ed4b-4437-a9b9-eaab64e62d07.png">

[2022-03-30 07:06] austincondiff opened #315 "@all-contributors please add @jakebolam for infrastructure, tests and code"
@all-contributors please add @jakebolam for infrastructure, tests and code

[2022-03-30 07:09] austincondiff opened #316 "Contributors"
Use this issue to add new contributors.

[2022-03-30 07:10] austincondiff commented on #316
@all-contributors please add @austincondiff for design and code

[2022-03-30 07:12] wdg commented on #221
Maybe make the animation faster, but not removing it in my opinion,

[2022-03-30 07:12] austincondiff commented on #316
@all-contributors please add @lukepistrol for infrastructure, tests and code

[2022-03-30 07:17] austincondiff commented on #316
@all-contributors please add @pkasila for infrastructure, tests and code
@all-contributors please add @MarcoCarnevali for infrastructure, tests and code

[2022-03-30 07:17] austincondiff commented on #316
https://github.com/all-contributors please add @MarcoCarnevali for infrastructure, tests and code

[2022-03-30 07:18] austincondiff commented on #316
@all-contributors please add @MarcoCarnevali for infrastructure, tests and code

[2022-03-30 07:19] austincondiff commented on #316
@all-contributors please add @pkasila for infrastructure, tests and code

[2022-03-30 07:22] austincondiff commented on #316
https://github.com/all-contributors please add @wdg for infrastructure, tests and code

[2022-03-30 07:23] austincondiff commented on #316
@all-contributors please add @wdg for infrastructure, tests and code

[2022-03-30 07:26] austincondiff commented on #316
@all-contributors please add @nanashili for code

[2022-03-30 07:28] austincondiff commented on #316
@all-contributors please add @RayZhao1998 for code

[2022-03-30 07:47] austincondiff commented on #316
@all-contributors please add @Jeehut for code

[2022-03-30 07:49] austincondiff commented on #316
@all-contributors please add @MysteryCoder456 for code

[2022-03-30 07:50] austincondiff commented on #316
@all-contributors please add @Angelk90 for code

[2022-03-30 08:05] austincondiff commented on #316
@all-contributors please add @StefKors for code

[2022-03-30 08:06] austincondiff commented on #316
@all-contributors please add @akring for code

[2022-03-30 08:08] austincondiff commented on #316
@all-contributors please add @highjeans for code

[2022-03-30 08:10] austincondiff commented on #316
@all-contributors please add @thecoolwinter for code

[2022-03-30 11:30] nanashili opened #332 "✨ Built-In Issue Reporter"
**Describe the solution you'd like**
We can add an issue reporter dialog to the editor so that developers can submit issues to the GitHub repo from within the editor instead of going to the GitHub to do it. By doing this we can decrease the steps the users need to take in order to notify us of issues that might rise.

**Additional context**
Here is an example of what I mean.. Xcode has something s

[2022-03-30 12:13] FezVrasta commented on #180
Could I suggest to look at how Raycast is handling extensions? It's a delightful experience and it's attracting many developers.

[2022-03-30 15:53] jav-solo commented on #41
Yeah, I think that's a good idea!

[2022-03-30 16:05] nanashili commented on #332
@austincondiff Can you maybe design a mockup for me so I can get an idea of how to build the design?

[2022-03-30 17:12] austincondiff opened #338 "✨ Split Editors"
## Is your feature request related to a problem? Please describe.

Users might want to see more than one editor at once.

## Describe the solution you'd like

We need the ability to open editors in a split side-by-side layout, vertically and horizontally.

## Mockups

### Step 1: User mouses over to editor tab that they would like to go in a new split editor

![image](https://user-images.githubuse

[2022-03-30 17:15] lukepistrol commented on #338
I love the idea but we should first get the main editor working (code highlighting, performance) and then focus on multiple editors

[2022-03-30 17:18] lukepistrol commented on #309
@RayZhao1998 can you have a look at it again?

[2022-03-30 17:21] austincondiff commented on #41
Perfect, if you are working on this please submit a draft PR.

[2022-03-30 17:30] austincondiff commented on #180
Good suggestion @FezVrasta! For references:

- https://developers.raycast.com/
- https://github.com/raycast/extensions

[2022-03-30 17:36] nanashili commented on #332
@austincondiff and @lukepistrol what you think of this type of design?

![Screenshot 2022-03-30 at 19 34 48](https://user-images.githubusercontent.com/63672227/160896810-f5dd73c0-6923-4d72-8b62-c97efc2e170a.png)

[2022-03-30 18:18] austincondiff commented on #332
I may not need to do a mockup, that design is perfect!

[2022-03-30 18:19] lukepistrol commented on #332
Agree!

[2022-03-30 18:19] nanashili commented on #332
Do we want attachments added also?

[2022-03-30 18:20] austincondiff commented on #332
How will this be submitted? As a github issue?

[2022-03-30 18:20] lukepistrol commented on #332
If possible it would be nice to include images or videos!

[2022-03-30 18:21] nanashili commented on #332
Yes it would, i will use their api to submit it to the repo.

[2022-03-30 18:22] nanashili commented on #332
It should be possible but I would need help on that from someone.

[2022-03-30 18:27] austincondiff commented on #332
Let's start with text. We can use our issue template for our baseline fields. The first field, feedback type, will determine the rest of the fields.

[2022-03-30 18:28] austincondiff commented on #332
Who will own the issue on GitHub? Will it use their associated github account? If that is the case we may need to check if they are signed in.

[2022-03-30 18:30] nanashili commented on #332
I'll get back to you with an answer in a few minutes

[2022-03-30 18:41] austincondiff commented on #332
So I was just playing around with VSCode feedback. I submitted a test and it opened the Github issue immediately in my browser authored by me. I signed out of Github in my browser, submitted another from VSCode and it again opened the issue in Github authored by me but it was signed out. It must use my account from VSCode to create the issue.

[2022-03-30 18:44] nanashili commented on #332
Hmmm, interesting okay let me see what i can come up with this week/weekend

[2022-03-30 19:39] austincondiff commented on #271
Updated the issue description with Racast's onboarding flow. Very slick!

[2022-03-30 20:09] arifali123 commented on #271
if we are trying to make this the xcode for other languages, I'm pretty sure they dont have an onboarding flow so we should just leave it as is, IMO

[2022-03-30 21:13] nanashili opened #339 "✨ Bitbucket Client"
**Describe the solution you'd like**
Create a Bitbucket client that uses the Bitbucket API to allow the user to log into their Bitbucket account and clone repos, get a list of their repos etc...

[2022-03-30 21:16] nanashili commented on #308
Will start building this tomorrow as Issue #339 is a priority now.

[2022-03-30 21:18] Angelk90 commented on #308
@nanashili : Perfect, it would be great to have for Github and Gitlab later as well.

[2022-03-30 21:19] nanashili commented on #308
Github will be added also tomorrow will check out gitlab too and see if I can't add that too

[2022-03-30 21:24] Angelk90 commented on #308
@nanashili : Speaking of Github, I had tried something similar to what xcode does which allows you to search for public repositories and be able to clone them.  But nothing special.

 https://github.com/CodeEditApp/CodeEdit/pull/232#issuecomment-1080503199

[2022-03-30 21:26] austincondiff commented on #308
That is awesome @Angelk90! Please include this.

[2022-03-30 21:36] nanashili opened #340 "✨ Acknowledgement Screen"
**Describe the solution you'd like**
Build an acknowledgement screen where we can credit developers of third party libaries. We can expand this to be an about screen with version number/name and then add a button that opens the acknowledgement screen.

[2022-03-30 21:37] Angelk90 commented on #255
@austincondiff : Could you check if you have this problem too?

[2022-03-30 21:38] austincondiff commented on #255
I can confirm this is a problem

[2022-03-30 21:38] Angelk90 commented on #250
@austincondiff : Could you check if you have this problem too?

[2022-03-31 02:30] RayZhao1998 commented on #309
Yes, will look at it this weekend.

[2022-03-31 06:37] abhibeckert commented on #271
I think happening once is a mistake. People skip over/ignore first run experiences. They need to be given an opportunity to access that stuff on subsequent launches.

[2022-03-31 07:08] austincondiff commented on #36
FYI, I just pinned this issue and updated the description to track other issues.

[2022-03-31 12:43] lukepistrol commented on #286
At the moment (as of #343 ) the themes get saved/read to/from `~/.codeedit/themes` as a `.json` file that looks like this:

[code]

[2022-03-31 12:57] Angelk90 opened #344 "✨ - Export/Import settings"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

It would be very useful to be able to export and import settings.

### Describe alternatives you've considered

When trying to export settings, a json file may be created.

### Additional context

Also being able to decide which of the settings to choose, to import.

[2022-03-31 13:26] underthestars-zhy commented on #94
Create View will look like this:
<img width="1440" alt="016-macOS-code-edit-add-file" src="https://user-images.githubusercontent.com/46642225/161063746-f4a4eefb-7744-4f3e-85e7-30c98d93e8a0.png">

And also there will be a custom type: .cet (CodeEdit Template)

![file - template](https://user-images.githubusercontent.com/46642225/161064947-1c81f7a5-eada-42e1-ab80-740641339822.png)

This file contain

[2022-03-31 13:30] Angelk90 opened #345 "🐞 Not Seeing All Available Branches In Branch Selector"
### Description

Clicking on the button that should show me the branches that are there, it shows me only the one in use.

<img width="185" alt="Schermata 2022-03-31 alle 15 27 16" src="https://user-images.githubusercontent.com/20476002/161065799-a7fb39bc-31a4-421d-89f7-5b3ccd6bec13.png">

### To Reproduce

1. I open a project that contains at least two branches
2. I click on the button that shoul

[2022-03-31 14:20] austincondiff commented on #344
All settings should be stored and synced with ~/.codeedit/preferences.json

[2022-03-31 17:14] austincondiff opened #346 "✨ Workspace UI"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Provide the UI laid out in our [concept]([this concept](https://www.figma.com/proto/qj6raZbQsZpGO0NAVi4qsv/CodeEdit-Concept?node-id=1%3A870)) that includes the following...

- [ ] Navigation Sidebar
- [ ] Inspector Sidebar
- [ ] Tabs
- [ ] Breadcrumbs
- [ ] Statusbar

### Descri

[2022-03-31 17:17] austincondiff opened #347 "✨ Navigator Sidebar"
This is a placeholder issue to track the progress of the navigator sidebar.

[2022-03-31 17:18] austincondiff opened #348 "✨ Inspector Sidebar"
This is a placeholder issue to track the progress of the inspector sidebar.

[2022-03-31 17:21] austincondiff opened #349 "✨ Tab Bar"
Implement a tab bar where all open files are displayed allowing for easy access.

[2022-03-31 17:22] austincondiff opened #350 "✨ Bottom Drawer"
The bottom drawer of debug area, consists of tabs that exist in the status bar, drawer content, and a button to expand this area to fill the app content area.

This is how the drawer would look when in the terminal tab...

<img width="1728" alt="01-macOS-code-edit-alternate-ui-drawer-tabs-terminal" src="https://user-images.githubusercontent.com/806104/163038781-0a7df0b8-b4cc-4ed8-b518-548d59580d28

[2022-03-31 17:29] austincondiff opened #351 "✨ Project Navigator"
This is a placeholder issue to track the progress of the project navigator in the navigator sidebar.

[2022-03-31 17:30] austincondiff opened #352 "✨ Source Control Navigator"
This is a placeholder issue to track the progress of the source control navigator in the navigator sidebar.

- [x] #1527
- [x] #1528
- [x] #1529

[2022-03-31 17:31] austincondiff opened #353 "✨ Symbol Navigator"
### Description

It would be helpful to have a Symbol Navigator that provides a hierarchical list of symbols (e.g., classes, structs, enums, functions, variables) defined in the currently open file. This navigator would allow users to quickly jump to a symbol’s location and understand the structure of the file at a glance.

### Proposed Features

- Display all top-level and nested symbols in a tre

[2022-03-31 17:35] austincondiff opened #354 "✨ Issue Navigator"
This is a placeholder issue to track the progress of the issue navigator in the navigator sidebar.

[2022-03-31 17:37] austincondiff opened #355 "✨ Extension Navigator"
This is a placeholder issue to track the progress of the extension navigator in the navigator sidebar.

[2022-03-31 18:28] austincondiff opened #357 "Minimap"

[2022-03-31 21:22] jo-te commented on #76
Maybe at this state irrelevant but not tracked as an issue yet is a way to let extensions provide localization for their displayed strings. Is this something to be tracked in a separate issue?

[2022-04-01 05:17] mnkd opened #360 "🐞 Crash when clicking the version label on the Welcome Window"
### Description

`ProcessInfo.processInfo.operatingSystemVersionString` may return a string like `バージョン12.3（ビルド21E230）` and cannot be split by `” “`. As a result, referencing `osSeperated[1]` crashes.

For example, if you set the preferred language to Japanese on the System Preferences.

### To Reproduce

1. Set preferred language to Japanese (日本語) on the System Preferences (and reboot macOS)
2. L

[2022-04-01 07:34] #360 closed

[2022-04-01 08:26] austincondiff opened #362 "✨ File Inspector"

[2022-04-01 08:26] austincondiff opened #363 "✨ History Inspector"

[2022-04-01 08:26] austincondiff opened #364 "✨ Quick Help Inspector"

[2022-04-01 14:30] pkasila commented on #180
@viktorstrate Looks good! Actually I forgot about `Bundle`s when I was writing. I think they can fit all of our needs

[2022-04-01 20:08] Angelk90 commented on #235
@austincondiff : What is the event that allows you to intercept the closure of the program?

[2022-04-01 20:27] austincondiff commented on #235
@Angelk90 What do you mean?

[2022-04-01 20:37] Angelk90 commented on #235
@austincondiff : In the code I was trying to find if an event is implemented that allows to understand that when working on a project is user closes the project, if any event is called.

[2022-04-01 20:48] austincondiff commented on #235
When closing an editor window, just check if there are any other windows open. If there aren't, open the welcome window. If it is already open, focus it.

[2022-04-01 21:31] pkasila commented on #183
I'm working on the PoC for Extension Store API, so I hope I'll be able to show some demos of how it can be implemented by Monday-Tuesday

[2022-04-01 21:38] austincondiff opened #367 "✨ Application Preferences"
We need a way for users to manage and set application preferences.

## Tasks

- [ ] #34
- [ ] #11
- [ ] ✨ Terminal Preferences
- [ ] ✨ Accounts Preferences
- [ ] ✨ Behaviours Preferences
- [ ] ✨ Navigation Preferences
- [ ] #344
- [ ] ✨ Editing Preferences
- [ ] ✨ Key Binding Preferences
- [ ] ✨ Source Control Preferences
- [ ] ✨ Extensions Preferences

[2022-04-01 21:39] austincondiff opened #368 "✨ Terminal Preferences"

[2022-04-01 21:39] austincondiff opened #369 "✨ Accounts Preferences"

[2022-04-01 21:39] austincondiff opened #370 "✨ Behaviours Preferences"

[2022-04-01 21:39] austincondiff opened #371 "✨ Navigation Preferences"

[2022-04-01 21:39] austincondiff opened #372 "✨ Editing Preferences"

[2022-04-01 21:39] austincondiff opened #373 "✨ Key Binding Preferences"

[2022-04-01 21:39] austincondiff opened #374 "✨ Source Control Preferences"

[2022-04-01 21:39] austincondiff opened #375 "✨ Extensions Preferences"

[2022-04-01 21:41] austincondiff opened #376 "✨ General Preferences"
## Options

| Option | Description | Type | Values | Default Value |
| - | - | - | - | - |
| Appearance | Choose the appearance for buttons, menus, and windows for the CodeEdit user interface. | Select | System, Light, Dark | System |
| Issues |  | Select | Show Inline, Show Minimized | Show Inline |
| Show Live Issues |  | Checkbox |  | Checked |
| File Extensions | Toggles visibility of file ext

[2022-04-01 21:42] austincondiff opened #377 "✨ General Preferences"

[2022-04-02 07:47] Angelk90 opened #379 "✨ Multi shell"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

As you can see from the image, being able to have more than one shell in a project would be great.

### Describe alternatives you've considered

Here are some examples of how it handles Webstorm:

<img width="414" alt="Schermata 2022-04-02 alle 09 40 31" src="https://user-images

[2022-04-02 10:34] Angelk90 commented on #379
@austincondiff : What program is that in the video?

[2022-04-02 11:01] Angelk90 commented on #379
@austincondiff : What program is that in the video?

Opening would be better like this:

https://user-images.githubusercontent.com/20476002/161380192-008982d6-21b6-4ff2-8dfd-be3218f894b3.mov

[2022-04-02 11:23] Angelk90 commented on #235
@austincondiff : This thing isn't implemented yet, right?

[2022-04-02 12:14] wdg commented on #274
If you close the app using Xcode you're killing the app, then it doesn't write to history.
I'll check if we can append it to opened project before the app closes.

[2022-04-02 12:18] Angelk90 commented on #274
@wdg : no when i say close (step 2) i close codeEdit from its red x.

[2022-04-02 12:19] wdg commented on #274
Ok, will look into it.

[2022-04-02 12:29] nanashili commented on #357
This is do able just not sure where to do it or where to add it in the codebase

[2022-04-02 14:42] wdg commented on #274
Ok, after (a lot) of searching, I know where the problem is coming from.

Because we'll use a `NSWindow` and `NSWindowController`, the window will stay in memory, even when it should be `closed`, this will not renew the recents list.
I've found no (correct) way to reload the data using a system notification, (maybe), a timer will work, will test that.

https://stackoverflow.com/questions/65617708/

[2022-04-02 14:51] wdg commented on #274
@Angelk90 can you please check #381

[2022-04-02 14:58] #274 closed

[2022-04-03 05:05] austincondiff commented on #379
@Angelk90 I agree that it should open as a drawer like in your video. That video is from VSCode, and demonstrates how it handles terminal tabs and split terminal views. The question we need to answer for this is how are we going to do multiple terminals in this drawer? Will we use tabs? How will we handle split terminals? Will terminals be the only thing that exists in this drawer or will there be

[2022-04-03 15:49] #309 closed

[2022-04-03 19:22] Angelk90 opened #386 "✨ Welcome Screen: Multiple selection of recent projects"
### Describe the solution you'd like

Sometimes the list of recent projects may get long and you may want to remove some projects you no longer work on in order to have the ones you work on the most.

### Describe alternatives you've considered

Using the possibility of being able to select several elements, you could select the elements you want to delete from the list and delete them using the k

[2022-04-03 19:32] Angelk90 opened #387 "🐞 Deletion of all recent projects"
### Description

As can be seen from the video when trying to clear all recent projects from the menu.
They are cleared from the menu, but remain from the welcome list.

### To Reproduce

https://user-images.githubusercontent.com/20476002/161444663-58082c8a-0fa9-48c9-906f-f459a4ad4b56.mov

### Expected behavior

That when all recent projects are deleted, the welcome window will show that there are

[2022-04-03 19:44] Angelk90 opened #389 "🐞 Sorting of recent projects"
### Description

The project that is already in the list of projects that have already been opened, its position in the list of recent projects is not updated.

### To Reproduce

Let's consider the following example to understand the problem.
I have the following three projects:
1) advanced_mongo
2) CodeEdit
3) Beancount

It means that I first opened project 3, then project 2 and finally project 1

[2022-04-03 19:49] wdg commented on #387
What if you wait 10 seconds? Since the window is updating once every ten seconds.

[2022-04-03 19:59] Angelk90 commented on #387
@wdg : Nothing is happening.

[2022-04-03 20:21] wdg commented on #387
Seems like this selector doesn’t exists.
I’ll take a look later this week, I’ve got a busy week…

https://github.com/CodeEditApp/CodeEdit/blob/e85ea0541c979b97ea447ecd4960d1a3f3b933de/CodeEdit/MainMenu.xib#L82

[2022-04-03 22:46] jasonplatts commented on #262
# Overview
The Task Provider should allow extension developers to define external tools that can be run from a CodeEdit menu option and the command palette. These tasks should be capable of running command line tools, such as Grunt, npm, Rake, Gulp, etc. Results from running these tasks should appear in the console within CodeEdit.

# Resources
https://code.visualstudio.com/docs/editor/tasks
https

[2022-04-03 23:19] jasonplatts opened #391 "Hover Providers"

[2022-04-03 23:59] jasonplatts opened #392 "Debugger"

[2022-04-04 07:55] lukepistrol commented on #256
Consider [this](https://stackoverflow.com/a/63438481/4769852) solution.

[2022-04-04 07:57] mmshivesh commented on #100
<img width="630" alt="image" src="https://user-images.githubusercontent.com/23611514/161497637-b46f78ab-7a4f-4398-9f4f-0922e5be7852.png">

Spacing wise, they seem to be in line with every other Apple app except Xcode (Screenshot above compares CodeEdit with Finder and XCode). Presumably,  Xcode is using a completely custom sidebar which allows it to use customized padding and font sizings. Here's

[2022-04-04 08:35] RayZhao1998 commented on #309
Exactly, if you hide leading sidebar, the dropdown menu will have a wrong horizontal position too. I'm working on it.

[2022-04-04 08:42] MarcoCarnevali commented on #345
@Angelk90 how many local branches do you have?

[2022-04-04 08:53] #345 closed

[2022-04-04 08:59] Angelk90 commented on #345
@MarcoCarnevali : Ok, I checked now, there was only one local branch.
Creating another one works.

Checkout also seems to work, because I get the following message when I try to change:

[code]

[2022-04-04 11:14] Angelk90 opened #395 "🐞 Folder opening time"
### Description

I created a simple empty project, but with a fairly thoughtful `node_modules` folder, not too much.

As you can see from the video, it takes about 40 seconds to open the second folder.

The same operation was done with `Webstorm`, the time taken was about 5 seconds.

### To Reproduce

CodeEdit:

https://user-images.githubusercontent.com/20476002/161530361-4b7e12a3-ff69-471c-a0c7-7

[2022-04-04 14:07] wdg commented on #395
Related to #20 and #21

[2022-04-04 15:06] lukepistrol commented on #395
Just a thought:
What if we don't use structs with child/parent properties for fast access but instead use a dictionary of some sort (or any other hash table structure) to reach `O(1)` instead of recursively iterating over the children?

[2022-04-04 15:11] Angelk90 commented on #395
@wdg : Sooner or later you have to face it as a problem.

[2022-04-04 16:24] wdg commented on #395
No one said we must not face the problem, but the thing is a lot of people already have searched for a solution, but sadly we didn't found a solution yet.

[2022-04-04 17:15] austincondiff commented on #180
Again @FezVrasta thanks for the tip!

I have been doing some research on how Racast has built their API. Maybe others can help me dig a little deeper but I found this so far.

From a [Console Interview](https://console.dev/interviews/raycast-petr-nikolaev/) with their CTO, Petr Nikolaev:

They have a closed source but I gathered that they are using [react-reconciler](https://www.npmjs.com/package/

[2022-04-04 17:57] mchakravarty commented on #36
@glaucocustodio wrote,

It does imply that the editor needs basic awareness (= configuration) for every supported language. That is quite standard AFAIK and I don't see how to get around it.

The issue is simply the following. There are some things where you want an immediate *per keystroke* response. For example, if you comment out a line, you want syntax highlighting to reflect that immediately

[2022-04-04 18:03] Angelk90 commented on #357
@austincondiff : It appears that CodeEditorView supports the minimap.

[2022-04-05 05:42] austincondiff commented on #36
In talking about this with @MarcoCarnevali who has put in place our current temporary editor solution, it sounds like we are waiting until we have a clearer understanding regarding extension architecture (#76, #180).

@mchakravarty so we need to support things like code completion, hover suggestions, decorations like color swatches next to hex values, etc. Is this something that we can easily cont

[2022-04-05 08:10] wdg commented on #395
We should find a way to load this in the background, and return it to the main thread to update the UI.
if you open a file, the whole sidebar gets reloaded again (this should be prevented).

https://github.com/CodeEditApp/CodeEdit/blob/b5655093847b4cf99979570d28e1cff6527f2766/CodeEdit/NavigatorSidebar/ProjectNavigator/ProjectNavigatorItem.swift#L69-L93

[2022-04-05 08:49] RayZhao1998 commented on #395
I think it's because of SwiftUI `List`'s bad performance. It's based on `NSTableView`.

According to Instruments, the time-consuming operation is calculating the row item's height. While List has no functions like `tableView(_:heightOfRow:)`.

<img width="1627" alt="截屏2022-04-05 4 44 09 PM" src="https://user-images.githubusercontent.com/22616933/161715394-767fb40b-5304-4063-abd9-6d21f3c4e8fb.png">

[2022-04-05 09:01] lukepistrol commented on #395
Can you share the project or a similar sized one you were using in your tests?

[2022-04-05 09:22] Angelk90 commented on #395
@RayZhao1998 : Do you have any possible solution in mind?

[2022-04-05 09:23] lukepistrol commented on #395
Found an article that mentions the same issue: https://kean.blog/post/not-list

Maybe we need to implement `NSTableView` ourselves.

[2022-04-05 09:28] Angelk90 commented on #395
@lukepistrol : Find the link above, in Additional context just download the project and install the node_modules.

[2022-04-05 14:05] RayZhao1998 commented on #387
@wdg Are you working on this issue? I'm going to fix #389 along with this.

[2022-04-05 17:10] mchakravarty commented on #36
@austincondiff wrote,

These are features that still need to be implemented in CodeEditorView. Code completion is of course crucial. I am less sure about hover suggestions — I guess, I am partial to the way Xcode behaves. However, it is certainly something to discuss as an optional feature.

Important, from an architectural POV, is that all this is a lot of data, which is also frequently changing,

[2022-04-05 17:18] austincondiff commented on #286
What is left on this? @lukepistrol do you want to add a checklist at the issue description if it is still in progress?

[2022-04-05 19:11] #387 closed

[2022-04-05 19:11] #389 closed

[2022-04-06 08:14] wdg commented on #303
@lukepistrol @Angelk90 is this issue still relevant?

[2022-04-06 08:51] Angelk90 commented on #303
I was waiting for an answer from @abhibeckert , I wanted to know his opinion.

@wdg : As default colors, don't they seem too dark to you?
Can you post a screenshot of what your CodeEdit terminal shell looks like by default?

[2022-04-06 09:12] abhibeckert commented on #303
I'll get back to you in a bit - don't have a Mac with me right now.

[2022-04-06 10:25] lukepistrol commented on #395
Using `NSOutlineView` wrapped in `NSViewControllerRepresentable`. Still WIP but performance is great!

https://user-images.githubusercontent.com/9460130/161954694-5d7df371-0a26-4eb0-a42a-78ad6d3a8c7c.mov

[2022-04-06 11:21] mathieudutour commented on #180
Hey 👋 I'm working on the extensions ecosystem at Raycast. I'm on paternity leave at the moment but happy to chat if you'd like.

We are indeed using a custom react reconciler but not RN for macOS (since that it is itself a reconciler)

We really should write a blog post of the extensions architecture at some point but very roughly:
- we download the nodejs runtime at the start (if not already done

[2022-04-06 12:01] abhibeckert commented on #303
I ran all of them through the https://coolors.co/ contrast checker with #ffffff and #1E1E1E as background colors, and the results are pretty bad:

| Color Name    | Color Hex | Light Contrast | Dark Contrast |
|---------------|-----------|----------------|---------------|
| Black         | #000000   | Super          | Very Poor     |
| Black Bright  | #606060   | Good           | Very Poor     |
|

[2022-04-06 12:37] wdg commented on #303
@abhibeckert and/or @Angelk90 Can you provide a color list what looks good to you, or make a Pull request? Thanks in advance!

[2022-04-06 12:42] #250 closed

[2022-04-06 14:56] lukepistrol commented on #395
Added a draft PR #411

[2022-04-06 17:12] lukepistrol commented on #303
Since the terminal colors are now coupled with themes ([template](https://github.com/CodeEditApp/CodeEdit/issues/286#issuecomment-1084530736)) we will bundle improved colors with the included themes. Feel free to create themes and share them at #286 ;)

[2022-04-06 18:00] austincondiff commented on #180
@mathieudutour we are happy you can join us in our discussion around the CodeEdit extension architecture. As you might have read, I am a huge fan of your work on the Raycast extension architecture and API. As we have explored different strategies and methods, we believe the same path you have taken will allow more developers to contribute extensions as you have seen with Raycast. The fact is, as m

[2022-04-07 00:49] jasonplatts commented on #180
Hi @mathieudutour. Thanks for your post! I second what @austincondiff has said. We would love to chat with you in our Discord whenever you might be available.

[2022-04-08 13:23] nanashili opened #414 "✨ Package Manager"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

How about adding something similar to Swift Package Manager, where we can import dependencies to projects instead of going through terminals all the time. It could be customised based on the project like for example Java and Kotlin uses either Maven or Gradle for it's dependenci

[2022-04-08 13:54] lukasmoellerch commented on #180
Hi everyone! I am very excited for the project and I am fascinated by the progress that y'all are making. Thanks a lot for your work so far.

I personally have to agree that the Raycast extension system is great, especially because you can use npm packages directly due to it using node.js internally. For me this really makes it superior to a custom implementation on top of JavaScriptCore. I am not

[2022-04-08 17:05] #395 closed

[2022-04-08 17:08] #273 closed

[2022-04-10 00:25] jasonplatts commented on #180
Hi @lukasmoellerch. Thanks for the suggestions and perspective. Using node.js does seem to have some nice advantages over using JavaScript core.

[2022-04-10 00:29] jasonplatts commented on #180
This is really interesting @lukasmoellerch! @pkasila, @lukepistrol, @MarcoCarnevali, @austincondiff, do you have any thoughts on this?

[2022-04-10 00:34] jasonplatts commented on #180
For reference, https://grpc.io.

[2022-04-10 10:40] wdg commented on #199
@austincondiff is this issue still there? See also https://github.com/CodeEditApp/CodeEdit/pull/409

[2022-04-10 18:36] #100 closed

[2022-04-11 14:07] austincondiff opened #419 "💬 Identify Design Path For Bottom Drawer Tabs and Panels"
I'd like to discuss the bottom drawer and how we want to handle tabs and navigation therein.

In my concept we have a tab set identical to editor tabs like so

![image](https://user-images.githubusercontent.com/806104/162756173-2b91674b-0d45-4ef0-b5f1-312b725cde67.png)

In VS Code, the have a different style of tab that represent different things (terminal, problems, output, debug console, etc. -

[2022-04-11 14:11] austincondiff commented on #419
My initial impression is to do something like this
https://user-images.githubusercontent.com/806104/162756506-122f7eb8-e656-4cef-9385-5104739ee8d6.mov

The menu in each panel could contain a list of "tabs" associated with that panel, a divider, an add new terminal item, and an add new task output for every task being run.

[2022-04-11 14:53] StefKors commented on #419
Using dropdown list for switching the terminals is not great. I would rather have real tabs. The look of the tabs in the Nova debugger is very clean for example.
<img width="307" alt="Screenshot 2022-04-11 at 16 46 42" src="https://user-images.githubusercontent.com/11800807/162765553-949973bd-8247-4ec8-8c93-e908717045db.png">

For a tabside bar here is screenshot of iTerm:
<img width="429" alt="Sc

[2022-04-11 21:26] austincondiff commented on #180
@lukasmoellerch I think this is an excellent idea, thanks for sharing! I never considered this having, as you say, a server/client architecture but it makes complete sense given the fact that extensions will be communicating with the app via JS.

@mathieudutour are you doing anything like this at Raycast?

[2022-04-11 22:05] austincondiff commented on #419
@StefKors What do you mean by "mix them"? Would you mind expounding?

[2022-04-11 22:09] 798238946325 commented on #392
hi

[2022-04-11 22:14] austincondiff commented on #419
Which do you prefer? Vote via emoji.

### 🎉 **Option 1:** Xcode's design pattern (followed loosely)

<img width="1728" alt="01-macOS-code-edit-alternate-ui" src="https://user-images.githubusercontent.com/806104/162841330-333efc8a-c305-4d8c-92a0-349458671505.png">
<img width="1728" alt="01-macOS-code-edit-alternate-ui-drawer-menu" src="https://user-images.githubusercontent.com/806104/162841361-d891

[2022-04-11 23:19] maxzoech commented on #195
I will drop this here as a reference
https://microsoft.github.io/language-server-protocol/

[2022-04-11 23:31] austincondiff opened #420 "💬 Identify Approach for Extension Preferences"
We need to identify an approach for extension preferences.

For context per #416 by @pkasila

@Angelk90 said:

@pkasila gave 3 options:

@jasonplatts pointed out how Nova handles this...

In our concept ([here](https://www.figma.com/proto/qj6raZbQsZpGO0NAVi4qsv/CodeEdit-Concept?node-id=3649%3A51948&scaling=min-zoom&page-id=0%3A1) and [here](https://www.figma.com/proto/qj6raZbQsZpGO0NAVi4qsv/CodeEd

[2022-04-11 23:51] austincondiff commented on #419
Now that I think about it, option 2 might be more scalable because we can allow extension developers to add more tabs in this debug area. You can also drag and drop terminal tabs to reorder the split panels or put a terminal in a different group. But maybe this is possible in the first option somehow.

[2022-04-12 00:16] #199 closed

[2022-04-12 01:54] jasonplatts commented on #419
How would a terminal "tab" or "group" be closed? Maybe a right-click context menu?

[2022-04-12 02:06] austincondiff commented on #419
I thought about this, it could be like the eject icon on a drive in Finder, or it could be a context menu item, or the Delete key.

[2022-04-12 03:22] SyedMohammad-Hasan opened #421 "✨ Please 🙏 release this code editor for Linux."
### Is your feature request related to a problem? Please describe.

I am from India and I am a web developer. I use vscode which is electron  based app and it has some serious performance issues.

### Describe the solution you'd like

Please release this code editor for Linux.

### Describe alternatives you've considered

I have considered vscode as the ultimate alternative.

### Additional contex

[2022-04-12 05:28] austincondiff commented on #421
We understand Electron can present performance concerns which is why we are building this app. In order to get the best performance we are writing code native to macOS. Because we use APIs specific to macOS, it makes a Linux version unrealistic for the time being.

[2022-04-12 05:28] #421 closed

[2022-04-12 08:50] StefKors commented on #419
I would also go with option 2, simple and flexible. It would be nice to have a spot for the "split terminal" button, this one:

<img width="365" alt="Screenshot 2022-04-12 at 10 46 56" src="https://user-images.githubusercontent.com/11800807/162920571-586da027-4499-42f2-95f5-807ca38411f9.png">

[2022-04-12 09:08] Angelk90 commented on #419
@StefKors : But not only vertically, sometimes it would be useful to have two horizontally.

[2022-04-12 13:23] austincondiff commented on #180
Possible JSON RPC resources:
- Swift: [JSONRPC](https://github.com/ChimeHQ/JSONRPC) by @mattmassicotte
- JavaScript: [stdio-jsonrpc](https://www.npmjs.com/package/stdio-jsonrpc)

[2022-04-12 13:43] mathieudutour commented on #180
That's the job of the react reconciler: it transforms the react components into a JSON that we send over the app. So the app only receives known elements and can render them

[2022-04-12 15:27] austincondiff commented on #379
This is the design that we will use for multiple terminals. We need this tab system in place in the status bar and the git controls moved up to the toolbar first, then in the terminal tab build the multiple terminal tabs UI, this is how this would look.

<img width="1728" alt="01-macOS-code-edit-alternate-ui-drawer-tabs-terminal" src="https://user-images.githubusercontent.com/806104/162997684-8d95

[2022-04-12 19:36] unnamedd commented on #180
@mathieudutour, in this case, something like:
[code]

would be transformed by reconciler into something like:

[code]

then you receive it in the native side and render the native UI based on that JSON, which would lead us to something like Backend Driven UI, right?

[2022-04-12 19:38] austincondiff commented on #420
@jasonplatts Both. Preferences will be added to `~/.codeedit/preferences.json` for global preferences, and `[project-path]/.codeedit/preferences.json` for project specific preferences. Both global and project preferences will have a UI that controls this.

[2022-04-12 20:56] unnamedd commented on #180
Two possible interesting links:
- https://github.com/facebook/react/tree/main/packages/react-reconciler
- https://agent-hunt.medium.com/introduction-to-react-native-renderers-aka-react-native-is-the-java-and-react-native-renderers-are-828a0022f433

last but not least:
- https://github.com/vadimdemedes/ink (this one implement an API for extensions)

[2022-04-12 21:01] pkasila commented on #180
I was working on a different approach (but I was working on Swift-based extensions). We are loading extension into the app and run its code inside the app. But that is about Swift-based extensions.

I considered that we can just run compiled JS extensions inside JavaScriptCore and let them communicate through [`JSExport`](https://developer.apple.com/documentation/javascriptcore/jsexport)ed object.

[2022-04-12 21:25] austincondiff commented on #180
In addition, I wonder if by using Node.js we could allow users to add/remove extensions and even hot-swap during extension development all without having to restart the app or reopen your workspace.

[2022-04-13 00:09] #272 closed

[2022-04-13 04:05] lilingxi01 opened #426 "🐞 Project Navigator UI Animation Glitches"
### Description

The issue can be reproduced every time. I guess the glitch is caused by the selected file entry (because nearly all glitches made a flash background of the currently selected file entry).

https://user-images.githubusercontent.com/36816148/163097034-23dcd598-be60-4f09-a8d7-d3354b2d410f.mov

I am not sure if anyone is already working on that. If no, I will try to fix it later this

[2022-04-13 05:06] octree opened #427 "🐞 Infinite loop occurs when closing tabs"
### Description

The issue can be reproduced every time.

### Screenshots

#### App

https://user-images.githubusercontent.com/7934444/163104207-fded6576-9e7d-4fb9-a3ae-45d194cb0dd8.mov

#### Xcode Output
<img width="888" alt="xcode-log" src="https://user-images.githubusercontent.com/7934444/163104246-0928e206-5a5c-4c30-b5a3-a0186240eb53.png">

### To Reproduce

1. Open two files
2. Close the firs

[2022-04-13 06:10] lilingxi01 commented on #427
I have already tracked down this issue to the recursive updating of OutlineView component (OutlineView.swift:34).

[code]

Every time the `updateNSViewController` function (OutlineView.swift:31) is called, the `selectedRow` inside the `NSTableView` is reseted to `-1`. And I have checked that after the end of previous recursion, the `selectedRow` is set to the corresponding index correctly.

I am s

[2022-04-13 06:54] octree commented on #427
There is a workaround,   `OutlineViewController.swift:170`

[code]

[2022-04-13 07:23] octree opened #429 "🐞 OutlineView does not display the selection state"
### Description

Description

The issue can be reproduced every time.
When I try to select a file by clicking on it, the selected state of the file disappears after being displayed for a while

Screenshots

https://user-images.githubusercontent.com/7934444/163121377-8bcde739-2fb6-480b-bd6c-275149d81ecb.mov

### To Reproduce

1. Click to select a file

### Expected behavior

The selected state shou

[2022-04-13 07:59] #429 closed

[2022-04-13 07:59] #427 closed

[2022-04-13 08:48] nanashili commented on #427
@lukepistrol looks like someone already posted the issue

[2022-04-13 10:26] lovetodream commented on #168
I could look into this, if no one is on it already

[2022-04-13 10:39] lukepistrol commented on #168
Resolved in #424

[2022-04-13 10:39] #168 closed

[2022-04-13 10:44] lovetodream commented on #98
@Shakenbeet are you still working on this? Otherwise I can give it a try

[2022-04-13 11:00] lukepistrol commented on #98
The setting itself is already available but implementation is still missing @lovetodream

[2022-04-13 11:29] mathieudutour commented on #180
Exactly yes. There are some shenanigans for callbacks (event handlers) because you can't pass JS functions across the bridge. So they are replaced by a unique identifier and kept in a map in the node process so that the app can call it by its id.
But that's some implementation details which don't really affect the overall architectures.

For context, Raycast started its API with JSCore. But JSCore

[2022-04-13 11:32] Shakenbeet commented on #98
@lovetodream I am no longer able to work on this

[2022-04-13 11:52] wdg commented on #180
Partly Agree, but we shouldn't make it act too much like VSCode/Electron apps, then the whole point of "native" will be pointless.
But this is my personal opinion.

[2022-04-13 13:02] lukasmoellerch commented on #180
@austincondiff

I think something like that should be possible. I am not sure whether this was mentioned here already, but VSCode also has something called "activation events", where extensions are only activated once they are actually used, e.g. the C++ extension would only become active once a C++ file is opened or a C++ command is used.

The same mechanisms could be used for hot-reloading where

[2022-04-13 13:04] lukasmoellerch commented on #180
Adding to my earlier comment of a server / client architecture: It usually makes more sense that the "server" is the extension host and the editor instance is a client of that server - that the user will only need to be able to access the extension host, but the machine the user is editing on doesn't have to be accessible in the network.

[2022-04-13 13:27] lilingxi01 commented on #426
It seems like this issue is resolved by solving the #429.

[2022-04-13 13:27] #426 closed

[2022-04-13 14:25] FezVrasta commented on #180
The main issue of Electron apps is not node, it's the rendering, and the huge amount of resources needed by each app. Having a node process run in background of a native app would be totally fine in my opinion.

[2022-04-13 14:44] jasonplatts commented on #180
It's the same in Nova too. I mentioned this briefly in issue #76 in the "Extension Entry Point" section. Both VS Code and Nova also include activation information in the extension manifest.

[2022-04-13 16:53] #230 closed

[2022-04-13 20:16] austincondiff opened #438 "✨ Activity Viewer"
### Is your feature request related to a problem? Please describe.

We need an activity viewer in our toolbar similar to the one found in Xcode.

### Describe the solution you'd like

Updated mockup:

<img width="1650" alt="dynamic-toolbar" src="https://user-images.githubusercontent.com/806104/165606797-6d2e853d-fa89-476c-9028-db4d178544e7.png">

Original mockup:

<img width="694" alt="image" src=

[2022-04-13 20:35] #303 closed

[2022-04-13 22:30] lilingxi01 commented on #438
My thoughts on the Activity Viewer:

## What goes in the activity viewer?
* In the left: I think we can follow the design of XCode (as shown on your screenshot).
  * If there is a running configuration (like the running configuration in JetBrain softwares, e.g. Java programs will mostly execute from a main function), we display the running configuration name.
  * If not (in a single file mode), th

[2022-04-13 23:22] nanashili commented on #438
We can also add a successful/failed build timestamp like xcode does

[2022-04-14 04:50] austincondiff opened #443 "✨ Active Tabs and Mini Tabs should use selectedControlColor as Background"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Per the [Apple HIG](https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/color/#dynamic-system-colors), active Tabs and Mini Tabs should use `selectedControlColor` as their background.

### Describe alternatives you've considered

n/a

### Additional

[2022-04-14 05:58] austincondiff opened #444 "🐞 Sidebar Dock Icons Too Big"
### Description

<img width="324" alt="image" src="https://user-images.githubusercontent.com/806104/163322853-9317f43f-8f87-4c73-b43c-f5247b4c07cf.png">
Left: Xcode | Right: CodeEdit

### To Reproduce

n/a

### Expected behavior

n/a

### Version information

CodeEdit: [e.g. 1.0]
Hash: [e.g. 87a5b3f4c18238c0d06cbfce595e1ca9b11cfd8e]
MacOS: [e.g. 12.3.0]
Xcode: [e.g. 13.3]

### Additional context

[2022-04-14 07:50] wdg commented on #438
**What goes in the activity viewer?**
In this mockup on the left we have the package name and version number.
_i'll suggest folder/project name (or at least as option), not everyone is doing react, node, or opening a xcode project._

On the right we have activity for tasks being run.
_great_

We can certainly have something else there.
_errors/warnings (from a linter or something similar)_

When i

[2022-04-14 08:26] austincondiff commented on #443
Fixed with #445

[2022-04-14 08:29] austincondiff commented on #438
One thing to consider, The project directory name will be where it is now to the left of the activity viewer. I am not sure if I am comfortable with the unnecessary redundancy of having the directory name appear in the activity viewer as well without a valid reason.

[2022-04-14 08:34] austincondiff opened #447 "✨ Move the git branch selector to the titlebar"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

<img width="380" alt="Screen Shot 2022-04-14 at 3 31 08 AM" src="https://user-images.githubusercontent.com/806104/163346251-cb05a084-bbd8-4ebd-ac14-a708c0b3efb0.png">

We may need to create a custom sf symbol based on the icon in our [design project](https://www.figma.com/file/qj6raZbQsZpG

[2022-04-14 08:36] austincondiff commented on #419
It seems like we have landed on option 2. Closing.

[2022-04-14 08:36] #419 closed

[2022-04-14 08:43] lovetodream commented on #98
@lukepistrol alright I'll give it a try

[2022-04-14 09:10] wdg commented on #438
Maybe it's a good idea to let users define a project/workspace and show that name in the activity viewer.

[2022-04-14 18:28] nanashili opened #454 "CodeEdit Feedback Assistant"
**Description** This is a test to check if the CodeEdit Feedback Assistant works.
 **Steps to Reproduce**
 **What did you expect to happen?**
 **What actually happened?**

[2022-04-14 18:29] #454 closed

[2022-04-14 18:49] austincondiff opened #455 "✨ Create GitHub bot to automate prepending an emoji to new issues"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

Add a GitHub Bot called CodeEditBot or something similar that prepends emoji to titles when new issues are created with the following labels.

| Emoji | Label |
| - | - |
| 🐞 | bug |
| ✨ | feature |
| 💬 | discussion |
| ❓ | question |
| 💥 | priority |

Feel free to suggest others or sugges

[2022-04-14 19:36] heyvito commented on #86
Hi there @nanashili! I'd like to take a swirl on this one!
Would you be so kind as to explain what comprises a large file? Would it be large as in the quantity of columns, lines, or just overall size? How can I attempt to reproduce this issue?

Thanks!

[2022-04-14 20:04] nanashili commented on #86
Hi @heyvito, i think it might be the amount of lines as the issue that caused that was a very small file but had a lot of lines.

Steps to reproduce would to just be open a file with that spands a few hundered lines and see if the issue occurs.

[2022-04-14 20:12] nanashili commented on #86
@heyvito looks like that issue has been fixed.... But I did find another threading issue you might want to attempt
![Screenshot 2022-04-14 at 22 10 03](https://user-images.githubusercontent.com/63672227/163468039-46b7b6d3-00ae-4a55-9abe-f1d1b8993846.png)

When trying to close multiple tabs fast the editor breaks due it not being able to remove the tabs fast enough.

You can reproduce this by openi

[2022-04-14 20:18] heyvito commented on #86
Got it! I opened a relatively small file (14.5+k lines), and didn't noticed any hang, but it indeed consumed 100-110% of CPU for a brief moment. Taking a spindump, the responsible was AttributedString + JSCore, which are used by Highlightr. A better approach would be to use something more native to handle syntax highlighting altogether, and perhaps only try to stylise what is on the viewport (and

[2022-04-14 20:46] nanashili opened #457 "📬 Feedback Assistant"
**Description**

Feedback Assistant is awesome!

**Steps to Reproduce**

1. Open Help
2. Open Report Issue

**What did you expect to happen?**

It reported an Issue from CodeEdit Itself

**What actually happened?**

It reported an Issue from CodeEdit Itself

[2022-04-14 22:36] nanashili commented on #86
@MarcoCarnevali @pkasila might want to looks at this.

[2022-04-14 23:20] #457 closed

[2022-04-15 01:15] lilingxi01 commented on #86
I believe that Highlightr is causing a lot of issues right now like freezing while loading large file, lagging while scrolling, color-flashing while inputing, etc. And I agree that a real native editor should not come up with a solution involving JSCore. If you would like to rebuild current syntax highlighting feature by using a native engine, or (probably) build one from ground-up, I would like t

[2022-04-15 01:30] lukepistrol commented on #86
@heyvito @lilingxi01 Thanks for your input! We know that Highlightr is not very efficient and we are evaluating other options. I'm not quite sure what the current state is but I think we will be going the Tree Sitter route. Please get in contact with @MarcoCarnevali and @pkasila on that matter. We appreciate your help and are looking forward to what you come up with.

[2022-04-15 01:33] #244 closed

[2022-04-15 04:19] lilingxi01 commented on #49
I am working on improving the tab item styling and animation (to follow the design of Xcode, and add a configurable option to generally switch between two styles).

Do we need to leave some APIs for the theming of tab item?

[2022-04-15 04:44] austincondiff commented on #49
No APIs at the moment. Did you have anything particular in mind?

[2022-04-15 04:46] austincondiff commented on #49
Look at SegmentedControl for the background color. I believe it is `.selectedControl` at 0.75 opacity.

[2022-04-17 21:24] austincondiff opened #471 "💡 Sync Tab State with Current Git Branch"
### Is your feature request related to a problem? Please describe.

As a developer, I often find my tab bar getting very full as I work across many different branches within a project.

### Describe the solution you'd like

We can solve this by only displaying relevant tabs to the user that are associated with the branch they currently have checked out.

CodeEdit would replace open tabs with files

[2022-04-18 03:36] lilingxi01 opened #473 "🐞 Keyboard Shortcut Conflict while Closing Tab"
### Description

The keyboard command `Command + w` should close the current tab per configuration, but it closes the window (even when there are more than 1 tab).

I believe it may be a keyboard shortcut conflict or a configuration error.

### To Reproduce

1. Open a window with more than 1 tab.
2. Hit `Command + w`.

### Expected behavior

It should close the tab rather than the window.

### Ver

[2022-04-18 10:12] nanashili commented on #473
Because, `Command + w` is attached to close, but when I do it, it closes the tab and not the window!

[2022-04-18 11:27] lilingxi01 commented on #473
@nanashili : Yeah I just checked it again and it worked! I am not sure why it happened before. And glad to see your fix!

[2022-04-18 15:30] #473 closed

[2022-04-18 16:57] nanashili commented on #471
Interesting suggestion, i was thinking we can save the file urls of the opened tabs to database ( we should really not put everything in jsons) of that said branch and when checking out a new branch just call the table from the database for that branch

[2022-04-18 17:02] nanashili commented on #386
Should be an easy fix, will see i can fix it. Maybe we should limit the list to 10 projects?

[2022-04-18 17:08] Angelk90 commented on #386
@nanashili : Nope.

[2022-04-18 17:10] nanashili commented on #386
I will play around tonight it's just a mattef of using a Set to do this.

[2022-04-18 17:12] Angelk90 commented on #386
@nanashili : After selection, it should allow you to delete selected projects or to be able to open them in CodeEdit.

[2022-04-18 22:14] lilingxi01 commented on #256
Can assign this to me.

[2022-04-18 22:28] lilingxi01 commented on #49
I think this can be closed. @austincondiff

[2022-04-18 22:35] #49 closed

[2022-04-19 01:56] lilingxi01 opened #478 "🐞 Tab-switching Shortcut is Closing Tabs."
### Description

The tab-switching shortcut is not switching but closing tabs (not always, but have a big chance to reproduce).

https://user-images.githubusercontent.com/36816148/163904529-463427d2-c9f5-4bf6-a40c-e21c55ed3fda.mp4

### To Reproduce

1. Use shortcuts (Command + Tab Number) to switch between tabs.
2. It has a big chance (not always) to close the tab rather than switching to it.

###

[2022-04-19 05:09] austincondiff opened #479 "✨ Drag sidebar dock icon to split panel"
### Is your feature request related to a problem? Please describe.

Users might want to see more than one sidebar tab at once.

### Describe the solution you'd like

Drag a sidebar symbol and drop it over the lower section to split the sidebar panel. User is then allowed to drag other symbols into that panels dock.

## Mockups

### Step 1: User mouses over to sidebar item that they would like to g

[2022-04-19 05:47] austincondiff opened #480 "🐞 Tabs in Dark Mode Are Too Dark"
### Description

This is how the toolbar and tabs look now when using native tabs...
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/806104/163927937-67ba7b0e-8f57-4124-b22d-0332d97ec0f9.png">

This is how it should look...
<img width="984" alt="image" src="https://user-images.githubusercontent.com/806104/163928118-35b8b027-cb65-4614-8ff6-ec42685882fb.png">

Notice the

[2022-04-19 05:48] austincondiff commented on #480
@lilingxi01 can you take a look at this please?

[2022-04-19 06:07] lilingxi01 commented on #480
Investigating on it.
I can say this is mainly because I could not find a better solution to get rid of the titlebar separator forever except making the titlebar background material to be `windowBackground`.

I am finding a better solution.

[2022-04-19 06:11] austincondiff commented on #480
The top and bottom tab border should be black in dark mode.

[2022-04-19 06:17] lilingxi01 commented on #480
Border is a little problem, a really quick fix. But for the background issue (https://github.com/CodeEditApp/CodeEdit/pull/461#issuecomment-1101087316), I am still searching for a solution because we want to get rid of the line separating between title bar and tab bar, which seems like this activity is not provided directly by NS components.

[2022-04-19 06:21] austincondiff commented on #480
I don't understand, because the toolbar and active tab look fine in the video in https://github.com/CodeEditApp/CodeEdit/pull/461#issuecomment-1101474450

However when I tested it locally it was very dark as shown above.

[2022-04-19 06:24] lilingxi01 commented on #480
Yeah I changed it because (https://github.com/CodeEditApp/CodeEdit/pull/461#issuecomment-1101481591). In video, the color is using a fixed hex value (I extracted them from Finder) rather than a given existing NSColor or any system material. Is that okay?

[2022-04-19 08:49] avdept opened #484 "🐞 Incorrect file formats for few languages detection"
### Description

Ruby, Elixir, Erlang files won't be picked up by code highlight

### To Reproduce

1. Open any `.rb || .erl || .ex` file and code won't be highlighted

### Expected behavior

Edit should pickup file extension and apply code highlight

### Version information

CodeEdit: [e.g. 1.0]
Hash: [e.g. 87a5b3f4c18238c0d06cbfce595e1ca9b11cfd8e]
MacOS: [e.g. 12.3.0]
Xcode: [e.g. 13.3]

### Add

[2022-04-19 09:29] #484 closed

[2022-04-19 09:29] #480 closed

[2022-04-19 09:47] #350 closed

[2022-04-19 09:49] avdept commented on #419
Sorry for commenting to already decided - but instead of taking space on right side, can we have 2nd top bar for tabs(right below Terminal/Debugger/Output row), just like in regular terminal? This would save some space for terminal content, which would be useful on narrow screens.

[2022-04-19 09:56] avdept opened #487 "✨ Enhance commands palette with shortcuts"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Current command palette(the one in figma) allows only search by command. The palette itself very useful, but I think it'd be nice to have a shortcuts next to each command, so that it'd be easier to learn shortcuts and use them instead of popping up commands palette and search ne

[2022-04-19 15:11] Angelk90 opened #489 "🐞 Bug menu codeedit extensions"
### Description

![image](https://user-images.githubusercontent.com/20476002/164035752-eeb65a0f-c933-4299-a86f-8f68d93dcdfb.png)

When you click on the button shown in the image, the about window opens.

### To Reproduce

1. Click on CodeEdit extensions

### Version information

CodeEdit: [e.g. 1.0]
Hash: [e.g. 0d79628c2d8648684eeb7eb16702a320dd7aaad4]
MacOS: [e.g. 12.3.0]
Xcode: [e.g. 13.3]

[2022-04-19 16:08] #489 closed

[2022-04-19 16:18] austincondiff opened #491 "🐞 Bottom Drawer Defects"
@StefKors : Some problems.

https://user-images.githubusercontent.com/20476002/164035159-43290e1e-2bc7-4173-8aca-89f136f89c14.mov

https://user-images.githubusercontent.com/20476002/164035034-c40effba-7212-454c-9a12-b9b945fec490.mov

https://user-images.githubusercontent.com/20476002/164035048-10568f91-7b3f-473f-8aa1-d29d4686abd1.mov

_Originally posted by @Angelk90 in https://github.com/CodeEditA

[2022-04-19 16:20] StefKors commented on #491
Thanks for creating the issue @austincondiff 👍

[2022-04-19 16:29] lukepistrol commented on #491
Note that the bottom bar (where the filter textfield is) has an opaque background in Xcode.

[2022-04-19 16:36] jav-solo commented on #41
I have submitted a PR Review for the re-ordering of the sidebar and inspector icons. The persistence pice is not something I will be able to complete at this time. Please re-assign this issue to someone who can or create anther issue to implement the persistence settings.

[2022-04-19 17:48] Angelk90 commented on #491
@StefKors : The behavior of codeEdit:
<img width="1183" alt="Schermata 2022-04-19 alle 19 44 38" src="https://user-images.githubusercontent.com/20476002/164064172-dd0fc100-fc2d-42cf-a069-157bcb59064d.png">

The behavior of xcode:

https://user-images.githubusercontent.com/20476002/164064491-860b0b0c-2173-459c-b120-1698eb731a2a.mov

Open tabs and everything else also disappear.

[2022-04-19 18:58] austincondiff commented on #491
Unrelated issue but I've noticed that the terminal text goes right up to the edge. Do we want to add a little padding here - 5 pixels maybe?

[2022-04-20 01:33] austincondiff opened #497 "🐞 Divider missing in between toolbar and Xcode-style tabs"
### Description

<img width="251" alt="image" src="https://user-images.githubusercontent.com/806104/164128776-d690dd3b-1f00-4c87-beea-6a98d1a394a5.png">

@lilingxi01 Can you take a look at this?

[2022-04-20 01:36] austincondiff opened #498 "🐞 Left Navigator Toolbar Too Tall"
### Description

<img width="443" alt="image" src="https://user-images.githubusercontent.com/806104/164129302-334f5626-27da-4b56-b9d3-3d89f9b0f3a4.png">

This needs to line up with the sidebar toolbars.

[2022-04-20 01:37] austincondiff commented on #498
@lilingxi01 could you look at this as well? I believe it was caused when we changed the tabs

[2022-04-20 01:39] nanashili commented on #498
It does the same when you open history inspector

[2022-04-20 01:40] austincondiff commented on #498
<img width="541" alt="image" src="https://user-images.githubusercontent.com/806104/164129670-73a4e849-988a-482e-b2e1-c8a01ef803f3.png">

I was wrong, the sidebar toolbar is actually too short.

[2022-04-20 01:41] austincondiff commented on #498
It is just the navigator (left sidebar) toolbar. The inspector toolbar is fine...

<img width="403" alt="image" src="https://user-images.githubusercontent.com/806104/164129865-6dd1d342-997e-4596-9e87-ce9c8d4d3de3.png">

[2022-04-20 01:44] lilingxi01 commented on #498
I believe it is caused by a recent merge. This issue does not exist when #495 is merged.

[2022-04-20 01:50] austincondiff commented on #498
I believe it was caused by #477 with commit https://github.com/CodeEditApp/CodeEdit/commit/dd369b52ce60f5275f50070de78608ff8b16ade8. @jav-solo, do you know anything about this?

[2022-04-20 02:08] jav-solo commented on #498
Let me take a look. I believe the parent scroll view height is 32 and should be 29.

[2022-04-20 02:23] jav-solo commented on #498
Yeah, it looks like it is the scrollview, removing it does not seem to affect the functionality.

[2022-04-20 02:58] jav-solo commented on #498
Submitted PR #500 to fix the issue

[2022-04-20 03:02] #498 closed

[2022-04-20 03:02] #497 closed

[2022-04-20 15:09] austincondiff commented on #256
@lilingxi01 you might take the same approach @jav-solo did in #477 to do this.

The order needs to be remembered Eve. After closing and reopening the app. It will of corse not be in Preferences as it is project dependent.

[2022-04-20 15:13] lukepistrol commented on #256
It's probably best to save it to the projects `.codeedit` folder. You can extend the `AppPreferences` or even better make a `ProjectPreferences` module to fetch/save settings that are project related.

<img width="454" alt="Screen Shot 2022-04-20 at 17 10 51" src="https://user-images.githubusercontent.com/9460130/164263776-8cc1b288-7d06-4206-8f98-c8190a7a4e7f.png">

[2022-04-20 18:00] austincondiff commented on #256
I don’t think that it should be in the project .codeedit directory. We should take VS code’s lead on this one and not create a project .codeedit directory unless absolutely necessary (aka project preferences are modified). Some people don’t know to add that file to their gitignore.

[2022-04-20 18:10] lilingxi01 commented on #256
I wonder which file has done the "remembering" behavior?

[2022-04-20 18:18] lukepistrol commented on #256
@austincondiff ok but how do we store it then? We need some way to uniquely identify a project. The path will not work since it is subject to change. Some git hash also won't work since some projects might not be a git repository. I think it is the only option to make some kind of project specific `.codeedit` folder that lives in the root of the project. We could automatically add it to `.gitignor

[2022-04-20 18:41] austincondiff commented on #256
I just confirmed how it works in VS Code. I opened a project directory, opened a few tabs. Then in Finder I renamed the parent directory's name. I went back to VS Code and my files disappeared from my sidebar. I tried expanding the empty root directory and it said directory not found. I closed VS Code, reopened and I opened the project in the new location. When it opened no tabs were opened.

tldr

[2022-04-20 18:42] nanashili commented on #142
All that is left is the `Quick Help`

[2022-04-20 18:43] austincondiff commented on #256
But I can't stress enough, do not clutter up the users directory unless absolutely necessary.

[2022-04-20 18:45] #266 closed

[2022-04-20 18:46] nanashili commented on #103
@austincondiff we scrapping this idea or not. If we are we can close this issue

[2022-04-20 18:49] nanashili commented on #285
Closing issue for now till we add support back for localisation.

[2022-04-20 18:49] #285 closed

[2022-04-20 18:50] nanashili commented on #286
@austincondiff, @lukepistrol  Can we close this issue or is there still work being done?

[2022-04-20 18:50] #332 closed

[2022-04-20 18:50] #339 closed

[2022-04-20 18:51] #363 closed

[2022-04-20 18:54] nanashili commented on #258
Closing this issue till we add localisation back!

[2022-04-20 18:54] #258 closed

[2022-04-20 18:57] #98 closed

[2022-04-20 18:58] #34 closed

[2022-04-20 18:58] #21 closed

[2022-04-20 18:59] #374 closed

[2022-04-20 18:59] #369 closed

[2022-04-20 19:01] #308 closed

[2022-04-20 19:03] nanashili commented on #414
Closing for now!

[2022-04-20 19:03] #414 closed

[2022-04-20 19:09] nanashili commented on #184
Has this been @lukepistrol ?

[2022-04-20 19:35] lilingxi01 commented on #21
Is this issue resolved? I think the issue being resolved is the folder hierarchy loading time, not the file opening time.

[2022-04-20 19:52] austincondiff opened #513 "✨ Move UI Workspace configuration from project `.codeedit/selection.json` to UserDefaults/AppStorage"
### Is your feature request related to a problem? Please describe.

We need to not clutter user project directories, so we need to move UI preferences to UserDefaults/AppStorage.

### Describe the solution you'd like

We would store an object like this to allow for split layouts in Navigators, Inspectors, and Editors with tab order in each.

Note: Navigator and Inspector tab order will sync betwee

[2022-04-20 19:53] lukepistrol commented on #513
I'll do that in the next few days!

[2022-04-20 20:07] austincondiff commented on #513
I think because a workspace can have multiple projects, we alphabetize the project paths and create a hash from that to use as the project id. Thoughts?

[2022-04-20 20:30] austincondiff commented on #21
@Lessica We are well aware that this is not an easy task. The editor that uses Highlightr.js is just there temporarily while we get our own custom solution in place. We are not in any huge hurry. Our goal is to do this right. If you have any constructive feedback that is fine, but if you only have negative things to say then go find another project to bash. We are committed and determined to produ

[2022-04-20 21:33] lilingxi01 commented on #256
Can you confirm how VSCode did it? I remember VSCode does not automatically add `.vscode` into `.gitignore`, but I also do not see any "opened-tab" or "tab-order" related modifications from other's commits.

[2022-04-20 22:10] lilingxi01 commented on #478
I have been investigating this issue for a while. I realized that this issue may be caused by the reloading of tabs. When such issue is occurring (right after the corresponding keyboard shortcut is pressed), `getTabKeyEquivalent` function returns `"0"`, and `switchAction` function is not called at all. I think this issue may be caused by SwiftUI (not really at our end) and I have already come up w