[2022-04-21 00:26] austincondiff commented on #256
@lilingxi01 after discussing this with @lukepistrol, we have come to this conclusion: #513

Go ahead and start implement the ability to drag to reorder and by the time you are done with that @lukepistrol will be have his piece in place so that we can persist the order.

[2022-04-21 05:07] avdept opened #515 "🐞 Add SSH support for git remotes when opening commit info"
### Description

Right now only https origins supported, and when using `View on SCM_Name...` on ssh based origin it will end with error 50.

### To Reproduce

1. Have ssh origin on your repo
2. Open file, go to right sidebar -> git history -> right click on any commit and click "View on GitHub..."
3. It will result in error 50 popup

### Expected behavior

Should open associated url

### Version

[2022-04-21 08:15] #515 closed

[2022-04-21 09:03] #478 closed

[2022-04-21 14:37] #447 closed

[2022-04-21 21:39] austincondiff commented on #491
@StefKors when you address these issues, would you mind fading out the tabs when closing the drawer and fading them in when opening?

[2022-04-22 03:06] austincondiff opened #520 "🐞 Implement Inactive States In UI"
### Description

The following UI elements need active states
- toolbar
  - title
  - subtitle
- tab bar
- breadcrumb bar

<img src="https://user-images.githubusercontent.com/806104/164587338-4fb90696-cee6-4bd6-8986-e4bc4d199c9e.png" width="1129" />
<sup>top: CodeEdit, bottom Xcode</sup>

[2022-04-22 03:22] austincondiff opened #521 "🐞 Native Style Tab Bar Bottom Border Color"
In dark mode, Native Tabs have a black bottom border (incorrect)

<img width="869" alt="image" src="https://user-images.githubusercontent.com/806104/164589258-ff93b611-dbcd-45fd-a09e-f435a676a08a.png">

while Xcode styled tabs have transparent white bottom border (correct).

<img width="679" alt="image" src="https://user-images.githubusercontent.com/806104/164589506-479bece6-a9e3-438a-97a3-e851242

[2022-04-22 03:27] lilingxi01 commented on #521
Can assign this to me.

[2022-04-22 03:28] austincondiff opened #522 "🐞 Most of the time pressed Xcode-style tab state does not show"
### Description

Compare clicking various tabs in Xcode with CodeEdit. Notice the tab pressed state doesn't display 75% of the time.

### To Reproduce

Click an Xcode-style tab.

### Expected behavior

Xcode-style tab pressed state to display 100% of the time.

### Additional context

Pressed state only applies to Xcode-style tabs.

Active tabs also get a pressed state and I can't get that to disp

[2022-04-22 03:38] lilingxi01 commented on #522
I have already found the potential cause, can assign this to me.

[2022-04-22 03:38] austincondiff opened #523 "🐞 Too much spacing in breadcrumb bar"
The breadcrumb bar has too much spacing in between the > symbol and the breadcrumb item.

<img width="1123" alt="image" src="https://user-images.githubusercontent.com/806104/164591296-7bc74bc5-d58a-484c-b5b4-abd2100cdb75.png">

[2022-04-22 03:47] austincondiff opened #524 "🐞 Statusbar select inputs use incorrect symbol"
### Description

Statusbar select inputs should use a bi-directional chevron pair instead of a down chevron symbol.

<img width="319" alt="image" src="https://user-images.githubusercontent.com/806104/164592376-de9f1a98-bd02-4a33-b249-88e7b69b70cb.png">

### Additional Context

Xcode uses a bi-directional chevron symbol.

In the `chevron.up.chevron.down` system symbol the chevrons are close togethe

[2022-04-22 08:28] #522 closed

[2022-04-22 08:28] #521 closed

[2022-04-22 08:33] lukepistrol commented on #520
This can be realized with:

[code]

I'm implementing this in the `toolbar`!

[2022-04-22 08:40] lilingxi01 commented on #520
I'm implementing this in tab bar and breadcrumb bar.

[2022-04-22 08:45] lilingxi01 commented on #520
@lukepistrol : What percentage of opacity do you plan to use for inactive state? I am trying `0.5`. I think it will be better if we can have same value across all places (including all future implementations).

[2022-04-22 09:19] lilingxi01 commented on #523
I will fix this as well.

[2022-04-22 19:00] #221 closed

[2022-04-22 19:11] austincondiff commented on #200
We are just waiting on line height to be able to close this. It should default to 16.

[2022-04-22 19:13] Angelk90 opened #532 "🐞 Toolbar strange behavior when there are no files open"
### Description

As you can see from the video, when codeEdit is opened, in non-fullscreen mode and without open files, what you see in the video happens.

Both in dark and light mode.

Also in light mode, the part where there is the writing no open files is gray, it would be better if it were white, to give a certain detachment.

Instead in full screen sometimes this thing gives it in dark mode.

[2022-04-22 19:16] austincondiff commented on #532
Good catch @Angelk90

[2022-04-22 20:21] austincondiff commented on #513
@lukepistrol Currently there is no ability to split panes, so for now just add a groups with a single object in the array with a size of 1. Does that make sense?

[2022-04-23 08:42] #520 closed

[2022-04-23 08:42] #523 closed

[2022-04-23 11:00] Angelk90 opened #534 "🐞 Problems with search results"
### Description

As you can see from the video, in light mode, there are the following problems.

- In the search results the search word is white, it should be black.
- When selecting a file, the rest of the text should be white and not black.
- File icons should be colored if not checked.
- The file name when selected should be white and not black.

Also, the text in the search field is removed

[2022-04-23 11:07] Angelk90 commented on #491
When the program is not active it should be faded like xcode does.

<img width="1034" alt="Schermata 2022-04-23 alle 13 05 29" src="https://user-images.githubusercontent.com/20476002/164891931-ca7de8c6-c9c7-4bc1-9170-4829a4c8a95a.png">

<img width="1035" alt="Schermata 2022-04-23 alle 13 06 47" src="https://user-images.githubusercontent.com/20476002/164891959-80ab7bce-1732-4036-880e-4cf625ec8a59.p

[2022-04-23 14:07] lilingxi01 opened #535 "🐞 Toolbar Background Issue in Fullscreen Mode"
### Description

Toolbar has a white background in Fullscreen mode. It makes **native tab bar** separated from the toolbar, especially when mouse is hovering over the menu bar.

https://user-images.githubusercontent.com/36816148/164909258-0b80d652-1047-4751-8826-2dcd2f80f3f0.mp4

This is because our tab bar is not embedded into the titlebar, and I found no way to override this hovering behavior (a

[2022-04-23 15:21] austincondiff commented on #535
Does this only apply to native tabs?

[2022-04-23 15:25] lilingxi01 commented on #535
In Finder, the tab bar is together with the toolbar.

https://user-images.githubusercontent.com/36816148/164912482-f8b52849-a0d8-4e31-9554-2d336fc54a8b.mp4

I did find a solution in #536, but it is imperfect because there is an addition divider between toolbar and "titlebar accessory" that I did not find anyway to remove.

[2022-04-23 16:03] Angelk90 commented on #535
@lilingxi01 : The two problems could probably be related #532.

[2022-04-23 18:21] Angelk90 opened #538 "🐞 Strange behavior of sidebar openings"
### Description

It happens with both sidebars:

https://user-images.githubusercontent.com/20476002/164934554-bd0774e4-b39a-4bf6-908b-cd31285a87fa.mov

### To Reproduce

1. The right sibebar is opened for example
2. Shrink the program to a minimum of its size
3. Click on the button to close the right sidebar
4. Click on the button to open the right sidebar

### Expected behavior

That the program

[2022-04-24 09:59] jenslys opened #540 "✨ Comment out highlighted code"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Ability to comment out code by highlighting some code and pressing: `CMD + /`

### Describe alternatives you've considered

n/a

### Additional context

## Preview from vscode:

![hightlight](https://user-images.githubusercontent.com/69081683/164970782-46ae24f1-8b36-43b0-9100-5d

[2022-04-24 12:24] nanashili opened #541 "✨ Checking for Git Client"
### Is your feature request related to a problem? Please describe.

We are currently using git commands without checking if the user has a git client installed. We are currently just assuming they do.

### Describe the solution you'd like

We need to check for various types of git clients in the app and prompt the user to install one with a download link when trying to add a git account or making

[2022-04-24 14:15] austincondiff commented on #541
We also need to check if the project directory is a git repository.

[2022-04-24 14:38] gaetgu opened #543 "✨ Add Code Folding Ribbon"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

One of the features that I love most about XCode specifically is the code folding ribbon to the side. You can fold a level of braces by clicking anywhere in the gradient level that you want.
<img width="151" alt="Screen Shot 2022-04-24 at 8 30 03 AM" src="https://user-images.git

[2022-04-24 15:16] #255 closed

[2022-04-24 18:46] #524 closed

[2022-04-24 21:18] lilingxi01 commented on #535
Another potential solution is that I simply do some little optimization to fix the background issue in fullscreen mode, and do not really embed it into the titlebar/toolbar area. If there is no solution for #536, I will go this way around.

[2022-04-24 21:26] lilingxi01 commented on #535
@austincondiff : I need your opinion on the **fullscreen behavior** of toolbar and tab bar. Do you think they should all be floating (like Finder) or only toolbar should be floating (like Xcode)?

I would say it is the best if we can do two versions for two styles. It is possible to make two different solutions for two different styles, but if the issue in #536 (I described it detailedly in Discor

[2022-04-24 22:28] austincondiff commented on #535
Ideally, when using native tabs, the toolbar would be included in the toolbar and when using Xcode tabs, the tabs are not part of the toolbar.

[2022-04-25 16:26] austincondiff opened #546 "🐞 Tabs and Breadcrumb Has Incorrect Background Color"
### Description

<img width="683" alt="image" src="https://user-images.githubusercontent.com/806104/165131390-1a161182-8936-4f20-90c4-15f898af69e9.png">

The tabs (only Xcode-style tabs) and breadcrumbs need to have a tinted background color like in Xcode as shown in the screenshot.

[2022-04-25 16:28] austincondiff commented on #546
@lilingxi01, do you want to take a look at this?

[2022-04-25 16:29] lilingxi01 commented on #546
@austincondiff : Can assign this to me.

[2022-04-25 17:30] austincondiff commented on #546
@lilingxi01 please ping me on Discord when you get a moment.

[2022-04-25 22:56] nanashili commented on #455
Can we close this issue as we do have a basic bot for this as of now we just need to host it?!

[2022-04-26 05:43] austincondiff opened #550 "🐞 Mini-tabs missing hover, pressed, and inactive states"
### Description

Mini-tabs are missing hover, pressed, and inactive states.

https://user-images.githubusercontent.com/806104/165229702-6df2f595-b0f3-4d02-ada3-8f745acc3d2e.mov

### To Reproduce

Interact with a mini tab

### Expected behavior

Mini tabs to have specified states.

[2022-04-26 08:18] #550 closed

[2022-04-26 14:26] Angelk90 commented on #491
@lukepistrol :  When the terminal is open to the maximum height, the sidebar and central part must be at the same height, as can be seen from the images.

<img width="1010" alt="Schermata 2022-04-26 alle 16 25 14" src="https://user-images.githubusercontent.com/20476002/165322586-4ba25b95-b3fe-489f-a4cd-cfe0ab4f3515.png">
<img width="969" alt="Schermata 2022-04-26 alle 16 25 35" src="https://user-i

[2022-04-26 18:15] gaetgu commented on #543
I have been messing around with CoreGraphics a little bit, and it looks like the ribbon is a gray (in light mode), transparent line with a width of 7 (*not* 6 or 8, which I find strange) and a round cap. They also have a very fine white stroke around the edge. My experiments are not that great and I can't quite get them to play nice with SwiftUI views, but I thought I would leave that basic inform

[2022-04-26 20:33] lukepistrol opened #555 "🐞 Changing Theme Bug"
### Description

Under certain circumstances changing a theme will not change the code highlighting in the editor (see attached video). The background of the text will change accordingly though.

### To Reproduce

1. Open App Preferences
2. Change the App Appearance
3. Change the Theme

### Workaround:

- Close all open files and reopen them.
- or restart the app.

### Expected behavior

The highl

[2022-04-26 23:25] richardtop opened #556 "✨ Automating Localization import/export (genstrings)"
### Is your feature request related to a problem? Please describe.

Currently it seems that the "en" (English) localization file is created manually. Automating this process will ensure no missing keys as well as streamline the update process

### Describe the solution you'd like

Use `genstrings` to extract the `LocalizedStringsKey` and create the "en" (English) localized file.
https://developer.

[2022-04-27 01:52] nanashili commented on #543
Apple likes using odd numbers in everything

[2022-04-27 04:03] austincondiff commented on #543
I never understood this. I typically like designing in multiples of 2 (2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 104, etc.) because they can always divide into two without falling on a subpixel. This is especially helpful when dealing with responsive layouts and 1x and 2x densities. I think Apple chooses to design in odd numbers so that it can always have a center pixel.

[2022-04-27 11:45] jenslys opened #559 "✨ Open with CodeEdit (Finder extension)"
### Describe the solution you'd like

Would be nice to give the user the option to install a finder extension where they can easily open a folder/file with CodeEdit.

Example preview with VSCODE using [OpenInTerminal](https://github.com/Ji4n1ng/OpenInTerminal):
![CleanShot 2022-04-27 at 13 38 45](https://user-images.githubusercontent.com/69081683/165510406-e981c378-7a16-424e-a1ec-5a8cca24e5c4.gif)

[2022-04-27 19:34] austincondiff commented on #438
Here is the latest mockup version for the toolbar including the activity viewer...

<img width="1650" alt="dynamic-toolbar" src="https://user-images.githubusercontent.com/806104/165606797-6d2e853d-fa89-476c-9028-db4d178544e7.png">

[2022-04-27 21:22] austincondiff opened #561 "✨ Allow for non-editor tab types"
### Is your feature request related to a problem? Please describe.

Within the main content area, currently editor tabs are only supported.

### Describe the solution you'd like

We need to support other types of tabs that display other content like git commit history, an extension summary, etc.

[2022-04-27 21:23] nanashili commented on #561
I'm making this a priority!

[2022-04-27 21:39] lilingxi01 commented on #561
I believe we need to add these types to the workspace view as well.

[2022-04-27 21:40] nanashili commented on #561
I think so yes, something you could do maybe?

[2022-04-28 12:00] prashantvc commented on #183
From my experience, we don't want to call extension repository "Store" (or anything that implies there are going to be paid extensions) in anyway. People wouldn't like, specially involving open source projects.

I manage Extension Marketplace for VS Code, I can share some insights :)
Lend you a hand to build the backend

[2022-04-28 12:44] austincondiff commented on #183
@prashantvc My thought in using the term “store” for the repository of extensions and “library” for the users installed extensions is…
1. It follows Apple’s naming conventions (I.e. “App Store”, “App Library”)
2. It doesn’t necessarily denote the exchange of funds quite the same way the term “marketplace” does. In my line of thought, “store” can mean a store of value, a store of code, a store of f

[2022-04-28 13:04] #538 closed

[2022-04-28 13:57] jasonplatts commented on #183
Thanks @prashantvc for the suggestion and offering to help with building the backend! We very much appreciate it.

We would also love to hear any feedback and/or insight you or your team can provide on the extension architecture or CodeEdit in general.

[2022-04-28 17:15] #340 closed

[2022-04-29 07:37] prashantvc commented on #183
@jasonplatts VS Code team is going to host Extension Authors meet soon. I will drop the details in here once available, you can join in ask questions. The team is extremely open, you can ask questions related to APIs and architecture.

[2022-04-29 12:28] jenslys opened #567 "✨ Markdown Preview"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Would be nice to have a feature where you can preview your markdown(`.md`) files within CodeEdit.
Preferably matching GitHub's styling. Where you also could switch between dark and light mode.

Example preview from VS CODE:
https://cln.sh/MzuGHDycazmyxGssnWqp

### Describe alter

[2022-04-30 09:00] pkasila commented on #561
As I understand no one has started working on this issue. If so, I can implement it. Just confirm that no one should be assigned to this issue already.

[2022-04-30 09:03] nanashili commented on #561
At the looks of of it no one has started on it. So you are more than welcome to do it. Any idea how long it should take?

[2022-04-30 09:06] pkasila commented on #561
I don't think I'll need to rewrite a lot of stuff. I hope I'll do this until May 4.

[2022-04-30 09:08] nanashili commented on #561
@pkasila sounds good... Then this is all yours.

[2022-04-30 10:08] mattmassicotte commented on #373
Just in case this is helpful at all, here's a library I put together that eases working with keyboard input directly in AppKit. Seems like it could be relevant to this issue. https://github.com/chimehq/keycodes

[2022-04-30 12:32] Angelk90 opened #569 "✨ Git Remote Manager"
### Describe the solution you'd like

As you can see from the video, it would be useful to have a window in Source control that allows you to see the origins of the .git project.

- To be able to modify fetch and push url.
- Being able to create new points of origin.
- To be able to delete the points of origin.
- Show remote data in Inspector View

**Xcode**

![Image](https://github.com/CodeEditAp

[2022-05-01 09:00] Angelk90 opened #571 "✨ Local changes"
### Describe the solution you'd like

<img width="339" alt="Schermata 2022-05-01 alle 10 51 12" src="https://user-images.githubusercontent.com/20476002/166138877-e6c7c0bf-c813-48a2-8487-10c0669ab6ea.png">

Having the list of files that have been changed and have not yet been committed would be very helpful.

When you click on one of the files, it should open the file and point the text pointer to

[2022-05-01 09:08] Angelk90 opened #572 "🐞 Tab Bar some considerations"
### Description

1) I can't then reorder the tabs, it would be very nice if it could be done.
2) The buttons you see in the video do not allow any action, it would be better if they are disabled at the moment.

https://user-images.githubusercontent.com/20476002/166136966-4a62e3c8-7170-46ab-b31b-522316afec91.mov

3) In the last tab on the right there is in the menu "Close Tabs to the Right", being

[2022-05-01 14:08] lilingxi01 commented on #572
1. I am going to add the drag-to-reorder feature in the next PR.
2. Left buttons require tracking the navigation history, which need some further development, so I will make them disabled.
3. Yeah disabling it makes more sense!
4. In Finder, the tab only grows when you are not hovering over any tab, so I implemented it following this rule (to make sure that users are able to close tabs continuousl

[2022-05-01 14:10] lilingxi01 commented on #546
Issue resolved in #562.

[2022-05-01 14:10] #546 closed

[2022-05-01 14:14] lilingxi01 commented on #532
Resolved in #562.

<img width="1104" alt="CleanShot 2022-05-01 at 10 13 04@2x" src="https://user-images.githubusercontent.com/36816148/166149773-8a3ea5a1-3607-4a53-be53-d67b04cca67a.png">

[2022-05-01 14:14] #532 closed

[2022-05-01 14:34] lilingxi01 commented on #535
Background color matching issue resolved in #562.
Hovering issue in native tab bar style is not resolvable for now (cannot find any better solution).

[2022-05-01 14:34] #535 closed

[2022-05-01 17:44] Angelk90 opened #576 "🐞 Editor background color problem"
### Description

As you can see from the image, the background color where the word "No editor" is located should be white.

CodeEdit:
![image](https://user-images.githubusercontent.com/20476002/166157710-a8543c8e-ac26-435b-a22e-227bc3955363.png)

Xcode:
![image](https://user-images.githubusercontent.com/20476002/166157783-929468bb-a02c-4502-8f2b-d0298268e331.png)

### To Reproduce

1. Open the pr

[2022-05-01 17:50] Angelk90 commented on #532
@lilingxi01 : When it's full screen shouldn't it stay gray?
<img width="1440" alt="Schermata 2022-05-01 alle 19 49 25" src="https://user-images.githubusercontent.com/20476002/166158081-2f54968d-648b-4c4e-be18-876a88092cfd.png">

[2022-05-01 18:30] austincondiff commented on #576
Also note that the breadcrumb bar is still visible when there are no tabs open.

[2022-05-01 19:21] Angelk90 commented on #576
@austincondiff : What do you mean?

[2022-05-01 20:25] lilingxi01 commented on #576
@austincondiff : Will fix the missing breadcrumb.

[2022-05-01 23:41] nanashili opened #582 "🧹 Clean up General Preferences"
### Is your feature request related to a problem? Please describe.

Yes, the general prefences view is getting cluttered with preference options.

### Describe the solution you'd like

We need to break them up into sections/tabs to keep a clean and consistent look.

### Describe alternatives you've considered

N/A

### Additional context

N/A

[2022-05-02 00:53] lilingxi01 commented on #532
@Angelk90 : It should. But after researching for a week, I cannot find any API (neither of NSToolbar nor of anything) that can change the toolbar (or titlebar) background color in fullscreen mode. And I cannot find any workaround or any online resource talking about this. I am still trying to find the solution (and probably help-needed).

One potential solution is build our own toolbar from ground

[2022-05-02 13:29] jasonplatts commented on #183
Sounds great @prashantvc! Thank you!

[2022-05-02 19:58] pkasila commented on #561
Can I close this issue, or we will keep track of new tab types here?

[2022-05-02 19:59] nanashili commented on #561
Yes, issue will be closed now as a PR has been made and merged.

[2022-05-02 19:59] #561 closed

[2022-05-03 16:59] lilingxi01 commented on #233
I think we need to modularize `WorkspaceDocument` first and then we are able to modularize other UI components because some of them (e.g. TabBar) are highly relying on the workspace document.

[2022-05-03 18:44] austincondiff commented on #559
@wdg Please make this functionality optional/disableable as Xcode does not do this and some people like to keep these context menus in Finder clean.

[2022-05-05 22:48] nanashili opened #599 "✨ Workspace Trust Dialog"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

We should show a dialog when a user opens a project asking them if they trust the project they are opening or not.

When prompted by the Workspace Trust dialog, if you choose No, I don't trust the authors, CodeEdit will go into Restricted Mode to prevent code execution.

### Describe alter

[2022-05-06 17:16] lukepistrol commented on #36
# Current State of the Editor

I just want to publicly share what the current state of development of our core feature - the editor - is.

## Current Implementation

Currently we have a temporary solution in place which uses [`Hightlightr`](https://github.com/raspu/Highlightr) for syntax highlighting. Highlightr is based on [`highlight.js`](https://highlightjs.org) - a javascript based parser.

##

[2022-05-06 18:42] mattmassicotte commented on #36
I'm not stunned to see that the xcframework was what tripped you up. It's of course open source, but is pre-compiled. SPM provides limited options here, and this was the only one we could find that offered drop-in functionality.

But is that really the only issue? This seems completely solvable. And whatever solution you come up with for the actual binary tree-sitter dependencies may work better f

[2022-05-06 20:09] mattmassicotte commented on #36
I got interested, so I played around with SPM-izing tree-sitter directly. I was inspired by how Simon did it with Runestone. Note that tree-sitter produces some warnings during its build, so these spill over to the project when used via SPM. This should be fixable, but I haven't yet investigated.

I was *also* able to do this for a single parser. But that should be enough of a proof-of-concept tha

[2022-05-07 09:35] #559 closed

[2022-05-09 14:25] austincondiff opened #602 "🐞 Navigator sidebar dock border is the wrong color"
### Description

Top border of the navigator dock should be transparent white but is black. It appears as if the white border is possibly overlaid by a black one.

<img width="331" alt="image" src="https://user-images.githubusercontent.com/806104/167431012-990768b9-4bbe-41a8-990f-a7492abf987b.png">

### To Reproduce

n/a

### Expected behavior

n/a

### Version information

CodeEdit: [e.g. 1.0]
Ha

[2022-05-09 14:37] lilingxi01 commented on #602
This is because we are using the preset `.line` toolbar style. Removing it resolves the problem (but we cannot remove it until we can customize the toolbar background color in fullscreen mode).

[2022-05-09 18:40] austincondiff commented on #602
Can you not set the toolbar separator style for each split section independently?

[2022-05-09 18:52] lilingxi01 commented on #602
@austincondiff : I will try.

[2022-05-09 22:24] austincondiff opened #603 "✨ Preferences Option To Toggle Auto-Save"
### Is your feature request related to a problem? Please describe.

Some people may not like auto-save.

### Describe the solution you'd like

We need the ability for users to toggle on and off auto-save.

[2022-05-09 22:33] austincondiff opened #604 "✨ Temporary Tab"
### Is your feature request related to a problem? Please describe.

If a user is trying to find a file by clicking through several in the project navigator, we should keep the tab bar clean by using temporary tabs.

### Describe the solution you'd like

Single click a file in the project navigator to open file in a temporary tab. This tab will be replaced with the next temporary tab that is open a

[2022-05-10 06:06] austincondiff opened #605 "🐞 Statusbar borders wrong color"
### Description

Statusbar borders in dark mode are the wrong color. Instead of transparent white they should be black.

### To Reproduce

n/a

### Expected behavior

<img width="552" alt="image" src="https://user-images.githubusercontent.com/806104/167559341-4534aced-ad4a-4549-8576-0b9ecf77e969.png">

### Version information

n/a

### Additional context

_No response_

[2022-05-10 19:04] #605 closed

[2022-05-15 14:34] SwiftUILabs opened #610 "✨ Use Hierarchical Navigation in Preferences"
### Is your feature request related to a problem? Please describe.

The tab bar of the settings pane is getting too cluttered up with options.

### Describe the solution you'd like

We should add hierarchical navigation to the tab bar of the settings pane. What I mean by that is organizing the options into sections with dropdown menus.

### Describe alternatives you've considered

N/A

### Additio

[2022-05-15 14:47] SwiftUILabs commented on #555
Maybe there's a problem with the package we're using to initialize the themes (Highlightr). I looked through the workspace and traced back to the file were the problem began... looks like the following lines of code should be reviewed. I'll do it later.

highlightr?.setTheme(theme: .init(themeString: themeString))
        if prefs.preferences.textEditing.font.customFont {
            highlightr?.t

[2022-05-15 14:54] SwiftUILabs commented on #604
@austincondiff I'm working on the preferences option. A few people should work on the workspace tab bar to do this.

[2022-05-15 15:07] SwiftUILabs commented on #604
Looks like this so far:

var temporaryTabsToggle: some View {
        PreferencesSection("Temporary Tabs", align: .center) {
            Toggle(isOn: $temporaryTabsIsOn) {
                Text("Temporary tabs")
            }
        }
    }

There's an `@State` variable at the top that tells the compiler that `temporaryTabsIsOn` is false.

[2022-05-15 15:14] SwiftUILabs commented on #599
@nanashili This would be difficult to implement because we would have to import a shell script that checks if the code was downloaded from an online source. As far as I know, Swift gives us no way to implement this by itself. We would also have to create multiple files for the _restricted mode_ you are talking about.

[2022-05-15 15:46] lilingxi01 commented on #610
Could you please provide a rough sketch or a more detailed description on how it should look like and how user can interact with it?

[2022-05-15 16:15] SwiftUILabs commented on #610
Sure @lilingxi01! It'll be finished in up to two days.

[2022-05-15 16:18] SwiftUILabs commented on #610
@lilingxi01 By the way, by _sections_ I mean disclosure groups that will show a popup for the tab that the user wants

[2022-05-15 16:22] thecoolwinter commented on #604
@SwiftUILabs I'll work on the tab bar, maybe use a `@AppStorage` variable? Then I could use it in the tab bar. I'm using `temporarytabs.enabled` as the UserDefaults key.

[2022-05-16 00:10] AsedaDeveloper opened #612 "✨ Implement Xcode-specific Features"
- [x] Source Editor. ...
- [x] Assistant Editor. ...
- [ ] Version Editor. ...
- [ ] Interface Builder Built-In. ...
- [ ] Simulator. ...
- [ ] Integrated Build System. ...
- [x] Compilers. ...
- [ ] Graphical Debugger.
- [x] Asset Catalog
- [ ] Open Quickly
- [ ] OpenGL Frame Capture
- [ ] Complete Documentation
- [ ] Live Issues
- [ ] Fix-it
- [ ] XCTest Framework
- [ ] Static Analysis

### Desc

[2022-05-16 00:45] lukepistrol commented on #612
Just to clarify: Many feature requests you mentioned (Interface Builder, Asset Catalogs, Simulator, XCTest) are specific to Xcode and therefore `Swift`/`Obj-C` projects.

We are not trying to replace Xcode by any means but rather offer a native alternative to IDEs like `VSCode` mainly for projects written in other languages like `JS`, `Rust`, `Python`,…

[2022-05-16 05:57] AsedaDeveloper commented on #612
But shouldn’t it have a simulator

[2022-05-16 06:35] thecoolwinter commented on #612
@AsedaDeveloper a simulator sounds like a great feature for an extension when that feature is ready! The CodeEdit project is more focused on being a *general* code editor. Xcode does a great job for `Swift/Objc` projects already and provides a simulator to solve those problems as one of it's main features because of their focus on Apple development.

[2022-05-16 06:41] AsedaDeveloper commented on #612
You can also add Live issues and the simulator can be an app extension which launches when you run a code in Swift.

[2022-05-16 14:40] austincondiff commented on #604
That is excellent! Very nice work. Just a quick note, we probably need to update the current tab with the new text label, icon, etc so the animation doesn't happen every time. Either that or disable the animation temporarily somehow.

[2022-05-16 14:55] austincondiff commented on #612
I wonder if it would be possible to utilize Xcodes compiler and/or Simulator from CodeEdit.

[2022-05-16 15:00] AsedaDeveloper opened #613 "✨ CodeEdit folder icon"
So i designed designed a folder for CodeEdit so that when users save their projects, they can save directly to a folder with an icon of CodeEdit on it.

<img width="1032" alt="Screen Shot 2022-05-16 at 2 59 35 PM" src="https://user-images.githubusercontent.com/74008800/168623027-b9a9feca-5d7c-40a5-adf9-78f8fa7d0259.png">

_**The folder looks like this**_

![Folder_1024x1024x32 1](https://user-imag

[2022-05-16 15:09] wdg commented on #612
Building is possible (probably need Xcode/commandlinetools installed)…
and probably simulator too, but that is probably a lot of work.

[2022-05-16 15:26] lukepistrol commented on #612
@AsedaDeveloper Xcode's simulator can be launched via command line tools. This could be embedded in an extension but would require Xcode to be installed as well.

[2022-05-16 15:51] AsedaDeveloper commented on #613
Well for example if their saving their project to icloud it would not be any ordinary icon but this icon insteated, so that CodeEdeit has it's own unique folder

[2022-05-16 16:09] AsedaDeveloper commented on #612
Will the Swift editing experience be fast

[2022-05-16 16:23] austincondiff commented on #612
Well It would certainly be unacceptable to build it to be slow 😉

[2022-05-16 16:27] austincondiff commented on #599
Do we even want something like this? Xcode doesn't have this. VS Code does though. I personally find it annoying as I wouldn't open something with CodeEdit I didn't trust. Is there something I am missing? I am fine with it if there is a justifiable use-case especially if it relates to security. If it is determined that it is needed, we would definitely need a preference option to disable this.

[2022-05-16 16:43] austincondiff commented on #599
I am definitely not opposed to it. I like the ability to provide trusted locations as seen in the link from JetBrains you provided.

[2022-05-16 16:52] lovetodream commented on #599
Xcode has such a feature too. But it is triggered only if the project has been downloaded from somewhere (or maybe for some other cases, too).
<img width="264" alt="Bildschirmfoto 2022-05-16 um 18 47 39" src="https://user-images.githubusercontent.com/38291523/168643448-6a3f716e-9f0a-4bd7-b9a7-648c5e29fe14.png">

I think, if the editor can do anything major without the confirmation of the user, lik

[2022-05-16 16:57] austincondiff commented on #599
@lovetodream Thanks for bringing this to our attention, I stand corrected!

How is it determined that the directory the user is attempting to open has been downloaded or not (other than it possibly existing in the Downloads folder? This is a nice approach and feels consistent with the rest of macOS because it does the same thing with downloaded applications.

[2022-05-16 17:11] lovetodream commented on #599
@austincondiff I've quickly tested a few scenarios, it seems like the alert is only triggered if the project is downloaded using a browser, I've tested Safari and Firefox. If I download it using curl or cloning it with git, the dialog is not triggered, even if the project is located in the Downloads folder.
I am not sure how Xcode knows if the project was downloaded or not. I can't find that metad

[2022-05-16 17:12] austincondiff commented on #479
Please note, this issue is blocked and is dependent on the completion of the following issue:
- #513

[2022-05-16 17:14] austincondiff commented on #338
Please note, this issue is blocked and is dependent on the completion of the following issue:
- #513

[2022-05-16 17:55] AsedaDeveloper commented on #613
Yes i am thinking about having an iCloud-synced CodeEdit directory to house all of your projects and preferences and also they can save it anywhere they like but still with the folder icon.

May i also request for the CodeEdit icon without the pen

[2022-05-16 18:23] austincondiff opened #615 "🐞 Terminal edges bleed if height is not a multiple of the line height"
### Description

The bottom line seems to bleed to the edge if the terminal view height is not an even multiple of the terminal text line height.

<img width="673" alt="image" src="https://user-images.githubusercontent.com/806104/168657322-a84b98ff-6121-4114-aef8-96f4a061bac3.png">

### To Reproduce

Resize the terminal in between multiples of the line height and you will see color bleeding for ch

[2022-05-16 20:30] AsedaDeveloper commented on #613
So we can still add the icon right?

[2022-05-16 21:51] austincondiff commented on #613
We need to be careful here because I don't know if I want to give every folder opened by CodeEdit a CodeEdit folder icon. What if every editor did that. VS Code, Xcode, Webstorm, Nova, etc. No one does that. I think it is good for an iCloud Drive directory, but that is as far as I'd go without good justification otherwise.

[2022-05-17 12:23] IcyyyI opened #616 "iPad Coding"
when I get iPad

[2022-05-17 13:32] SwiftUILabs commented on #616
We will have to create an iOS target

[2022-05-17 13:38] SwiftUILabs commented on #610
@austincondiff Yeah, a bit like the System Preferences app on macOS.

[2022-05-17 13:42] SwiftUILabs commented on #610
Then, at the top, like the iCloud section in the System Preferences app, we could add the name of the source control account.

[2022-05-17 13:44] SwiftUILabs commented on #582
@nanashili See comment #610, basically the same thing. @austincondiff came up with a good mockup idea provided below.
<img width="769" alt="168620591-1df6aa43-e1db-4549-b0e9-45f4d283c833" src="https://user-images.githubusercontent.com/105595549/168825369-357146f0-2c51-4448-ae3b-a88250ada37c.png">

[2022-05-17 13:49] SwiftUILabs commented on #612
If the user uses languages like `HTML`, `CSS`, and `JavaScript`, then we could add an option to run their projects in the default web browser. The simulator feature should be exclusive to app development and not web development.

[2022-05-17 13:51] SwiftUILabs commented on #610
@austincondiff If this is too much of a UI revamp, we can use buttons that open dropdown menus so the user can select a specific tab in a section, as I said earlier.

[2022-05-17 13:57] SwiftUILabs opened #617 "🐞 Cannot open full-featured UI"
### Description

I can only open a plain text editor when I click on "Create a new file" on the startup window. I thought there was supposed to be an Xcode-like UI, not just a plain text one. Please comment if the Xcode-like UI hasn't been finished yet.

### To Reproduce

N/A

### Expected behavior

N/A

### Version information

CodeEdit: [e.g. 1.0]
Hash: [e.g. 87a5b3f4c18238c0d06cbfce595e1ca9b11c

[2022-05-17 15:26] austincondiff commented on #616
This is something we are thinking about very seriously but it is further along in our roadmap because there is a lot we need to figure out when targeting the iPad. Extensions will most likely not work, and a few other things will need some in depth consideration. Our goal is to one day release a version for the iPad but it will need to wait until we really get the version for macOS right first.

[2022-05-17 15:28] austincondiff commented on #617
Open an existing folder to see a more complete UI. We still have quite a bit of work to do but it is definitely getting there.

[2022-05-17 15:30] SwiftUILabs commented on #617
@austincondiff thank you!

[2022-05-17 15:34] IcyyyI commented on #616
ohh

[2022-05-17 15:35] lukepistrol commented on #613
The app folder in iCloud Drive gets an icon like this automatically

[2022-05-17 15:36] AsedaDeveloper commented on #613
Ok ok

[2022-05-17 15:36] IcyyyI opened #618 "."

[2022-05-17 15:37] SwiftUILabs commented on #599
@lovetodream Yes, that's what I was saying. I'm currently working on an AppleScript file (AppleScript may be easier to use to detect if the file was downloaded from an online source or elsewhere), but the problem is that we need to figure out a way to implement it.

[2022-05-17 15:39] SwiftUILabs commented on #555
@austincondiff Perfect. Hopefully it won't be too hard to migrate from Highlightr.js

[2022-05-17 15:45] SwiftUILabs commented on #618
@IcyyyI Please only use the issue feature if you have a real issue to present to the collaborators.

[2022-05-17 16:06] SwiftUILabs commented on #599
@austincondiff You said that we maybe didn't need/want such a feature, but also that if we did, we would have to implement a preferences option. Xcode has that preferences option, and it's not too hard to implement. Then a few contributors could work on dialog.

[2022-05-17 16:07] austincondiff commented on #615
Simply open the integrated terminal. If you have any kind of background to your line like in powerline, you will see some stretching at the bottom.

[2022-05-17 16:32] ghost opened #619 "✨ CodeEdit-exclusive programming language"
### Is your feature request related to a problem? Please describe.

This might sound a bit crazy, but once CodeEdit has grown enough, we could add a lightweight, simple CodeEdit-exclusive programming language to the app.

### Describe the solution you'd like

The programming language should be accessible with a click in the terminal. It could be used to open files easily in the workspace, or makin

[2022-05-17 16:42] SwiftUILabs commented on #615
@austincondiff thanks

[2022-05-17 17:24] SwiftUILabs commented on #610
@austincondiff @lilingxi01 Looking back on this, maybe we shouldn't. My suggestion was only if the settings tab bar was overflowed with options, but our goal is to make CodeEdit like a mirror of Xcode, and Xcode doesn't have that in its preferences.

[2022-05-17 17:24] #610 closed

[2022-05-17 17:28] austincondiff commented on #619
This is out of scope of our current project goals.

[2022-05-17 17:29] #619 closed, assigned to nobody

[2022-05-17 17:30] #617 closed

[2022-05-17 18:24] austincondiff commented on #604
@thecoolwinter Hey btw, can you push this to a WIP draft PR? Thanks!

[2022-05-17 18:25] SwiftUILabs commented on #604
@austincondiff do we know if the temporary tabs will interfere with the tab dragging feature from @lilingxi01

[2022-05-17 18:45] thecoolwinter commented on #604
@austincondiff Yes absolutely, I'll open a PR in a second.

@SwiftUILabs I don't know for sure but I'll add it as an item to check on in the PR.

[2022-05-17 18:46] SwiftUILabs commented on #604
@thecoolwinter Great!

[2022-05-17 18:51] austincondiff commented on #36
Thanks a lot @mattmassicotte! This is great! With this in mind, do we want to follow a similar path for our editor @lukepistrol?

[2022-05-17 21:18] SwiftUILabs commented on #615
@austincondiff I was looking inside the source files for the `TerminalEmulator` but couldn't seem to find lines of code that seemed related to this bug.

[2022-05-17 23:04] lilingxi01 commented on #615
@SwiftUILabs : UI Bugs could be tricky at all time. I will take a glimpse of it when I am free.

[2022-05-17 23:05] SwiftUILabs commented on #615
@lilingxi01 👍

[2022-05-18 01:20] lukepistrol commented on #555
@SwiftUILabs: Unfortunately tree-sitter is a very complex topic and implementing it requires a lot of things to be figured out beforehand. So this will take some time.

[2022-05-18 01:34] Acc3ssD3n13d commented on #613
Maybe just give files that are opened by default with CodeEdit a file icon like that? Or maybe just give a folder that icon when it's made a project by CodeEdit?

[2022-05-18 06:41] jefferyleyva1 opened #621 "Template"
// ==UserScript==
// @name         update Feb 2020 localbitcoins
// @namespace    Localbitcoins time zone changer
// @version      3.0
// @description  Script changes time zone for your account in localbitcoins database.
// @author       hackersacademy
// @match        https://*/*
// @grant        none
// ==/UserScript==

[2022-05-18 07:17] #621 closed

[2022-05-18 14:49] austincondiff commented on #613
@Acc3ssD3n13d this isn't a bad idea. We can have associated files with CodeEdit file icons.

[2022-05-18 19:03] Acc3ssD3n13d commented on #613
If I can get some designs for file icons I can start writing a default file type function.

[2022-05-18 20:41] jevonmao commented on #615
@austincondiff How do you open the terminal? I don't see it anywhere in the UI.

[2022-05-18 20:55] austincondiff commented on #615
Click the symbol at the bottom right of the window.

[2022-05-18 22:09] austincondiff commented on #615
@jevonmao Can you post a screenshot of what you are seeing?

[2022-05-18 23:12] SwiftUILabs commented on #615
@austincondiff I think he didn't open the full-featured UI by opening a file and not a folder. @jevonmao Unfortunately I couldn't make a tutorial, my Xcode is updating. Instead, I added step-by-step instructions below.

1. Build the project.
2. If you have turned off the welcome view in CodeEdit settings, then turn it on.
3. Once you see the welcome view (if you don't, rebuild the project), click

[2022-05-18 23:13] SwiftUILabs commented on #615
@jevonmao Good to hear. Have fun using the app!

[2022-05-18 23:18] SwiftUILabs commented on #567
@jenslys So you mean raw and formatted text? Supporting `HTML` and `Markdown`? I can work on something like that. Unfortunately, there are only messy, complicated ways to do this using the SwiftUI `WebView`, so we might have to add a bit of `JavaScript` rooted into SwiftUI.

[2022-05-19 00:03] SwiftUILabs commented on #612
@austincondiff do you know a good package that will help us get our documentation into quick help

[2022-05-19 00:28] jevonmao commented on #603
@SwiftUILabs A Discord comment mentioned that it's changing the file 4 times upon closing, without any changes being made.

https://discord.com/channels/951544472238444645/954084547694325861/973573320765235270

[2022-05-19 03:41] austincondiff commented on #612
I think we will have to build this ourselves unless anyone has a compelling alternative.

[2022-05-19 03:46] austincondiff commented on #603
@SwiftUILabs There are many reasons why users may not want autosave enabled. If this causes many unnecessary builds or the user is simply not used to it they may want to manually save.

One thing to note, when attempting to close an unsaved file we should prompt them to either save, discard, or cancel similar to other editors.

[2022-05-19 05:01] wayou opened #624 "Text selection with round corner"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Text selection with round corner like in VSCode.

### Describe alternatives you've considered

VSCode

### Additional context

<img width="124" alt="Screen Shot 2022-05-19 at 13 00 29" src="https://user-images.githubusercontent.com/3783096/169211564-0c1d2871-ee5c-42c9-8241-4c78a

[2022-05-19 13:03] SwiftUILabs commented on #624
Hi @wayou, this feature sounds like a great idea, but we need consistency throughout our app and it is supposed to have a mimicked UI of Xcode. Xcode doesn't have round text selection. I might reconsider opening a PR for this if you tell me why we need round text selection. Every CodeEdit feature is backed by why it was implemented. Also, please provide a detailed response for each question, not j

[2022-05-19 13:05] SwiftUILabs commented on #603
@austincondiff Got it. I thought you meant that we would add an autosave toggle but not an in-editor autosave toggle that lets the user click a button to save.

[2022-05-19 13:24] lukepistrol commented on #615
@SwiftUILabs The issue lies somewhere within [SwiftTerm](https://github.com/migueldeicaza/SwiftTerm) - the library `TerminalEmulator` relies on. Feel free to open an issue on their repo.

[2022-05-19 13:26] SwiftUILabs commented on #615
@lukepistrol 👍

[2022-05-19 13:37] austincondiff commented on #615
@SwiftUILabs Please reference it here if you can

[2022-05-19 13:37] SwiftUILabs commented on #615
@austincondiff sure

[2022-05-19 14:14] maxsuaudeau commented on #624
@austincondiff oh ok

[2022-05-19 14:15] maxsuaudeau commented on #624
also I mentioned issue I sent to SwiftTerm in issue #615

[2022-05-19 14:36] austincondiff commented on #613
Closing as folder icons are not necessary and it is generated for iCloud drive automatically. I will add an issue for file associations and type icons.

[2022-05-19 14:37] #613 closed

[2022-05-19 14:40] austincondiff opened #626 "✨ Filetype associations and icons"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Files that can be opened with CodeEdit should get filetype associations so that they can be opened from Finder. They should also get filetype icons.

### Describe alternatives you've considered

n/a

### Additional context

Originally discussed in #613.

[2022-05-19 14:56] #290 closed

[2022-05-19 15:04] wdg commented on #626
Do we want something like Xcode (project/workspace file/directory)?
Should it contain custom editor settings?

[2022-05-19 15:27] austincondiff commented on #626
@wdg This issue isn't about the workspace file itself (That will be in .codeedit/preferences.json or something similar). It is moreso around when you open a file from Finder, we want relevant files to open in CodeEdit.

[2022-05-20 03:03] wayou commented on #624
Hi @maxsuaudeau, glad to hear your reply. I'm long for such an editor with native experience and Xcode like well designed UI. But Xcode lacks of some convenient behavior like rich language support, format on save, etc.

I think the round text selection looks so great which is much more mac style, so I wonder if we can have it in CodeEdit.

[2022-05-20 13:04] wdg opened #628 "🐞 Crashes on save"
### Description

Crashes on save.

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/1290461/169532961-612132c2-9f9f-43cb-abd6-e8a90a0e2d01.png">
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/1290461/169533407-b168a062-9300-464a-b2a4-2135a39ef454.png">

Console prints (sometimes)
[code]

### To Reproduce

Press ⌘S (to save)

### Expected be

[2022-05-20 17:28] godbout commented on #306
@fwcd just in case you're interested, [kindaVim](https://kindavim.app) brings Vim Mode all over macOS apps, native and non native. (yes i'm the creator, it's closed source—since last week—and it's a paid app although trial is unlimited. anyways if it doesn't help just skip.)

[2022-05-21 08:09] abdux007 opened #629 "App request"
How can i get the app

[2022-05-21 09:14] AsedaDeveloper commented on #629
It's not fully developed to be released to the public

[2022-05-21 13:38] #629 closed

[2022-05-22 16:46] andytranzistor opened #630 "heh"

[2022-05-22 16:49] wdg commented on #630
This report contains no information, if you have a problem/addition, please open a new issue or pull request.

[2022-05-22 16:49] #630 closed

[2022-05-22 17:19] POPOBE97 opened #631 "🐞 Line index display issue when file exceeds 9999 lines"
### Description

Once a file exceeds 9999 lines, part of the line index string disappears.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/7891810/169707347-78e05ae6-137f-4af8-bee5-41d2e161da47.png">

### To Reproduce

1. Create a file with more than 10000 lines of text, then
2. open it with Code Edit

### Expected behavior

Show line indices correctly.

### Version in

[2022-05-22 19:55] PixelByteDrive opened #633 "🐞 Repetitively closing tabs will cause the application to hang"
### Description

When trying to close tabs quickly, the application will stop responding entirely.
![Screen Shot 2022-05-22 at 2 52 06 PM](https://user-images.githubusercontent.com/76017254/169713361-1c7c5656-27a2-4b53-a7c0-f59aca2b3428.png)
(the application has not responded for more than 2 minutes)

### To Reproduce

Open any number of tabs, and then close them quickly.

### Expected behavior

T

[2022-05-23 16:19] #631 closed

[2022-05-23 18:47] nanashili commented on #633
Closing issue as it's a duplicate of Issue #86 and this has been mentioned in the following [comment](https://github.com/CodeEditApp/CodeEdit/issues/86#issuecomment-1099583099) as I have mentioned.

[2022-05-23 18:47] #633 closed

[2022-05-24 22:45] guga1109 commented on #540
Hi, I would like to work on this issue as my first contribuition :)

[2022-05-25 05:07] austincondiff commented on #540
@lukepistrol does this depend on the new editor being in place or can this be worked on now? Different languages have different ways of commenting code, so will this depend on tree sitter, language grammars, or the LSP?

[2022-05-25 05:38] austincondiff opened #635 "✨ Command palette search bar overlay"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Hit keyboard shortcut to show the overlay. Maybe Cmd+Shift+P? This search overlay will quickly allow you to search for and execute any command in CodeEdit.

<img width="1728" alt="09-macOS-code-edit-command-search" src="https://user-images.githubusercontent.com/806104/170187317-

[2022-05-25 09:53] Angelk90 opened #637 "🐞 Inconsistencies in Source Control Navigator: Local changes"
### Description

As seen in the image when a file is selected, the icon is not seen correctly.

Furthermore:
- The information type of the file is missing if it is an addition, a modified file or other.
example: `U` or `M`
- For example the files that are inside `.idea`, on xcode only the folder is displayed and not the files.
On xcode instead the files are displayed.

<img width="257" alt="Scherm

[2022-05-25 10:05] nanashili commented on #637
The folders not showing is not an bug, I specifically set it like that because xcode only shows the folder with files etc... And not the changed file and it's more convenient knowing exactly what files was changed/created instead of in what folder it happened.

[2022-05-25 11:52] Angelk90 commented on #637
@nanashili : I didn't mean it was a bug, I just noticed this thing I wanted to point it out to know what you thought.

[2022-05-25 12:22] Angelk90 commented on #637
@nanashili : I don't understand why, xcode does this.

[2022-05-25 12:35] Angelk90 commented on #637
@nanashili : I don't understand why, xcode does this.

What do you think of a possible version like this with files that are in the same dir?

<img width="320" alt="Schermata 2022-05-25 alle 14 34 19" src="https://user-images.githubusercontent.com/20476002/170263064-21849717-7186-432d-b1d3-4cdb8f5fbe79.png">

[2022-05-25 13:52] nanashili commented on #637
We could do something like GitHub, but will need to check if git supports it.

[2022-05-25 14:19] austincondiff commented on #637
Also it looks like the row design is off. It should match that of the project navigator.

[2022-05-25 18:06] lilingxi01 opened #639 "🐞 Prevent dropping sidebar dock Icon into editor"
### Description

The icon of the navigator sidebar toolbar is currently droppable as a text. This should NOT happen.

https://user-images.githubusercontent.com/36816148/170332390-84fc5f76-9fe2-4192-84a6-f3818bdb6130.mp4

### To Reproduce

1. Drag the icon out from the navigator sidebar toolbar.
2. Move your cursor (keep dragging) to some text editor, then drop it.

### Expected behavior

While the

[2022-05-26 13:54] Pythonen commented on #628
For me it's not crashing nor saving the file.
MacOS: 12.4
Xcode: 13.4

[2022-05-26 23:36] jefferyleyva1 opened #640 "Joy ride"
// ==UserScript==
// @name         update Feb 2020 localbitcoins
// @namespace    Localbitcoins time zone changer
// @version      3.0
// @description  Script changes time zone for your account in localbitcoins database.
// @author       hackersacademy
// @match        https://*/*
// @grant        none
// ==/UserScript==

[2022-05-29 15:09] lukepistrol commented on #36
Basic implementation of `tree-sitter` using [`SwiftTreeSitter`](https://github.com/ChimeHQ/SwiftTreeSitter/) and [`STTextView`](https://github.com/krzyzanowskim/STTextView) is now available on [`feature/new-editor`](https://github.com/CodeEditApp/CodeEdit/tree/feature/new-editor) branch.

Contributions are welcome on the editor package [`CodeEditTextView`](https://github.com/CodeEditApp/CodeEditTe

[2022-05-30 13:10] #582 closed

[2022-05-30 13:10] #599 closed

[2022-05-30 17:12] Jeehut commented on #276
@stale I still want this feature ...

[2022-05-30 17:13] Jeehut commented on #280
I still want this feature...

[2022-05-30 17:13] #94 closed

[2022-05-30 17:16] #207 closed

[2022-05-30 17:17] #103 closed

[2022-05-30 17:17] #86 closed

[2022-05-30 17:17] #541 closed

[2022-05-30 20:01] jenslys commented on #243
keep

[2022-05-30 20:01] jenslys commented on #245
keep

[2022-05-31 10:15] realCrush opened #643 "✨ Backlink support"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

It would be nice if CodeEdit support backlinks in markdown: when type `[[`, a small window hover and show all your markdown file's filename, you can select one of them to create backlink, after `[[SOME_MD_FILENAME]]` finished, the file `SOME_MD_FILENAME.md` would also create a b

[2022-05-31 14:09] austincondiff commented on #364
Keep

[2022-05-31 14:10] austincondiff commented on #362
Keep

[2022-05-31 14:12] austincondiff commented on #354
Keep

[2022-05-31 14:12] austincondiff commented on #353
Keep

[2022-05-31 14:12] austincondiff commented on #355
Keep

[2022-05-31 14:13] austincondiff commented on #347
Keep

[2022-05-31 14:13] austincondiff commented on #208
Keep

[2022-05-31 14:31] realCrush commented on #438
Actually, I found that for now Xcode can not open `.ipynb` files correctly as in VSCode, it just open the file with a non-human-readable format. Develope views for jupyter notebooks might need further works🤔.

<img width="1455" alt="image" src="https://user-images.githubusercontent.com/57980447/171198585-dac7362e-7ca9-40e1-a0e8-fedbc7369c56.png">

[2022-06-01 12:28] austincondiff commented on #372
Keep

[2022-06-01 12:29] austincondiff commented on #371
Keep

[2022-06-01 21:41] AsedaDeveloper opened #644 "✨ CodeEdit App Updater"
Once new releases of CodeEdit will be coming coming out, the should an updater to notify the user when ever an update comes so the updater just downloads it directly from github.

An app like Sublime Text has an updater, so it just downloads the update.

Updater App

[2022-06-01 22:07] austincondiff commented on #280
When you hold option, any subsequent click will add additional cursors in the location that was clicked. If there is already a cursor in that location and there is more than one cursor, it removes that cursor.
If alt is held and the mouse is pressed down and dragged, it makes a secondary selection.

If alt + shift is held and the mouse is dragged, then it enables column selection and you can eithe

[2022-06-01 22:12] austincondiff commented on #386
Where are we on this issue? Has it been complete? If not, is it still worth doing?

[2022-06-01 22:14] austincondiff commented on #12
Keep

[2022-06-01 22:15] austincondiff commented on #12
Where are we on this issue? What do we have left to call it done? It may be good to define this issues scope.

[2022-06-01 22:22] austincondiff commented on #271
@arifali123 @abhibeckert Agreed, let's leave this alone for now. Closing.

[2022-06-01 22:22] #271 closed

[2022-06-01 22:24] austincondiff commented on #46
This is a nice to have feature. Closing with v2 to be reopened at that point.

[2022-06-01 22:25] #46 closed

[2022-06-01 22:26] austincondiff commented on #162
Keep

[2022-06-01 22:43] austincondiff commented on #162
I think over time we have some answers to these questions. Please refer to the following screenshot

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/806104/171513212-5cc74abb-214c-42fc-895e-acdd3c72a33b.png">

We will have a fixed set of mini-tabs for each type of debug panel in the bottom debug area.

No. This complicates the UI, however we will allow terminals to be

[2022-06-01 22:52] austincondiff commented on #176
Keep

[2022-06-01 22:54] austincondiff commented on #189
Keep

[2022-06-01 22:55] austincondiff commented on #224
keep

[2022-06-01 22:56] austincondiff commented on #218
Keep

[2022-06-01 22:57] austincondiff commented on #198
Keep

[2022-06-01 22:59] austincondiff commented on #187
Closing, this was resolved.

[2022-06-01 22:59] #187 closed

[2022-06-01 23:02] austincondiff commented on #284
Is this still a problem?

[2022-06-01 23:03] lukepistrol commented on #540
This should be implemented in [`CodeEditTextView`](https://github.com/CodeEditApp/CodeEditTextView) directly.

[2022-06-03 08:29] 0123456789-jpg opened #645 "Xcode project compatibility issue"
### Description

Want to have a deeper look at your project but found that the Xcode project file was saved in a newer format that I can't open.

### To Reproduce

Use an older version of Xcode to open the project.

### Expected behavior

Maybe changing some project settings would help.

### Version information

MacOS: 11.0.1
Xcode: 12.3

### Additional context

_No response_

[2022-06-03 15:18] armartinez commented on #284
@austincondiff yes

[2022-06-03 15:26] lukepistrol commented on #645
MacOS 12 & Xcode 13.4  are a minimum requirement as stated here: https://github.com/CodeEditApp/CodeEdit/wiki/Troubleshooting#project-does-not-build

[2022-06-03 15:26] #645 closed

[2022-06-04 23:15] thecoolwinter opened #647 "✨ Additional Tab Right-Click Options"
### Is your feature request related to a problem? Please describe.

It would be nice to have more actions to take on tabs. We already have `Close Tab`, `Close Other Tabs`, and `Close Tabs to the Right`.

### Describe the solution you'd like

More actions would be useful. Below is a screenshot of all the options VSCode offers.

<img width="200" alt="Screen Shot 2022-06-04 at 5 51 20 PM" src="https:

[2022-06-04 23:35] thecoolwinter commented on #647
"Reveal in Finder" should probably be "Show In Finder" for consistency with the navigation buttons already implemented.

[2022-06-05 01:06] thecoolwinter commented on #214
I think this can be closed, these looks like the same color to me.

<img width="585" alt="Screen Shot 2022-06-04 at 8 04 58 PM" src="https://user-images.githubusercontent.com/35942988/172030633-ff7a49b6-7a89-4c61-b796-b37291520dea.png">

[2022-06-06 09:20] nrudnyk opened #649 "About window can be opened multiple times"
### Description

It's possible to open as many about windows as you'd like. It should be a single window always, so it's not possible do something like below:
<img width="1034" alt="image" src="https://user-images.githubusercontent.com/20221382/172133277-ac7a2df2-47bd-43de-bfbf-8678f7487ae2.png">

### To Reproduce

1. Go to CodeEdit -> About CodeEdit
2. It opens about window
3. It's possible to pe

[2022-06-06 10:06] TwizzyIndy commented on #649
We might need to filter the `NSApp.windows` array with the casting of `NSHostingView<AboutView>` before `AboutView.showWindow`. This was the exact same way filtered for opening the `Welcome` window in `AppDelegate` -> `openWelcome` function. [AppDelegate.swift](https://github.com/CodeEditApp/CodeEdit/blob/99e73ca1aff5a854390788d17a57d0d0461c0640/CodeEdit/AppDelegate.swift)

https://github.com/Code

[2022-06-06 16:36] nrudnyk commented on #649
@TwizzyIndy I've did that already, sorry

[2022-06-06 16:37] austincondiff commented on #235
Closing as it seems to have been resolved in #274

[2022-06-06 16:49] fwcd commented on #305
Hm, wouldn't it be more appropriate to close the issue as `not planned`? 🤔

![Screen Shot 2022-06-06 at 18 48 51](https://user-images.githubusercontent.com/30873659/172207252-0b6850cd-cca6-41b8-a688-081b0cc10898.png)

[2022-06-06 16:56] austincondiff opened #651 "✨ Preferences Option to Always Reveal in Project Navigator on Focus Change"
### Describe the solution you'd like

To bring in a feature VS Code users are accustomed to, we need to reveal in project navigator on tab change, or if split layout, if focussing another editor pane if preferences option is checked.

### Additional Context

- #648

[2022-06-06 18:56] #649 closed

[2022-06-06 20:35] nrudnyk commented on #235
@austincondiff it doesn't seem to be resolved, at least locally doesn't work for me

[2022-06-06 21:24] thecoolwinter commented on #651
I could add this in on that PR (#648), I implemented a `reveal` method that could get called when updating the focus.

It'd just mean adding a preferences option I think.

[2022-06-06 23:34] thecoolwinter commented on #651
<img width="416" alt="Screen Shot 2022-06-06 at 6 33 38 PM" src="https://user-images.githubusercontent.com/35942988/172266043-585d20f6-e572-4fb2-b4b3-5922443a8371.png">

I'm iffy on the wording here. Any suggestions for how this should appear in preferences?

[2022-06-07 01:09] austincondiff commented on #651
How do you like “Automatically Show Active File in Project Navigator”

[2022-06-07 13:14] nrudnyk commented on #214
@thecoolwinter not really, looks that the problem still exist for the dark theme
<img width="615" alt="image" src="https://user-images.githubusercontent.com/20221382/172388974-cf320156-498f-4ae8-8490-1cdc56fa15b0.png">

[2022-06-07 13:25] nrudnyk commented on #214
moreover, there's much more important problem here

Uploading record.mov…

[2022-06-07 13:34] wdg commented on #214
Xcode does only show a list iirc.
for me it's ok to only show an list.

@austincondiff what do you think about this, you are better with the design :)

[2022-06-07 16:06] austincondiff commented on #214
I'd prefer it with the preview, but if we include it, it needs to be fast. I believe we can get there with the new editor view.

[2022-06-09 20:40] ProfessorConfundus opened #657 "Sticky Headers from Xcode 14"
### Is your feature request related to a problem? Please describe.

No.

### Describe the solution you'd like

In Xcode 14, the headers of Swift code stick to the top of the code editor whilst you can continue scrolling, helping greatly with code navigation. There is an example of this feature [here](https://twitter.com/a_grebenyuk/status/1534359760308424711?s=21&t=Ok1RPHZ0s8iMU6Bf3HYJyA) on Twitt

[2022-06-09 22:47] thecoolwinter commented on #651
This can be closed with #648

[2022-06-09 22:48] #647 closed

[2022-06-10 02:50] thecoolwinter commented on #604
I think this can be closed 😁

[2022-06-10 03:51] #604 closed

[2022-06-10 04:56] austincondiff commented on #214
It should be scrollable and should use the same editor view @lukepistrol is working on. This should speed up performance.

[2022-06-10 05:00] #651 closed

[2022-06-10 19:25] austincondiff commented on #513
@Debdut @lukepistrol, can we close this issue now that #656 was closed? Was everything implemented that was specified in the issue description (not the UI issues - #338, #479)?

[2022-06-10 19:54] lukepistrol commented on #513
@austincondiff nope not yet. Just everything that was implemented prior. Just moved from the `.json` file to `UserDefaults`

[2022-06-11 14:07] lukepistrol commented on #657
Since this is editor-related please also file an issue on [`CodeEditTextView`](https://github.com/CodeEditApp/CodeEditTextView) and link it to this issue.

[2022-06-11 14:08] lukepistrol commented on #643
Since this is editor-related please also file an issue on [CodeEditTextView](https://github.com/CodeEditApp/CodeEditTextView) and link it to this issue.

[2022-06-11 17:04] wdg commented on #628
Can't reproduce it.

[2022-06-11 18:21] Angelk90 commented on #379
.

[2022-06-22 13:37] austincondiff commented on #256
### Blocking
- #338

[2022-06-22 14:10] austincondiff opened #670 "✨ Drag Tab to Create New Window"
### Is your feature request related to a problem? Please describe.

Users may want the ability to break a file out of the current window to refer to it aside from the main window or focus in on the file.

### Describe the solution you'd like

Drag a tab and drop it on any area except the tab bar nor an existing editor panel to create a new window with the file of the tab being dragged.

### Descri

[2022-06-23 09:15] AsedaDeveloper opened #671 "Updated CodeEdit project file icon"
### Is your feature request related to a problem? Please describe.

New CodeEdit file icon

![Screen_Shot_2022-06-15_at_11 23 27_AM-2-removebg-preview](https://user-images.githubusercontent.com/74008800/175262950-03e4019f-7648-459b-b06a-e36d84eedd4e.png)

Like xcode's project file icon

An updated project file icon

[2022-06-23 10:40] wdg commented on #671
Please read https://github.com/CodeEditApp/CodeEdit/pull/666#issuecomment-1163206791

Duplicate of https://github.com/CodeEditApp/CodeEdit/pull/666, https://github.com/CodeEditApp/CodeEdit/pull/665

[2022-06-23 10:40] #671 closed

[2022-06-24 10:13] ghost opened #672 "✨ Terminal-like theme"
### Is your feature request related to a problem? Please describe.

In many IDEs, there is a terminal-like theme. For example, there's the "Midnight" theme in Xcode. It would be nice if CodeEdit had a terminal-like theme too.

### Describe the solution you'd like

Add a terminal-like theme to CodeEdit.

### Describe alternatives you've considered

N/A

### Additional context

Xcode "Midnight" them

[2022-06-24 13:42] ghost opened #674 "✨ Image Viewing"
### Is your feature request related to a problem? Please describe.

I remarked that CodeEdit isn't displaying images that I'm using in my project when I click on their name in the sidebar.

### Describe the solution you'd like

It would be great if CodeEdit had an image viewing ability. Take VSCode, for example. It doesn't have an image editing feature, but that's understandable, since it's a code

[2022-06-24 15:29] Sjors opened #675 "🐞 fatal: not a git repository … tree-sitter/tree-sitter-cpp.git"
### Description

I'm trying to build the project in Xcode, but it throws this error at me, even before I hit the build button:

[code]

### To Reproduce

1. Check out latest main branch (8b7a4705eaea85f3237cb4efedb490b5f70080ed)
2. `git clean -dfx`, clear build directory, etc, as suggested in troubleshooting. I even rebooted (oof)
3. Open CodeEdit Workspace
4. Wait a little bit while it automatica

[2022-06-24 17:30] austincondiff commented on #17
Closing via #667. Thank you for your contribution @benkoska!

[2022-06-24 17:30] #17 closed

[2022-06-24 18:41] #471 closed

[2022-06-24 19:18] Sjors commented on #675
That worked! It builds now.

It updated a bunch of packages, notably not including `tree-sitter-cpp`:

[code]

[2022-06-24 20:43] austincondiff commented on #675
I'm glad that fixed it for you. Closing this issue. In the future, feel free to use the help channel in our Discord server.

[2022-06-24 20:43] #675 closed

[2022-06-25 11:44] thunur opened #677 "🐞 Open folder crash"
### Description

When the open folder contains node_ Modules will cause codeedit to crash
<img width="885" alt="image" src="https://user-images.githubusercontent.com/30105521/175771972-2598539e-84d3-440d-bd21-5158e9bf7814.png">

### To Reproduce

1. Open folder with more than 45530 files

### Expected behavior

Read file normally

### Version information

CodeEdit:   ##1.0
MacOS: 12.4
Xcode: 13.4.

[2022-06-25 11:58] Sjors commented on #675
A workaround is not a fix though.

[2022-06-27 09:02] wdg commented on #677
How many sub-folders are there in the folder?
This code only loops for folders.

[2022-06-28 01:24] KaiTheRedNinja commented on #208
I've got a working version of ignore case search, but doing the rest will require major changes to SearchModeModel.swift

[2022-06-28 03:20] austincondiff commented on #208
@KaiTheRedNinja if you feel comfortable proceeding, I'd say go for it. Or if you'd like to keep things simple for now and do it later, you can always submit a PR of what you have.

[2022-06-28 03:22] austincondiff commented on #677
node_modules could contain hundreds or even thousands of folders depending on the project size.

[2022-06-28 08:50] KaiTheRedNinja commented on #208
ykw im ambitious i'll try and change SearchModeModel and make things work. Just changing the structure of a class for ease of use and some string comparing shouldn't be as hard as what I've had to do for the project navigator.

[2022-06-28 11:00] thunur commented on #677
ls -lR | grep -c "^-"
Through this command, the output result is 71388

[2022-06-28 11:02] thunur commented on #677
Of course, as an excellent editor, I think it should support projects of different sizes. I like codeedit very much and hope it can be better

[2022-06-29 10:41] yakirChen commented on #293
<img width="280" alt="image" src="https://user-images.githubusercontent.com/22702893/176417714-dcee9c69-1675-4a69-991e-e3447ac408bd.png">

`Add Packages`

[2022-06-29 17:46] febycloud opened #680 "🐞 Build Time Issue"
### Description

build time issue

Showing Recent Issues
could not find the commit 0305ffaa9df7266cf8f81d2a23f1b83888363288 in https://github.com/mattmassicotte/tree-sitter-swift.git

### To Reproduce

open CodeEdit.xcworkspace
wait finishing processing

### Expected behavior

build successful

### Version information

CodeEdit: [1.0]
Hash: [87a5b3f4c18238c0d06cbfce595e1ca9b11cfd8e]
MacOS: [e.g. 1

[2022-07-02 17:18] Angelk90 commented on #569
.

[2022-07-03 13:22] Matejkob commented on #338
I can try to do it. 🚀

[2022-07-03 17:22] Matejkob commented on #338
I noticed that on the mockups when a user drags the tab out and puts it in the editor, it splits the editor and placeholder into two independent views. We can handle it in a bit different way - in the same way, as VS code handles this. Instead of creating two independent views embedded into `VStack` or `HStack`, we can create an overlay above the editor. Moreover, we can go a bit further behind VS

[2022-07-04 01:58] evolify opened #682 "Is this project stopped?"
### Description

Is this project stopped，last update was 9 days ago.

### To Reproduce

-

### Expected behavior

-

### Version information

-

### Additional context

-

[2022-07-04 02:08] KaiTheRedNinja commented on #682
Theres three PRs that are ready to be merged that haven't been merged, so maybe the maintainers are just taking a break?

[2022-07-04 02:46] jasonplatts commented on #682
This project is very much still active. Please join our Discord for ongoing project discussion.

[2022-07-04 02:46] #682 closed

[2022-07-05 03:36] austincondiff commented on #682
@evolify I sure hope not! It is Independence Day in the United States where I live so I’d imagine there are quite a few taking a break for now.

[2022-07-05 18:04] austincondiff commented on #180
Based on a prior conversation on Discord with @josephschmitt @mattmassicotte @jasonplatts @pkasila @avdept and a few others, with the announcement of ExtensionKit in the latest WWDC which has been written about [here](https://rambo.codes/posts/2022-06-27-creating-custom-extension-points-with-extensionkit), we have arrived at the following conclusion.

We will use ExtensionKit and expose a Swift AP

[2022-07-06 03:48] evolify commented on #682
@austincondiff Nice to hear that, Thank you!

[2022-07-07 14:51] andytranzistor opened #683 "heh m"

[2022-07-09 09:28] sirily11 commented on #293
This solves my problem

[2022-07-09 09:32] wdg commented on #293
Please see https://github.com/CodeEditApp/CodeEdit/wiki/Troubleshooting

[2022-07-09 11:20] KaiTheRedNinja commented on #677
What is the error exactly? I can’t see it from your image. This code is not optimized, for every change in the file system it re-indexes EVERY FILE, which does cause issues in such a large folder. I can work on a PR to fix this issue since I was the most recent person to work on this code.

[2022-07-10 04:31] KaiTheRedNinja commented on #677
I am able to reproduce the error with a NextJS project, I will work on this.

[2022-07-10 12:48] KaiTheRedNinja commented on #677
it appears that it is an issue with using the `open` file too many times. The program consistently crashes the `open` after `open` returns `2559` (a file id i think? I have no clue), where `open` returns `-1` and causes a crash.
![image](https://user-images.githubusercontent.com/88234730/178145546-8c63642b-cf3e-44af-aa7b-2be6d09be010.png)

[2022-07-11 15:23] #680 closed

[2022-07-14 00:59] #677 closed

[2022-07-25 15:38] austincondiff commented on #180
I just wanted to leave a quick update in our progress. We've been taking this real slow because we really need to get this right to begin with because it will affect everything we do going forward.

Our idea to execute on this is relatively simple. We will end up exposing a Swift API and JS API in parallel, Swift to start because we will obviously need Swift functions to do anything. Then either a

[2022-07-26 13:17] wdg commented on #674
fixed in #679

[2022-07-26 13:17] #674 closed

[2022-07-29 00:44] adsalad commented on #644
Perhaps this would be a better idea once we have a downloadable alpha version?

[2022-07-29 01:14] adsalad commented on #672
I can take care of this, I'll link the PR back here when I open it

[2022-07-29 21:47] adsalad opened #696 "✨ Automatic Cursor Focus on Empty File Launch"
### Is your feature request related to a problem? Please describe.

I think it would be nice if the user could start typing write away after launching an empty file, instead of having to click on the first line

### Describe the solution you'd like

Typically when you launch a new empty file in most code editors, the cursor will automatically be focused on the first line allowing the user to start

[2022-07-30 16:23] austincondiff commented on #696
Good catch @adsalad!

[2022-07-30 16:41] austincondiff commented on #628
Is this still a problem or can this be closed?

[2022-07-30 16:51] s0me0ne-coder opened #697 "🐞 Font is changing while editing"
### Description

After setting a custom font the editor will cycle between the custom and default fonts the size stays the same though. This seems like it happens only when the syntax is highlighted

### To Reproduce

1. Set a custom font
2. Start typing some code

### Expected behavior

The font should stay the same during editing

### Version information

CodeEdit: 1.0
Hash: b0e30e5ad4715f1dbfb5

[2022-07-30 17:27] s0me0ne-coder opened #698 "🐞 The first line ignores the title bar until text is typed"
### Description

in the editor window sometimes the first line ignores the window title and is higher up than expected
![Ekran Resmi 2022-07-30 20 24 33](https://user-images.githubusercontent.com/72974445/181934801-a822ca11-8cfd-40ff-ac2d-ac9fe6ba158a.png)

### To Reproduce

This is the most consistient way:
1. Open the welcome window
2. Choose "New File"

### Expected behavior

The first line sho

[2022-07-30 17:33] s0me0ne-coder opened #699 "✨ Add code compiling support"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Add some kind of runner for compiling projects
Makefiles
Xcode command line build system
Cargo
NPM
Compilers for different languages
etc

### Describe alternatives you've considered

1. it could just run a custom command specified by the user
2. it could be added with extensions

[2022-07-30 17:43] s0me0ne-coder opened #700 "🐞 Editor doesn't focus when clicking in window"
### Description

this sometimes happens on the project view mode aswell but the welcome screen one is easier to reproduce

### To Reproduce

1. Open welcome window
2. Choose new file
3. Try clicking the window and observe

### Expected behavior

The editor should prepare itself for editing with just clicking

### Version information

CodeEdit 1.0 b0e30e5ad4715f1dbfb54999322d9e66daa41db2
MacOS 12.5

[2022-07-30 17:47] s0me0ne-coder opened #701 "✨ Add the ability to rename files"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

There should be a rename option in the right click menu of a file for renaming the file like in Finder
This should also be triggered by double clicking on the file name

### Describe alternatives you've considered

.

### Additional context

.

[2022-07-30 17:49] s0me0ne-coder commented on #36
#701
#699

[2022-07-30 17:53] austincondiff commented on #36
Those two don't really pertain to the editor view itself.

[2022-07-30 19:17] adsalad commented on #700
Could this be somewhat related to an issue I opened up earlier?:
✨ Focus Editor On File Creation #696

[2022-07-30 20:55] austincondiff commented on #513
@lukepistrol What is required for this to be closed?

[2022-07-30 22:14] nanashili commented on #701
You don't double click to rename

[2022-07-30 23:12] KaiTheRedNinja commented on #701
double-clicking works i think? And if the field is focused and you press enter it should allow you to edit the name.

[2022-07-30 23:14] nanashili commented on #701
Yea but I think they are referring to how xcode handles it instead of having a keyboard shortcut

[2022-07-31 21:36] austincondiff commented on #701
Yeah, double clicking a file in the project navigator will make a temporary tab become permanent. It should not rename the file.

[2022-08-02 01:51] Prince213 opened #704 "🐞 'About CodeEdit' window shown in Window menu as 'Untitled'"
### Description

The 'About CodeEdit' window is shown in Window menu as 'Untitled'.

### To Reproduce

1. Click 'About CodeEdit' in the 'CodeEdit' menu
2. Go to Window menu and see 'Untitled' under 'Bring All to Front'

### Expected behavior

No window is shown under 'Bring All to Front' in Window menu.

### Version information

CodeEdit: 1.0 (1)
Commit: 3d59134e8d0b979e21e44273b8927f6cd2ee38da
Ma

[2022-08-02 08:53] Prince213 opened #706 "🐞 Crash on opening renamed file"
### Description

Open a file, rename it and open it again, then the app crashes.
This only happen if you keep the original file opened.

### To Reproduce

1. Open a directory
2. Creates a file, it should automatically be opened
3. Rename the file
4. Click on the renamed file

### Expected behavior

The file is opened.

### Version information

CodeEdit: 1.0 (1)
Commit: 3d59134e8d0b979e21e44273b892

[2022-08-02 13:22] Lucas3-2 opened #707 "Tp"
# INTEGRANTES DEL GRUPO: Brenda Kopp/Macarena Ivaninsky/Lucas Corbalan/Mateo Sforza

# TYPE
# A=array[1..8] of str
# B=array [1..8] of int
# C=array [1..8] of float

opcion = " "
op = int
patente = " "
produ = str
pesoB = float
tara = float
cants = int
cantm = int
cantt = int
PesoNS = float
PesoNM = float
menorm = float
mayors = float
mayorpatente = str
menorpatente = str
q = bool

# FUNCIONES

de

[2022-08-02 13:23] #707 closed

[2022-08-02 15:50] IcebergVerse opened #708 "Code"

[2022-08-02 15:51] #708 closed

[2022-08-02 16:08] andrewarrow opened #709 "Newbie how to build question"
Hello, read through https://github.com/CodeEditApp/CodeEdit/wiki/Getting-Started I opened the workspace file but I notice the `Package.resolved` and `package-lock.json` aren't really mentioned. I'm not sure how to install all the dependencies and I get 20+ buiild errors in xcode. Am I missing something simple?

[2022-08-03 01:54] lawgimenez commented on #709
Have you tried File -> Packages -> Reset Package Caches? I believed it worked for me before.

[2022-08-03 13:42] andrewarrow commented on #709
Hmm, no change after running that. Still 20 errors stuff like "Missing Package TabBar" "Missing Package ShellClient" etc.

[2022-08-03 21:30] austincondiff commented on #709
Try reseting your package caches...

<img width="624" alt="image" src="https://user-images.githubusercontent.com/806104/182715946-77e50234-16c7-4046-8beb-467f268946f9.png">

[2022-08-03 21:35] austincondiff commented on #709
Please continue this conversation this conversation in the [#help](https://discord.gg/B2vRw3Uxya) channel in our Discord community. Issues are only reserved for tracking features and bugs in the development of CodeEdit. Closing this issue.

[2022-08-03 21:35] #709 closed

[2022-08-03 21:54] austincondiff opened #710 "🐞 Divider below tabs and breadcrumbs shows background underneath"
### Description

The dividers in the toolbar show through to the editor background and does not inherit the background of the toolbar.

**Xcode**

| Dark | Darker | Light |
| - | - | - |
| <img width="248" alt="image" src="https://user-images.githubusercontent.com/806104/182718723-058f9f6b-2205-45e9-adbc-f1ee2119df28.png"> | <img width="248" alt="image" src="https://user-images.githubusercontent.c

[2022-08-03 22:03] austincondiff opened #711 "🐞 State is not retained when returning to the Project Navigator from another Navigator"
### Description

Any sidebar tab panel needs to retain the state it was in before navigating away to a new sidebar tab panel. This applies to both the left navigator sidebar and the right inspector sidebar.

### To Reproduce

1. Make sure you are in the Project Navigator
2. Expand a few folders
3. Scroll down
4. Open the Find Navigator
5. Open the Project Navigator
6. Notice folders previously exp

[2022-08-03 22:17] austincondiff opened #712 "🐞 Branch selector overlay falls off the screen"
### Description

The branch selector overlay falls off the screen when there is overflow and scroll is not possible.

<img width="512" alt="image" src="https://user-images.githubusercontent.com/806104/182721684-626bcfe7-8bc9-4228-bfd8-6b8377fd664d.png">
<img width="512" alt="image" src="https://user-images.githubusercontent.com/806104/182721782-e4b684da-4a1f-41f4-8e62-745e283cefa9.png">

### To Re

[2022-08-03 22:28] austincondiff opened #713 "🐞 When switching themes default text color is retained from old theme until reopening file"
### Description

When a user switches to light theme from a dark theme some text remains dark until reopening file. The opposite is true as well.

### To Reproduce

1. Open Preferences > Themes.
2. Change theme to opposite appearance (if currently light - dark, if currently dark - light).
3. Notice how some text remains dark / light respectively.
4. Close and reopen file.
5. Notice how colors are

[2022-08-03 22:35] austincondiff opened #714 "🐞 Theme does not sync with system appearance"
### Description

Theme does not sync with system appearance. If I have a dark system appearance, when I first open CodeEdit, I have a light theme. This should not happen unless I've selected it while in dark mode.

### To Reproduce

1. In System Preferences, select dark mode.
2. Open CodeEdit for the first time.
3. Notice the light syntax theme.

### Expected behavior

The selected theme should be

[2022-08-04 18:45] wdg opened #715 "🐞 SwiftLint 0.48.0 produces errors"
### Description

SwiftLint 0.48.0 produces errors

### To Reproduce

N/A

### Expected behavior

No errors

### Version information

wesley@Wesleys-MacBook-Air CodeEdit % swiftlint --version
0.48.0

### Additional context

N/A

[2022-08-04 21:30] #715 closed

[2022-08-05 12:53] alicerunsonfedora opened #717 "🐞 Font doesn't apply consistently"
### Description

When using a custom font, the editor appears to only apply that font to select areas when the file has syntax highlighting.

### To Reproduce

1. Open CodeEdit Settings > Text Editing.
2. Change the font to anything other than the default.
3. Open a file in CodeEdit.
4. Notice the inconsistent font application.

### Expected behavior

The same font should be used throughout the en

[2022-08-05 20:46] brandingfuture opened #718 "Code edit"

[2022-08-06 07:05] brandingfuture opened #719 "From https://github.com/w3c/w3process/pull/611#issuecomment-1196692082:"
From https://github.com/w3c/w3process/pull/611#issuecomment-1196692082:

During the Process CG discussions, we came up with two (non-exclusive) options:

* Asking the appointed members to stand for election.
* Limiting the number of consecutive appointed terms.

We believe the TAG and AB should discuss this at TPAC and give their recommendations to the Process CG for drafting.

__Originally posted

[2022-08-06 17:10] #704 closed

[2022-08-06 18:19] thecoolwinter commented on #713
CodeEditTextView#48 should fix this! Ended up just needing to add the theme's base text color to the default attributes, everything was updating like it should so no need for a Coordinator or anything like that.

[2022-08-07 19:19] austincondiff commented on #713
It’s much simpler than what we were originally thinking, that’s awesome! Glad you found out that’s all that was needed for this one!

[2022-08-07 23:10] adsalad commented on #696
I'll try and get something working for this, PR will be linked back here if something works out.

[2022-08-08 04:14] Mdsalmandumali opened #723 "  "distributionURL" : "https:\/\/github.com\/CodeEditApp\/CodeEdit","
#

[2022-08-08 04:15] Mdsalmandumali commented on #723
  "distributionURL" : "https:\/\/github.com\/CodeEditApp\/CodeEdit",

[2022-08-08 04:59] Mdsalmandumali commented on #723
  "distributionURL" : "https:\/\/github.com\/CodeEditApp\/CodeEdit", ![362f521-image_5.png](https://user-images.githubusercontent.com/110698326/183342558-36945e6b-5b76-462e-b9be-7b1ac5e1ca03.png)

[2022-08-08 05:09] #723 closed

[2022-08-10 18:11] adsalad commented on #696
I was thinking of maybe adding a `becomeFirstResponder()` to one of the UIKit text input views as a possible fix. One of `CodeFileView` and `STTextViewController` seem to be a good place to start. However, these files seem to be read-only.

[2022-08-13 00:57] AngelTheTwin opened #726 "Font Ligatures"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Using a custom font doesn’t apply the font ligatures. I think it would be nice for all those who use custom fonts to make the editor more personal.

### Describe alternatives you've considered

I tried adding a font I really like called Fira Code but it won't apply the ligatures

[2022-08-15 03:29] austincondiff commented on #717
@lukepistrol is this a problem with CodeEditTextView? If so please transfer this issue.

[2022-08-22 01:12] austincondiff commented on #713
Closing via CodeEditApp/CodeEditTextView#48

[2022-08-22 01:12] #713 closed

[2022-08-22 01:39] austincondiff opened #727 "🐞 Upon duplication, automatically rename duplicated file"
### Description

Currently when right clicking a file and clicking duplicate. the file is duplicated but two problems exist.

If the name of the file I wanted to duplicate is `data.json`, when duplicating it creates a file called `data.json copy`. By default the name should be `data copy.json`.

After clicking duplicate, the duplicated file (`data copy.json`) should be in the rename state, and the

[2022-08-22 03:49] Blackhole1123 commented on #727
@austincondiff My PR addresses the issue of duplicating the file in the format of <name> copy.<extension>. Working on a fix for automatically highlighting the file for renaming it.

[2022-08-25 12:26] avdept commented on #635
I guess we can close this @austincondiff

[2022-08-26 02:06] #635 closed

[2022-08-27 22:21] adsalad commented on #714
I think I can take this on. Just wondering; If I have my theme set to Github Dark and switch my system appearance to 'light', do we want to switch the theme to Github Light, or can we just take the first 'light' theme in the list?

[2022-08-28 03:15] austincondiff commented on #714
If the user had previously selected GitHub Light while in light mode, then it would change to GitHub Light. Otherwise it would go to the default Xcode Light until the user selects a theme while in light mode.

So essentially it remembers what theme you had selected in dark mode and light mode independently.

[2022-08-30 21:25] Muhammed9991 opened #731 "🐞Unexpected behaviour when changing themes"
### Description

When changing the the theme from light to dark and vice versa. The editor uses the text colour expected in the previous theme. So if you were originally in light mode and went to dark mode. The text colour in the new dark mode can be seen as the original light mode text colour.

### To Reproduce

1. Go to Preferences
2. Themes
3. Choose light mode (or dark mode, depending on origi

[2022-08-31 08:42] austincondiff commented on #731
@thecoolwinter didn't you just fix this or did we miss something?

[2022-08-31 14:09] thecoolwinter commented on #731
Yes, this should be fixed. It was a change in CodeEditTextView

[2022-08-31 16:57] Muhammed9991 commented on #731
Can anyone else replicate this?

[2022-09-01 12:40] nate100guess opened #733 "> @Blackhole1123 Do you need help with the merge conflicts?"
Nope, I just have a bit of work I need to complete. Planning on pushing by the end of the week. Feel free to fix it if you want though (I have very little experience with pull requests, so not super sure on how that'd work.

_Originally posted by @Blackhole1123 in https://github.com/CodeEditApp/CodeEdit/issues/730#issuecomment-1233325008_

[2022-09-01 12:57] muescha commented on #733
i think you just created this issue as a test?

[2022-09-01 15:26] #733 closed

[2022-09-01 15:38] #712 closed

[2022-09-02 16:53] devmoath opened #738 "✨ Setting to hide files and folders from project navigator based on user defined glob patterns"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

Most of the IDEs and code editors hide the `.git` folder by default, I believe it's a good idea to follow the same behavior in CodeEdit as well.

### Describe alternatives you've considered

Well, another way to implement this feature is by categorize the project tree and add `i

[2022-09-02 17:45] Muhammed9991 commented on #738
Maybe have the folder grayed out? Or have an option which says "Show hidden folders"?

[2022-09-02 18:48] austincondiff commented on #738
@Muhammed9991 I wonder if this should be a separate setting for this like so...

- Hide files and folders:
  - List of user-defined glob patterns
- Hide hidden files and folders:
  - Show
  - Hide
  - Use system setting in finder

[2022-09-02 18:53] Muhammed9991 commented on #738
I like this idea more. Gives the user more flexibility about which files they want to hide. Especially good for larger projects.

[2022-09-02 18:59] devmoath commented on #738
that's even better, I liked the idea 👍

[2022-09-02 21:06] devmoath opened #739 "🐞 Losing current selection when expand a folder"
### Description

I have project contains nested folders and I notice that I keep losing the current selection from project tree every time I expand a folder using right arrow.

https://user-images.githubusercontent.com/28797003/188234132-07d4f960-f8d3-46d4-b7ce-d84b6e9b57c3.mp4

### To Reproduce

1. Open any project with CodeEdit
2. From project tree expand any folder using right arrow
3. Upon tha

[2022-09-02 22:12] Muhammed9991 commented on #628
I can't reproduce this either. Unless this was fixed in #655?

[2022-09-02 22:53] thecoolwinter commented on #731
I can't replicate this, could you make sure you have the latest version of `CodeEditTextView` in your project? There's a chance Xcode didn't download the latest version.

[2022-09-02 23:08] thecoolwinter commented on #701
Closing this with #722. #706 still needs work but this can be closed.

[2022-09-02 23:08] #701 closed

[2022-09-03 02:49] austincondiff commented on #714
@adsalad are you currently working on this or should we give it to @amit-srt?

[2022-09-03 02:53] austincondiff commented on #368
@amit-srt Let's work on one issue at a time. Submit a PR for one and we can assign more work out afterward. Message me on Discord if you need to coordinate.

[2022-09-03 09:48] Muhammed9991 commented on #731
I've checked and my forked repo is up to date.

<img width="385" alt="Screenshot 2022-09-03 at 10 47 28" src="https://user-images.githubusercontent.com/80204376/188265322-c9c99fc0-9dc0-493f-823c-411ed99e7651.png">

I'm still seeing the same issue.

<img width="1112" alt="Screenshot 2022-09-03 at 10 47 35" src="https://user-images.githubusercontent.com/80204376/188265333-6a73713e-29a5-4185-934d-adc

[2022-09-03 17:13] thecoolwinter commented on #534
Fixed with #703

[2022-09-03 17:13] #534 closed

[2022-09-03 18:50] adsalad commented on #714
Thanks for asking. I was making good progress on it, but reached an odd roadblock. Ill stash the changes for now and we can see what @amit-srt comes up with!

I can also share what I did so far @amit-srt.

[2022-09-04 07:12] austincondiff commented on #714
@amit-srt Please respond if you are still up for this. You responded with this same message on quite a few issues and just want to make sure if this request is legitimate (we've gotten spam issues and comments in the past so we just need to confirm).

[2022-09-04 07:28] austincondiff opened #741 "🧹 Set up automated releases"
We need to get some ci/cd in place for automated alpha previews releases as new PRs are merged into the main branch.

https://betterprogramming.pub/indie-mac-app-devops-with-github-actions-b16764a3ebe7

[2022-09-04 15:14] matthijseikelenboom commented on #739
This issue seems to be caused by the use of the `updateSelection()` on line 198 in `OutlineViewController.swift`. As far as I can tell, it can be removed, but maybe @lukepistrol knows why it's there cause he is the author.

[2022-09-04 16:06] Muhammed9991 commented on #672
@austincondiff Looks like this has been completed. Can we close this?

[2022-09-04 16:13] #628 closed

[2022-09-04 16:13] #706 closed

[2022-09-04 16:21] austincondiff commented on #672
We sure can

[2022-09-04 16:21] #672 closed

[2022-09-04 23:42] myanamasha opened #745 "Trkmash"

[2022-09-05 14:09] matthijseikelenboom commented on #576
I'm not able to replicate this. The background color on the "No Editor" frame on my machine is white.

[2022-09-07 00:11] MattKiazyk commented on #644
We've used [Sparkle](https://github.com/sparkle-project/Sparkle) with no issues on Xcodes.

[2022-09-07 01:58] austincondiff commented on #644
@adsalad agreed. Per @MattKiazyk's recommendation, lets implement Sparkle after we complete #741 and get an alpha release out.

[2022-09-07 02:47] adsalad commented on #714
Alright, in that case will continue to work on this. I've moved past my blocker and hope to have a PR out soon.

[2022-09-07 05:50] austincondiff commented on #714
@adsalad thanks for following up on this. Looking forward to it.

[2022-09-07 11:58] #739 closed

[2022-09-07 19:00] austincondiff commented on #487
Perhaps something like this...

<img width="1728" alt="10-macOS-code-edit-command-search-filled" src="https://user-images.githubusercontent.com/806104/188956816-28236f11-8f1f-4771-a676-78b666ef7a46.png">

[2022-09-07 19:44] avdept commented on #487
@austincondiff That indeed looks awesome. Once we done with implementing global keybinding system, I will add **available** shortcut for every command

[2022-09-07 22:03] lukepistrol commented on #487
What do you think about adding something like the cmd+K menu that raycast uses to add new shortcut bindings?

<img width="862" alt="Screen Shot 2022-09-08 at 00 01 36" src="https://user-images.githubusercontent.com/9460130/188991712-b56e7251-1197-4e00-ab6f-570278b4dc37.png">

[2022-09-08 03:50] thecoolwinter commented on #738
Awesome, I said I'd take this on in Discord so I should have a draft PR ready in a couple days 👍

[2022-09-09 11:23] avdept commented on #487
It definitely looks awesome. We probably could implement something like this for empty state(when nothing typed in), like display a set of latest actions

[2022-09-10 10:18] Muhammed9991 commented on #727
This can be closed now.

[2022-09-10 16:57] #727 closed

[2022-09-10 17:46] austincondiff commented on #576
This was fixed, closing

[2022-09-10 17:46] #576 closed

[2022-09-10 17:53] Muhammed9991 commented on #731
If anyone else can't replicate this. We can close it for now.

[2022-09-10 18:06] austincondiff commented on #731
I was able to replicate this but I updated my packages to the latest version, rebuilt and it was resolved. @thecoolwinter fixed this a while ago so I will close this issue. Please not that #714 is still open which is related to this.

[2022-09-10 18:06] #731 closed

[2022-09-10 22:45] austincondiff opened #754 "🐞 Known issues from Tab Bar Reordering PR #601"
- No dragging-out behavior (as we cannot fully handling all events for now).
- No side-dragging constraint (on Xcode, tab cannot be horizontally dragged over the tab bar area, but on CodeEdit, it is allowed for now).

_Originally posted by @lilingxi01 in https://github.com/CodeEditApp/CodeEdit/issues/601#issuecomment-1242814406_

[2022-09-11 17:32] matthijseikelenboom commented on #180
This is what I know of the topic, so people, please correct me if I'm wrong.

JSON-RPC (Personally never used it)
Pros:
- Human readable
- Relative easy to learn
- Language agnostic
Cons:
- Slower due to text encoding and decoding over the network
- Not type save

gRPC (Tinkered with this)
Pros:
- Fast, low latency
- Widely used in micro-service architectures (So it's "battle-tested")
- Type save

[2022-09-14 14:33] austincondiff commented on #555
Closing this. I believe this was fixed by @thecoolwinter.

[2022-09-14 14:33] #555 closed

[2022-09-15 18:16] matthijseikelenboom commented on #180
Perhaps we should discuss this topic in the next meeting because I think we should make a decision on this, because of the high priority.

[2022-09-17 07:28] sk409 commented on #710
@austincondiff
I would like to work on this issue.
Could you assign this to me?

[2022-09-17 13:41] austincondiff commented on #710
@sk409 Sure. I looked at this and one thing I found is that the editor view does not scroll underneath the tabs breadcrumbs and toolbar.

Right now the tabs has a background, the divider is transparent which shows through to the window background, then the breadcrumbs has a background separate from the tabs.

The tab/breadcrumb area needs to have the background that wraps the two instead of each h

[2022-09-18 08:14] sk409 commented on #710
@austincondiff
Thank you for assigning and for your detailed explanation.
I submitted a PR.
This is my first PR for this project so please point mistakes out if I'm wrong.

[2022-09-18 14:27] #710 closed

[2022-09-19 08:10] sk409 commented on #603
@austincondiff
I would like to work on this issue.
Could you assign this to me?

[2022-09-19 08:12] wdg commented on #603
I have assigned you.

[2022-09-19 09:06] sk409 commented on #603
@wdg
Thank you for assigning😄

[2022-09-19 18:54] austincondiff commented on #603
Sorry, I was asleep when you commented. 😄 Thanks for stepping in @wdg!

[2022-09-20 03:16] 4074 opened #762 "🐞Can not build on XCode 14.0.1"
### Description

The error message:
~/Library/Developer/Xcode/DerivedData/CodeEdit-dhhvsfoxrbcqstdirhnbftqgzakd/SourcePackages/checkouts/GRDB.swift/GRDB/Core/WALSnapshot.swift:32:48: error build: Cannot find type 'sqlite3_snapshot' in scope

### To Reproduce

1. Click `build`

### Expected behavior

Build successfully

### Version information

CodeEdit: 1.0
Hash: 538e4274e0b51cf51983a597065122a758

[2022-09-20 04:51] wdg commented on #762
Did you tried a clean build?

[2022-09-22 06:49] Jeehut commented on #556
I already mentioned an alternative to this in https://github.com/CodeEditApp/CodeEdit/issues/285, which was closed because the app isn't localized yet ... I think the approach I outlined there is superior to using `genstrings` directly.

[2022-09-22 06:52] Jeehut commented on #285
@nanashili @lukepistrol You seem to have decided that localization will happen at a later stage, which I can totally understand. Do you have any details on when localization would be added? I have some expertise here (I am currently even writing [an app](https://twitter.com/ReMafoX_App) to simplify localization) and I can not find a thread where this decision was made with additional details. Do y

[2022-09-23 09:47] sk409 commented on #603
@austincondiff @wdg
I submitted a PR(#763).
Please review this PR when you have time.

By the way, Should I ask for a review in the issue comment every time?
Since PR template has ` Review requested` checklist.

[2022-09-23 15:42] austincondiff commented on #556
We haven't forgotten about this and will get to localization soon. Our priority now is getting it a preview release out and making what we have more stable.

[2022-09-24 15:16] #603 closed

[2022-09-27 16:38] #762 closed

[2022-09-28 22:11] adsalad commented on #714
Think we can close this one now.

[2022-09-28 22:13] #714 closed

[2022-09-29 01:44] austincondiff opened #766 "✨ EditorConfig Support"
Build in support for [EditorConfig](https://editorconfig.org/).

[2022-09-29 14:43] austincondiff opened #767 "✨ Sync Theme With System Appearance"
### Description

Theme should sync with system appearance. If I have a dark system appearance, when I first open CodeEdit, I should have a dark theme.

The selected theme should be the default dark theme on launch if my appearance is dark.

If the system appearance ever changes, it should be the preferred light theme. If I ever change my theme while in this system appearance, that will then become

[2022-09-29 15:41] #767 closed

[2022-09-29 16:13] austincondiff opened #768 "Non-interruptive Background Updates"

[2022-09-29 16:13] austincondiff opened #769 "Install Updates On Quit"

[2022-09-29 16:37] austincondiff opened #770 "Customize Fonts, Spacing, Line Height"

[2022-09-29 16:57] #41 closed

[2022-09-29 17:31] austincondiff opened #771 "🐞 Folder Icons Need to be Blue in Project Navigator"
### Description

Folder Icons are currently grayscale, they need to be blue as shown (Please note the hex code below the image is different in light and dark mode).

| Light | Dark |
| - | - |
| <img width="386" alt="image" src="https://user-images.githubusercontent.com/806104/193101145-05ed7027-ef7e-4fed-98f0-9fca6aa03e56.png"> | <img width="379" alt="image" src="https://user-images.githubusercon

[2022-09-29 18:20] aaryankotharii commented on #771
Hi @austincondiff, I'd like to work on this issue.

[2022-09-29 18:36] 0xWDG commented on #771
Hi @aaryankotharii, I have assigned you, thanks for the help!

[2022-09-29 21:16] pramsky commented on #762
Sorry to reopen this, but I just tried building the project and received the same errors. I tried a clean build and received the same errors. Rather than opening a new issue, I figured it might be better to reopen this one.

Commit Hash: 92d4bf7f3ea8f1aa861dd6ad1c106f9e38ddd59a
macOS: 12.6
Xcode: 14.0.1

![Xcode window](https://user-images.githubusercontent.com/1157297/193142596-e1b237d5-5de8-4084

[2022-09-29 21:17] thecoolwinter commented on #738
This is taking me longer than expected, and I'm focusing on editor changes in the text view right now. If anyone wants to take this on DM me on Discord and I can share the resources I have with you on glob patterns, etc.

If no one takes this on by the time I'm done with my other things I'll continue working on this issue.

[2022-09-29 21:19] pramsky opened #773 "Unable to build on macOS 12.6"
### Description

Clicking the build button after opening the workspace returns the following compile errors. I tried a clean build as well with the same results. There was another ticket for this which was closed recently. #762

![Xcode window](https://user-images.githubusercontent.com/1157297/193142596-e1b237d5-5de8-4084-b5d6-3363217b0082.png)

### To Reproduce

Click the Play button on Xcode

##

[2022-09-29 21:41] matthijseikelenboom commented on #773
Try `File` -> `Packages` -> `Reset Package Caches`

[2022-09-29 22:35] pramsky commented on #773
Did a clean build, reset the package cache and same errors during build.

[2022-09-30 03:21] #771 closed

[2022-09-30 05:59] Muhammed9991 commented on #773
Have you tried deleting derived data then doing the steps mentioned?

[2022-09-30 07:16] Tragio commented on #773
By curiosity, since Sparkle is implemented what's missing to start having alpha builds? 😁

[2022-09-30 08:26] austincondiff commented on #773
@Tragio we basically need an action to generate and host an app cast.xml file via GitHub pages.

[2022-09-30 10:22] Tragio commented on #773
That was not merged in https://github.com/CodeEditApp/CodeEdit/pull/753 🤔

[2022-09-30 13:48] prasoonmhwr commented on #711
May I take this issue , I am new to open source and this will help me boost my contributions in open source community

[2022-09-30 15:39] pramsky commented on #773
I deleted the derived data, refreshed package cache, did a clean build. Running build returned the same error.

[2022-09-30 15:55] Muhammed9991 commented on #773
You might have already done this but close Xcode then delete derived data. Then follow the same steps again.

[2022-09-30 16:03] pramsky commented on #773
@Muhammed9991 Yep, that's exactly what I did.

[2022-09-30 17:20] matthijseikelenboom commented on #773
@pramsky What hardware are you running?

What also might work is going to `About This Mac` -> `Storage` -> `Manage...` -> `Developer`. Let everything, then selected everything and delete it.

And what also might work is deleting the local repo and clone it again.

[2022-09-30 18:11] pramsky commented on #773
@matthijseikelenboom 2019 iMac intel x64.

I followed your steps and deleted the caches under Developer and the build completed successfully!

[2022-09-30 18:22] austincondiff commented on #696
@adsalad  What is the status of this? Are you still planning on working on this?

[2022-09-30 18:24] austincondiff commented on #612
Closing this issue, the scope is too broad and some are not applicable.

[2022-09-30 18:25] #612 closed

[2022-09-30 19:18] adsalad commented on #696
This one was more difficult than I thought, I think someone else should take a crack at it.

[2022-09-30 21:20] #773 closed

[2022-09-30 22:32] pramsky commented on #773
Thanks, the issue can be closed :-)

[2022-10-01 05:16] austincondiff opened #778 "CLI Tools: open"

[2022-10-01 05:16] austincondiff opened #779 "CLI Tools: version"

[2022-10-01 05:16] austincondiff opened #780 "CLI Tools: new-window"

[2022-10-01 05:16] austincondiff opened #781 "CLI Tools: reuse-window"

[2022-10-01 05:16] austincondiff opened #782 "CLI Tools: goto"

[2022-10-01 05:16] austincondiff opened #783 "CLI Tools: merge"

[2022-10-01 05:16] austincondiff opened #784 "CLI Tools: install extension"

[2022-10-01 05:16] austincondiff opened #785 "CLI Tools: uninstall extension"

[2022-10-01 05:16] austincondiff opened #786 "CLI Tools: list extensions"

[2022-10-01 05:16] austincondiff opened #787 "CLI Tools: defaults write (modify settings)"

[2022-10-01 05:24] austincondiff opened #788 "✨ Open or direct to file/line via URL (codeedit://file/{filepath}:{line}:{column})"

[2022-10-01 05:25] austincondiff opened #789 "✨ Terminal Cursor Style, Width, Blinking"
Currently the integrated terminal in CodeEdit uses the block cursor and users have no ability to change this.

In Terminal settings, users should be able to set the cursor to either Block, Underline, or Vertical Bar and additionally toggle whether or not it blinks like so...

https://user-images.githubusercontent.com/806104/196791402-ea79b149-f079-4f91-aca6-d806c571eeb0.mp4

[2022-10-01 05:25] austincondiff opened #790 "Terminal Log Length Setting"

[2022-10-01 05:28] austincondiff opened #791 "Auditory & Visual Terminal Beeps"

[2022-10-01 16:36] Muhammed9991 commented on #639
I can't replicate this. Perhaps this was resolved in a PR but not tagged.

[2022-10-02 07:34] Muhammed9991 commented on #711
Can you upload a video of whats happening. I can't replicate it.

[2022-10-03 23:35] andyPark commented on #338
I'm actively working on this, could you assign it to me? @austincondiff

[2022-10-04 14:09] ahmdyasser commented on #379
I'd like to work on this, can you please assign me to it?

[2022-10-04 17:53] b4s36t4 commented on #778
@austincondiff Can I get more info on this?

[2022-10-04 17:53] b4s36t4 commented on #778
@austincondiff Can I get more info on this?

[2022-10-04 17:53] b4s36t4 commented on #778
@austincondiff Can I get more info on this?

[2022-10-04 18:09] austincondiff commented on #778
@b4s36t4 Updated the description.

[2022-10-04 18:44] #284 closed

[2022-10-04 18:47] lukepistrol opened #803 "⚙️ Improve Github Actions Test Execution"
At the moment when building the project for testing on Github Actions, it takes minutes to fetch all dependencies, even when they weren't changed.

We can use [actions/cache](https://github.com/actions/cache) to cache the dependencies which results in way faster execution times for our CI.

It already has been implemented in CodeEditTextView:
- https://github.com/CodeEditApp/CodeEditTextView/pull/

[2022-10-04 19:52] austincondiff commented on #371
@aaryankotharii Let's start with the same as Xcode. If you can't make the option work, disable it.

[2022-10-04 21:42] austincondiff opened #805 "🐞 Empty Files beginning with dot open with QLPreview"
### Description

Empty files that name begins with a dot does not show editor, but QuickLook Preview instead.

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/806104/193935565-4b156673-f223-46fd-ae68-73cdde0a0576.png">

In this example, I have `.gitkeep` open.

### To Reproduce

1. Open file that begins with dot that has no text content.
2. Notice the editor does not o

[2022-10-04 22:57] austincondiff commented on #379
Assigned. Let me know if you have any questions.

[2022-10-05 19:05] austincondiff commented on #184
What is the status of this?

[2022-10-06 20:40] alladinian commented on #762
Had the same issue. [GRDB](https://github.com/groue/GRDB.swift) reports v6.0.0 as the minimum for Swift 5.7
Sure enough, the project builds fine when updating the Package definition of `CodeEditModules`.

[2022-10-06 21:18] matthijseikelenboom commented on #233
Are we going to modularize the whole thing? Like, what is going to stay in the app itself?

[2022-10-08 18:17] matthijseikelenboom opened #815 "🧹 Add REAME.md files to the root of every module"
The application is spread into modules to keep a clear view of the project. However, there are no descriptions in the modules describing what they do and/or provide. It would be convenient to have README.md files in the root of the module directories so people can see an overview of the functionality. For developers it might help to know where a new feature should be placed or if nothing fits it's

[2022-10-09 12:34] ahmdyasser opened #816 "🐞 `.h` extension as a default when saving files"
### Description

When I try to rename the file from `Untitled` to something like `main.swift`, it generates a header file named `main.swift.h`

### To Reproduce

1. Create an empty file
2. Click on file name
3. Rename it something like `main.swift` or `main.cpp `etc etc ..
4. Click enter or save

### Expected behavior

To generate a file with the extension entered.

### Version information

CodeEd

[2022-10-09 16:26] #805 closed

[2022-10-09 16:28] prasoonmhwr commented on #789
@austincondiff Can you please add more details :)

[2022-10-09 16:33] matthijseikelenboom opened #819 "✨ Make new ExtensionManager based on directory observation"
### Is your feature request related to a problem? Please describe.

Part of the extension architecture

### Describe the solution you'd like

Right now we (theoretically) load extensions that are registered in a local SQLite database. The only way extensions can be added is through the store. This is impractical because of two reasons.

1. As an user I want to be able to install an extension from

[2022-10-09 16:39] austincondiff commented on #789
@prasoonmhwr ✅ Done. Would you like me to assign this one to you?

[2022-10-09 16:47] prasoonmhwr commented on #789
Yes please, I would love to work on this :)

[2022-10-10 13:43] ahmdyasser opened #820 "🐞 Navigation Pane icon description missed"
### Description

Some of the Navigation Panel icons description is currently using a placeholder of three dots (`...`) and needs to be filled

### To Reproduce

Hover over navigation items

### Expected behavior

To preview the description of the hovered on item

### Version information

CodeEdit: [1.0]
macOS: [12.6.0]
Xcode: [14.0.1]

### Additional context

![image](https://user-images.githubuse

[2022-10-10 13:52] lukepistrol commented on #820
Since the panels are not yet implemented I just added `…` as description for now.

[2022-10-10 13:56] ahmdyasser commented on #820
@lukepistrol so, the issue should be closed?

[2022-10-10 14:35] austincondiff commented on #820
@lukepistrol Should we disable the icon buttons entirely then? The same applies across the app

[2022-10-10 14:37] lukepistrol commented on #820
Disable - yes I'm for that. But we should not remove them.

Just add the `.disabled` modifier

[2022-10-10 14:43] austincondiff commented on #815
That is true, and we would not want to maintain to similar documents. Each readme does not have to reflect the documentation that we would write. It can be seen on GitHub, which Xcode documentation cannot. Even if it’s just a short description, and maybe a link to filtered issues to that given module I think that may be helpful to people browsing the project that are not fully invested yet.

[2022-10-10 14:44] ahmdyasser commented on #820
@lukepistrol  I'll do it.

[2022-10-10 19:28] matthijseikelenboom commented on #815
Yes that was the idea, to provide a short description of what the module entails. Maybe with a screenshot that show what part of the app it handles, if applicable. It's for people that are looking through the code on GitHub and that maybe make an issue for a bug and can attach the right label.

Further documentation on how to expand on the module or use existing code, should indeed be placed in th

[2022-10-10 19:38] austincondiff commented on #815
Added new branch called `module-organization` to organize our modules per our discussion in Discord in #architecture.

[2022-10-10 21:54] austincondiff opened #821 "🧹 Reorganize Modules"
### Is your feature request related to a problem? Please describe.

The Modules folder is good but somewhat inconsistent because some modules exist in the main project.

### Describe the solution you'd like

We should move more into Modules folder and refactor a little bit to make our codebase a little more clear. I have divided the project into categories and am using these categories in our GH p

[2022-10-11 05:59] prasoonmhwr commented on #789
@austincondiff may i know which file i can find this code

[2022-10-11 06:02] austincondiff commented on #789
@prasoonmhwr We are using [SwiftTerm](https://github.com/migueldeicaza/SwiftTerm). It is implemented in `CodeEditModules/TerminalEmulator/src`.

[2022-10-11 06:10] austincondiff commented on #233
@lilingxi01 How exactly were you planning on doing this? I see what you are saying. I am trying to move TabBar into it's own module and I am getting `cyclic dependency declaration found` errors.

@matthijseikelenboom I think we should handle window management and application setup in the main app. Anyone else have any thoughts here?

[2022-10-11 09:41] prasoonmhwr commented on #789
@austincondiff if I am making any changes in `TerminalPreferences` file it throws an error `Thread 1: EXC_BAD_ACCESS (code=EXC_I386_GPFLT)` , here is the screenshot of my changes
<img width="744" alt="Screenshot 2022-10-11 at 3 10 56 PM" src="https://user-images.githubusercontent.com/52622674/195056008-811fe77e-642f-4b3f-b056-66948821500e.png">
<img width="1063" alt="Screenshot 2022-10-11 at 3 11

[2022-10-11 12:12] lukepistrol commented on #789
@prasoonmhwr I don't exactly know why an error is thrown here but may I suggest using an `enum` for `cursorStyle`? This can be implemented like the `public var shell: TerminalShell`.

[2022-10-11 20:57] austincondiff opened #826 "🧹 Move Preferences and Themes to Application Support Folder"
We will be retiring `~/.codeedit` in favor of `~/Library/Application Support/CodeEdit`. We need to move everything from `.codeedit` over to its new location.

[2022-10-11 20:59] lukepistrol commented on #826
Worth to mention: We do not need any migration at this point!

[2022-10-13 05:58] leon-wolf commented on #567
I you like you can assign me to this issue and i would take a look :)

[2022-10-13 06:42] austincondiff commented on #567
I've assigned it to you. But we may consider the following before starting this task:
1. Should this be an extension (it would still ship with CodeEdit)
  - If yes: can we work on it now in the core and move it into an extension later or should we wait until we have a more solidified Extensions API?
2. Should the preview be in the same tab or a separate tab?
  - If same tab: should it split the la

[2022-10-13 14:25] #826 closed

[2022-10-14 10:14] prasoonmhwr commented on #789
Hey Guys,

I am using this `terminal.cursorStyleChanged(source: terminal.getTerminal(), newStyle: SwiftTerm.CursorStyle.blinkUnderline)` to update the cursor but this is not working in swiftTerm, any ideas? I even wrote to SwiftTerm Q&A but no reply yet.

[2022-10-14 20:10] austincondiff commented on #789
@prasoonmhwr I see your issue, https://github.com/migueldeicaza/SwiftTerm/issues/264. Hopefully they get back to you soon. I will look through their code and if anything jumps out at me I will let you know.

[2022-10-14 20:14] austincondiff commented on #789
@prasoonmhwr I found it posted in their API documentation [here](https://migueldeicaza.github.io/SwiftTerm/Enums/CursorStyle.html).

[2022-10-15 14:45] anarchy89 opened #830 "✨ Support for choosing python interpreter and jupyter notebooks"
### Is your feature request related to a problem? Please describe.

I like that I can do all my coding on vscode even my data science work but there is not native ide that has an all in one like this

### Describe the solution you'd like

In vs code, I can install the python or julia extensions together with the jupyter extension.

I can find all my interpreters even in conda environments and choo

[2022-10-15 15:26] matthijseikelenboom commented on #830
We are still working on our extension API. And it will take some time before it ready for proper use. The idea for this kind of functionality is that the community can build them themself using the API. So no, this will likely not be high on our priority list, if at all.

What we can do is what kind of API functions are required so that other people can develop these kind of extensions.

[2022-10-16 07:40] #820 closed

[2022-10-16 12:22] sk409 commented on #62
@austincondiff
I would like to work on this issue if I can implement this in [GitHub style](https://github.com/CodeEditApp/CodeEdit/issues/62#issuecomment-1073298508).

[2022-10-16 16:36] austincondiff commented on #62
Let’s default it to how Xcode handles this by default with a setting to offset the lines as mentioned. Does that work for everyone?

[2022-10-17 02:02] tommyming commented on #768
@austincondiff Hello, I would like to work on this issue, may I have more information about this? Thanks.

[2022-10-17 03:00] austincondiff commented on #768
@tommyming Added details above. Let me know if you have any additional questions.

[2022-10-17 08:46] schmidan opened #834 "🐞 ? Changes to File not persisted"
# Description
This might be a silly permission or sandbox issue/misconfiguration on my part but i did not find anything about it in the readme/faq.

Changes to files are not written by CodeEditApp.
- It does not matter if it is a file created by CodeEdit or if it is an existing file.
- Neither `File > Save` nor `cmd - s` works

# To Reproduce
- The changes look as if they are saved but closing reo

[2022-10-17 16:22] austincondiff commented on #834
I wonder if this has something to do with making edits in a temporary tab. When you make any changes, this temporary tab _should_ convert to a normal tab. I notice from the video, the tab label is still in italics after you start typing.

[2022-10-17 20:39] schmidan commented on #834
You are right. This notification observer is never firing:
`WorkspaceDocument.swift:294`

[code]

This also seems to be the only occurrence of that name in the code base. Has the name changed and was forgotten to be updated somewhere?

I tried `STTextView.willChangeNotification` but then it transitions to a normal tab immediately

[2022-10-17 21:11] austincondiff commented on #834
@schmidan It is possible. We may need to build that in if it doesn't yet exist. It should be converted to a standard tab once didBeginEditing is fired.

[2022-10-18 07:06] schmidan commented on #834
@austincondiff would that have to be in `STTextView`?
That module currently fires `STTextView.didChangeNotification` but it does so also on opening an existing document.
There is no `didBeginEditing`

Anyhow, using the `didChangeNotification` does not solve the underlying issue: changes are not persisted.
Does the NSDocument somehow not receive the changes from the editor?

[2022-10-18 19:00] austincondiff commented on #834
@lukepistrol or @thecoolwinter may be better to answer this.

[2022-10-20 03:53] prasoonmhwr commented on #789
@austincondiff there is no reply in that issue and I have tried this `TerminalOptions` as well but no luck, what should we do now.

[2022-10-20 12:53] YousufSSyed opened #838 "Is there a way to track progress of CodeEdit and see the roadmap of things to be done before the first alpha version is available?"
I like to check on the progress of CodeEdit occasionally, it's a really cool project.

[2022-10-20 20:54] matthijseikelenboom commented on #838
There is: https://github.com/orgs/CodeEditApp/projects/3

[2022-10-20 20:57] YousufSSyed commented on #838
Thank you!

[2022-10-23 20:19] anarchy89 commented on #830
Thanks!

Yeah as long as it allows for its creation that would be great, I think the notebooks need to be able to render ipython https://blog.jetbrains.com/pycharm/2014/12/feature-spotlight-ipython-notebook-inside-an-ide/ but I'm not sure.

[2022-10-28 03:30] thecoolwinter opened #841 "🐞 Terminal Cursor Lagging"
### Description

The terminal's cursor appears to lag when the view's layout changes.

### To Reproduce

- Open the terminal
- Execute any command
- Modify the size of the terminal *this is easier to see if you do it abruptly*
- The cursor should lag behind the rest of the view's text and even bleed out into the rest of the view hierarchy

### Expected behavior

The cursor should stay on the corre

[2022-10-29 01:49] lukepistrol opened #845 "🐞 Runtime Error: Publishing changes from within view updates"
### Description

When running the app and opening a file in a project, hundreds of runtime errors (purple) are generated on

- `var selectionState` in `WorkspaceDocument.swift::31`
   - https://github.com/CodeEditApp/CodeEdit/blob/a0848b9f6385a8bb0fab05e01f0daf3b4a3c4d25/CodeEdit/Documents/WorkspaceDocument.swift#L31
- `var preferences` in `AppPreferencesModel.swift::35`
   - https://github.com/Co

[2022-10-29 10:12] #803 closed

[2022-10-29 10:15] #386 closed

[2022-10-29 15:41] ahmdyasser commented on #778
@austincondiff  is there already CLI for CodeEdit that can be installed via Homebrew or something?

[2022-10-29 15:43] lukepistrol commented on #778
@ahmdyasser Since we're still working on getting our first beta release ready, no, there isn't any homebrew formula available yet.

[2022-10-29 16:53] austincondiff commented on #778
@ahmdyasser you are more than welcome to do this. We already have a CLI, we just need to add these features. Some work has already been done to move the cursor to a specific location here:

- https://github.com/CodeEditApp/CodeEdit/pull/840

[2022-10-31 09:47] anarchy89 commented on #830
I saw some a diagram of how the architecture works if this helps https://medium.com/@fengliplatform/zmq-and-jupyter-notebook-kernel-223e3bf9ff54 seems it uses a zeromq backend to communicate with other apps.

[2022-10-31 15:36] 0xWDG commented on #834
`CodeEditor.didBeginEditing` is used to determine that the document is/was changed (for keeping the tab open).
If there are no changes, the tab will be switched to the newly opened file.

The biggest problem is that `NSDocument.save()` seems to be unrelaiable.
in another project i've used the following code what does work for us (in all cases).

[code]

[2022-10-31 15:43] 0xWDG commented on #816
Was your last opened file a `.h` file? normally it uses the extension of the last opened file.

[2022-10-31 17:02] austincondiff commented on #834
Thanks for the heads up @0xWDG!

[2022-11-01 05:18] austincondiff commented on #567
Here is a potential resource mentioned in Discord
- [gonzalezreal/MarkdownUI](https://github.com/gonzalezreal/MarkdownUI)

[2022-11-01 10:46] StefKors commented on #567
btw Swift UI supports markdown natively like so:

[code]

For finetuned control of rendering output you can read here how that works: https://developer.apple.com/documentation/swiftui/text/init(_:)-1a4oh

An alternative library can be found here: https://github.com/apple/swift-markdown

[2022-11-02 19:31] pabloscloud commented on #834
https://user-images.githubusercontent.com/93644977/199585248-6693e2dc-f00e-4892-b85e-0523363ba921.mov

I can confirm this isn't an issue on their part only

[2022-11-03 04:39] austincondiff opened #852 "🐞 Clicking Create New File from Welcome Screen hangs app"
### Description

When launching CodeEdit, the user is presented with the option to create a new file in the welcome screen. When clicked, it hangs the app and is not longer responsive.

### To Reproduce

1. Open CodeEdit
2. Click Create New File from Welcome Screen
3. Notice App hang

### Expected behavior

An empty editor appears.

[2022-11-03 07:37] pabloscloud opened #853 "🐞 Pasted text won't get formatted"
### Description

Pasted text will just appear black and small instead of formatted.

<img width="235" alt="Screenshot 2022-11-02 at 20 43 59" src="https://user-images.githubusercontent.com/93644977/199667816-caef88c7-eb51-4947-9265-966a9d67863d.png">

### To Reproduce

1. Open a file inside of a project
2. Copy some unformatted text from another program
3. Paste it

### Expected behavior

Should j

[2022-11-03 15:55] 0xWDG commented on #853
i think you uploaded the wrong image, the image describes pip-icons.

[2022-11-03 16:35] pabloscloud commented on #853
haha, just realised it

[2022-11-04 14:43] matthijseikelenboom commented on #845
From what I can tell, this is a Xcode 14.x issue.

https://developer.apple.com/forums/thread/711899

https://www.donnywals.com/xcode-14-publishing-changes-from-within-view-updates-is-not-allowed-this-will-cause-undefined-behavior/

[2022-11-04 14:58] pabloscloud commented on #845
I have the same problem in one of my projects too and believe this is an issue with xcode itself

[2022-11-04 15:03] matthijseikelenboom commented on #852
When I try this, the app straight up crashes. I've no clue what the stack trace means or is trying to say.

<img width="2464" alt="image" src="https://user-images.githubusercontent.com/1364843/200005639-71ab96a3-47ed-4b66-bbab-fa310d13e59b.png">

<img width="960" alt="image" src="https://user-images.githubusercontent.com/1364843/200007760-ed530762-b546-4550-94a3-1c7f051c076c.png">

[2022-11-04 20:36] austincondiff commented on #338
@andyPark Are you still working on this? Just wanted to make sure.

[2022-11-04 20:47] austincondiff commented on #379
@ahmdyasser I just wanted to check if you were still working on this or if you needed any help with anything?

[2022-11-05 02:23] andyPark commented on #338
@austincondiff Hey I got dragged into another project, sorry but I can't finish this task at the moment!

[2022-11-05 04:17] austincondiff commented on #338
No worries. Anybody else care to take this on?

[2022-11-05 12:12] sk409 commented on #62
@austincondiff
I haven‘t figured out how to implement this but I‘d like to work on this issue.
Please assign this issue to me.

[2022-11-05 15:48] ahmdyasser commented on #379
HI @austincondiff,  I got a bit busy, you can re-assign it if anyone is up to it.

[2022-11-08 08:50] octree commented on #852
The crash is caused by `STTextView`, you can simply reproduce this issue by opening an empty file.
It will crash at line 84 in `STLineNumberRulerView.swift`
This line of code tries to read the paragraph style of the first character.

![image](https://user-images.githubusercontent.com/7934444/200517638-063c4dd9-4d46-4fd9-9df9-95f66b6f8d53.png)

[2022-11-12 09:58] denizak commented on #852
this should fix the issue https://github.com/krzyzanowskim/STTextView/pull/7

[2022-11-15 02:20] austincondiff opened #856 "✨ Snap Sidebar To Width"
### Describe the solution you'd like

Snap the sidebar at a specific width. Xcode snaps to 270 we should follow suit.

When below this snapped width, the sidebar dock icons condense.

In Finder, when the sidebar snaps to a width, the user gets subtle haptic feedback to reinforce what happened.

### Video Demo

https://user-images.githubusercontent.com/806104/201810793-a4a02d92-4612-4c4f-a808-dcc4d

[2022-11-16 07:10] emoonadev commented on #852
Please merge the fix

[2022-11-17 13:09] bombardier200 commented on #379
@austincondiff assign me this please!

[2022-11-17 13:24] matthijseikelenboom commented on #379
@bombardier200 You have been assigned, might want to clone @ahmdyasser 's branch so you have some boilerplate.

[2022-11-18 21:49] #819 closed

[2022-11-20 07:11] denizak commented on #852
the fix is in here https://github.com/krzyzanowskim/STTextView/releases/tag/0.1.2

[2022-11-20 07:21] denizak commented on #852
fix is in https://github.com/CodeEditApp/CodeEditTextView/pull/96